<h2>{{'home' | lang}}</h2>
<h4 class="margin-top-24" style="width: 60em;">{{'homeMsg' | lang}}</h4>

<!--Choices-->
<div class="flex-container">
    <div ng-click="selectView('newDesign')" 
        ng-init="design = 'img/designs/design-activity.svg'"
        ng-mouseover="design = 'img/designs/design-activity-active.svg'"
        ng-mouseout="design = 'img/designs/design-activity.svg'">
        <p class="box-text">{{'designActivity' | lang}}</p>
        <div class="thumbnail-image" ng-style="{ 'background-image': 'url(' + design + ')' }"></div>
    </div>
    <div ng-click="selectView('launchActivity')"
        ng-init="launch = 'img/designs/launch.svg'"
        ng-mouseover="launch = 'img/designs/launch-active.svg'"
        ng-mouseout="launch = 'img/designs/launch.svg'">
        <p class="box-text">{{'launchAnActivity' | lang}}</p>
        <div class="thumbnail-image" ng-style="{ 'background-image': 'url(' + launch + ')' }"></div>
    </div>
    <div ng-click="selectView('designs')"
        ng-init="designShare = 'img/designs/design-share.svg'"
        ng-mouseover="designShare = 'img/designs/design-share-active.svg'"
        ng-mouseout="designShare = 'img/designs/design-share.svg'">
        <p class="box-text">{{'shareActivityDesign' | lang}}</p>
        <div class="thumbnail-image" ng-style="{ 'background-image': 'url(' + designShare + ')' }"></div>
    </div>
    <div ng-click="selectView('designs')"
        ng-init="designSearch = 'img/designs/design-search.svg'"
        ng-mouseover="designSearch = 'img/designs/design-search-active.svg'"
        ng-mouseout="designSearch = 'img/designs/design-search.svg'">
        <p class="box-text">{{'searchSharedDesign' | lang}}</p>
        <div class="thumbnail-image" ng-style="{ 'background-image': 'url(' + designSearch + ')' }"></div>
    </div>
    <div ng-click="selectView('users')" ng-if="institution"
        ng-init="manageUsers = 'img/designs/manage-users.svg'"
        ng-mouseover="manageUsers = 'img/designs/manage-users-active.svg'"
        ng-mouseout="manageUsers = 'img/designs/manage-users.svg'">
        <p class="box-text">{{'adminInstUsers' | lang}}</p>
        <div class="thumbnail-image" ng-style="{ 'background-image': 'url(' + manageUsers + ')' }"></div>
    </div>
    <div ng-click="selectView('institution')" ng-if="institution"
        ng-init="institution2 = 'img/designs/institution.svg'"
        ng-mouseover="institution2 = 'img/designs/institution-active.svg'"
        ng-mouseout="institution2 = 'img/designs/institution.svg'">
        <p class="box-text">{{'adminInstData' | lang}}</p>
        <div class="thumbnail-image" ng-style="{ 'background-image': 'url(' + institution2 + ')' }"></div>
    </div>
</div>

<!--Activities-->
<h2>{{'recentActivity'|lang}}</h2>
<div class="activities_container" ng-controller= "TabsController">
    <div class="list-group pad-content">
        <div class="list-group-item" ng-repeat="ses in currentSessions() | limitTo: 3">
            <a href="admin#/{{ses.id}}"><h4 class="list-group-item-heading" ng-bind="ses.name"></h4></a>
            <p class="list-group-item-text" ng-bind="ses.descr"></p>
            <p class="list-group-item-text">{{'launched' | lang}} {{ses.time | date}}</p>
            <p class="list-group-item-text">{{'code' | lang}}: {{ses.code}}</p>
            <div class="text-right">
                <a href="admin#/{{ses.id}}"><button class="btn btn-primary ">{{'gotoActivity' | lang}}</button></a> 
                <!--{{routes[ses.type]}}?sesid={{ses.id}}-->
            </div>
        </div>
    </div>
</div>

<button class="btn btn-info " ng-click="changeLang()">{{'langOther' | lang}}</button>
<button class="btn btn-info " ng-click="institution = !institution">Institution</button>
