<h2>{{'launchActivity' | lang}}</h2>
<br>
<p>Escoge el diseño de actividad que desees lanzar.</p>
<br>

<div ng-init="dgsnSel={'dsgn':''}">
    <div clas="col-lg-1">
        <input class="form-control text-center" type="text" placeholder="{{'search'|lang}}" ng-model="userSearch" style="height: 2em;">
    </div>
    <div class="container" style="overflow: scroll; max-height: 20em; min-height: 10em;">
        <div class="list-group-item dsgn" ng-repeat="ses in designs | filter:userSearch" 
        ng-click="dgsnSel.dsgn = ses" ng-class="{'dsgn-sel': dgsnSel.dsgn.id == ses.id}"> <!--UPDATE IT CORRECTLY-->
            <h4 class="list-group-item-heading" ng-bind="ses.metainfo.title"></h4>
            <p class="list-group-item-text">{{'created' | lang}} {{ses.metainfo.creation_date | date}}</p>
        </div>
    </div>
</div>
<p><strong>[DEBUG] Design selected: {{dgsnSel.dsgn.id}}</strong>->{{dgsnSel.dsgn.metainfo.title}}</p>
<br>
<p>Dale una descripcion a la actividad</p>
<div ng-controller="ActivityController">
    <form ng-submit="createSession(dgsnSel.dsgn.metainfo.title,descr, 'M', dgsnSel.dsgn.id)">
        <div class="row">
            <div class="col-lg-6">
                <input type="text" class="form-control" ng-model="descr" required>
            </div>
        </div>
        <div class="row" >
            <div class="col-lg-6">
                <button class="btn btn-primary">Lanzar actividad</button>
            </div>
        </div>
    </form>
</div>
