<br>
<br>
<a ng-click="selectView('')" >{{'back'|lang}}</a>
<br>
<h2>{{'designMsg'|lang}}</h2>
<div >
    <div class="modal-header">
        <h4>{{'designMsgInfo'|lang}}<h4>
    </div>
    <form class="modal-body" name="formDesign">
        <div class="form-group" style="display: flex;">
            <label class="line-labels">{{'activityType' | lang}}: </label>
            <select name="type" class="form-control line-input">
                <option value="M">{{ 'semUnits' | lang }}</option>
                <option value="S">{{ 'multSel' | lang }}</option>
                <option value="R">{{ 'rolePlaying' | lang }}</option>
                <option value="T">{{ 'ethics' | lang }} 2</option>
                <option value="J">{{ 'jigsaw' | lang }}</option>
            </select>
        </div>
        <div class="form-group" style="display: flex;">
            <label class="line-labels">{{'title'|lang}}:</label>
            <input type="text" class="form-control line-input" name="name" ng-model="title" ng-required="true">
        </div>
        <br>
        <hr>
        <br>
        <button class="btn btn-primary" 
        ng-click = "formDesign.$valid && uploadDesign(title,'template')" 
        type="submit">{{'next'|lang}}</button>
    </form>
    <button class="btn btn-warning" 
        ng-click = "selectView('newDesignExt')" 
        type="submit">TESTING</button>
</div>