body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navmenu {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.sidenav {
    height: 100%;
    width: 14em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 10pt;
    color: #555;
    display: block;
    border-bottom: 1px solid #bbb;
}

.vl {
    border-left: 1px solid #bbb;
    height:100%;
    position: absolute;
    margin-left: -3px;
}

.sidenav a:hover {
    color: #818181;
}

.main_body {
    margin-left: 14em; /* Same as the width of the sidenav */
    padding: 0 10px;
}

.thumbnail_image{
    min-width:60px;
    min-height:60px;
    max-width:60px;
    max-height:60px;
    background-repeat: no-repeat;
}

.flex_container {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    align-items: center;
    gap: 30px;  
}

.flex_container > div {
    background-color: #fff;
    width: 13em;
    height: 6.8em;
    margin: 0.625em;
    text-align: center;
    line-height: 2.135em;
    font-size: 1em;
    border:1px solid #bbb;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    border-radius: 2px;
    padding: 10px;
}

.flex_container > div:hover {
    border:1px solid #2649EC;
}

.circle {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
}

.circle_profile {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #fff;
}

.line_labels {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
}

.line_input {
    margin-left: 10px;
}

.activities_container {
    min-width: 20em;
    max-width: 80em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left:1em;
    margin-right:1em;
}

/* Phase item */
.phase_element {
    border:4px solid #bbb;
    height:5em;
    width:15em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Phase container */
.phase_container {
    max-width: 80em;
    margin: 2em;
    border:1px solid #bbb;
}

.margin_container {
    margin: 2em;
}

.phase_selected {
    border:4px solid #f39316;
}

.phase_current {
    border:4px solid #7bc54a;
}

.phase_element:hover {
    border:4px solid #67aed6;
}

/* Current phase container */
.stage_container {
    margin: 2em;
    max-width: 80em;
    border:1px solid #bbb;
}

.question_container {
    max-width: 80em;
    padding: 1em;
    margin-bottom: 1em;
    border:1px solid #bbb;
}

.tab_cs {
    overflow: hidden;
}
  
.tab_cs button {
    float: left;
    outline: none;
    cursor: pointer;
    width: 9em;
    height: 2em;
    padding: 6px 27px;
    transition: 0.3s;
    border: 1px solid #ddd;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-right: 1rem;
    border-bottom: none;
    color: black;
}

.tab_cs button:hover {
    border: 1px solid gray;
    border-bottom: none;
}

.btn_selected {
    background-color: #bbb;
    font-weight: bolder;
}

.margin_left_low {
    margin-left: 2em;
}

.stack_top {
    z-index: 9;
    margin: 20px;
}

.div_debug { /* USE TO CHECK DIV SIZES */
    border: 1px solid rgb(245 0 0);
    background-color: #99f8ff;
}

.debug_wip {
    background-color: rgb(226 95 95); color: white;
}

.box_text {
    line-height: 1.25em;
    text-align: left;
    margin-left: 0.25em;
    margin-top: 0.25em;
}

.dsgn_sel {
    background-color: #67aed6;
}

.dsgn:hover {
    cursor: pointer;
}

/* TOGGLE SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #52f321;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #52f321;
}
  
input:checked + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round::before {
    border-radius: 50%;
}

/* The following CSS classes are from libraries (it seems), so the kebab-case will be preserved */

.ngdialog-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}
  
.ngdialog-content {
    position: absolute;
    z-index: 10001;
}

.error {
    background-color: #ff858581 !important;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}