@font-face {
    font-family: 'Avenir';
    src: url('../../webfonts/Avenir-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import '../bootstrap.min.css';
@import '../ngDialog-theme-default.css';
@import '../nv.d3.min.css';
@import '../../fontawesome/css/all.min.css';
//@import '../fontawesome.min.css';
@import '../tablesort.min.css';
@import '../custom.css';
@import '../minimal.css';
@import '../main.css';
@import '../angular-ui-tree.min.css';
@import '../angular-toggle-switch-bootstrap-3.css';
