<div>
    <div class="modal-header">
        <button class="btn btn-default pull-right" ng-click="vm.cancel()"><i class="fa fa-close"></i></button>
<!--        <button class="btn btn-default pull-right" ng-click="vm.shareDetails()"><i class="fa fa-share"></i></button>-->
        <h4>{{ vm.data.stage.question }}</h4>
    </div>
    <div class="modal-body">
        <div id="details-modal">
            <div ng-repeat="sel in vm.data.sel">
                <h4 class="anon-badge">{{ vm.data.users[sel.uid].name }}</h4>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <div>
                            <h4 ng-if="sel.arr.length == 0">Sin Respuestas enviadas</h4>
                            <div class="list-group">
                                <div class="list-group-item drag-item" ng-repeat="aid in sel.arr track by $index">
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-1 h30 text-center">
                                            {{$index + 1}}.
                                        </div>
                                        <div class="col-xs-6 col-sm-7 h30">
                                            <strong>{{ actorMap[aid].name }}</strong>
                                        </div>
                                        <div class="col-xs-4 text-right">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            {{ sel.com[$index] }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.data.stage.chat">
                <h4><strong>Chat</strong></h4>
                <div class="chat bordered">
                    <div class="chat-area" scroll-glue>
                        <strong ng-show="vm.data.chat.length == 0">No hay mensajes</strong>
                        <div class="chat-msg" ng-repeat="msg in vm.data.chat">
                            <div class="font-mini parent-msg" ng-show="msg.parent != null">
                                <div class="anon-badge margin-left-n8" ng-if="!vm.isAnon">{{vm.data.users[msg.parent.uid].name}}</div>
                                <div class="anon-badge margin-left-n8" ng-if="vm.isAnon">{{vm.data.anonNames[msg.parent.uid]}}</div>
                                <span class="content">{{msg.parent.content | limitTo:100}}</span>
                            </div>
                            <i class="fa fa-reply" ng-show="msg.parent != null"></i>
                            <div class="anon-badge" ng-class="{'margin-left-n8': msg.parent == null, 'simple-margin-left': msg.parent != null}">
                                {{vm.data.users[msg.uid].name}}
                            </div>
                            <span class="pull-right font-mini text-right">
                                <span class="text-muted">{{msg.stime | date:'HH:mm dd-MM-yy'}}</span>
                            </span>
                            <span class="content">{{msg.content}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<strong>Promedio: {{getAvg() | number:2}} / 4</strong>-->
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cerrar</button>
        </div>
    </div>
</div>
