<div>
    <div class="modal-header">
        <button class="btn btn-default pull-right" ng-click="vm.isAnon = !vm.isAnon"><i class="fa fa-eye"></i></button>
        <button class="btn btn-default pull-right" ng-click="vm.shareDetails()"><i class="fa fa-share"></i></button>
        <h4>Item{{vm.data.df.orden}}: {{vm.data.df.title}} - {{'stage' | lang}} {{vm.data.stage.orden}}</h4>
    </div>
    <div class="modal-body">
        <div id="details-modal">
            <div class="differential margin-top-8" ng-repeat="res in vm.data.arr">
                <div class="row">
                    <div class="col-xs-3 text-right">
                        <span>{{vm.data.df.tleft}}</span>
                    </div>
                    <div class="dopts col-xs-6">
                        <div class="option eq-space" ng-repeat="i in vm.data.dfarr"
                             ng-class="{selected: res.sel == i}">{{i}}</div>
                        <br>
                    </div>
                    <div class="col-xs-3">
                        <span>{{vm.data.df.tright}}</span>
                    </div>
                </div>
                <div class="margin-top-28 bordered pad-content">
                    <div class="anon-badge margin-left-n8" ng-if="!vm.isAnon">{{vm.data.users[res.uid].name}}</div>
                    <div class="anon-badge margin-left-n8" ng-if="vm.isAnon">{{vm.data.anonNames[res.uid]}}</div>
                    <span>{{res.comment}}</span>
                </div>
                <br>
            </div>
            <hr class="bordered black">
            <h4><strong>Chat</strong></h4>
            <div class="chat bordered">
                <div class="chat-area" scroll-glue>
                    <strong ng-show="vm.data.chat.length == 0">No hay mensajes</strong>
                    <div class="chat-msg" ng-repeat="msg in vm.data.chat">
                        <div class="font-mini parent-msg" ng-show="msg.parent != null">
                            <div class="anon-badge margin-left-n8" ng-if="!vm.isAnon">{{vm.data.users[msg.parent.uid].name}}</div>
                            <div class="anon-badge margin-left-n8" ng-if="vm.isAnon">{{vm.data.anonNames[msg.parent.uid]}}</div>
                            <span class="content">{{msg.parent.content | limitTo:100}}</span>
                        </div>
                        <i class="fa fa-reply" ng-show="msg.parent != null"></i>
                        <div class="anon-badge" ng-if="vm.isAnon" ng-class="{'margin-left-n8': msg.parent == null, 'simple-margin-left': msg.parent != null}">
                            {{vm.data.anonNames[msg.uid]}}
                        </div>
                        <div class="anon-badge" ng-if="!vm.isAnon" ng-class="{'margin-left-n8': msg.parent == null, 'simple-margin-left': msg.parent != null}">
                            {{vm.data.users[msg.uid].name}}
                        </div>
                        <span class="pull-right font-mini text-right">
                            <span class="text-muted">{{msg.stime | date:'HH:mm dd-MM-yy'}}</span>
                        </span>
                        <span class="content">{{msg.content}}</span>
                    </div>
                </div>
            </div>
        </div>

        <!--<strong>Promedio: {{getAvg() | number:2}} / 4</strong>-->
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cerrar</button>
        </div>
    </div>
</div>
