<div>
    <div class="modal-header">
        <h4>{{ 'gotoNext' | lang }}</h4>
    </div>
    <div class="modal-body">
        <div>
            <label><input type="radio" value="S" ng-model="vm.radioval"> {{ 'createSameStage' | lang }}</label>
        </div>
        <div>
            <label><input type="radio" value="N" ng-model="vm.radioval"> {{ 'createNewStage' | lang }}</label>
        </div>
        <div>
            <label><input type="radio" value="F" ng-model="vm.radioval"> {{ 'finishSes' | lang }}</label>
        </div>
        <br>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cerrar</button>
            <button class="btn btn-primary" type="button" ng-click="vm.accept()">Aceptar</button>
        </div>

    </div>
</div>
