PGHOST=postgresql
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=ethicapp
PGSSLMODE=disable
TRUST_PROXY=1
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_SESSION_HOST=redis
REDIS_SESSION_PORT=6379
REDIS_CACHE_HOST=redis
REDIS_CACHE_PORT=6379

DEBUG_SQL=false
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=mailer@example.com
SMTP_PASS=super_secret_password
SMTP_FROM="EthicApp <no-reply@example.com>"

RECAPTCHA_SECRET_KEY=place_holder_secret_key
RECAPTCHA_VERIFY_URL=https://www.google.com/recaptcha/api/siteverify
VITE_RECAPTCHA_SITE_KEY=place_holder_secret_key
RECAPTCHA_ENABLED=true
