NODE_ENV=development
ETHICAPP_WATCH_FRONTEND=true
NGINX_MAINTENANCE_MODE=false
NGINX_MAINTENANCE_RETRY_AFTER=3600
REDIS_SESSION_MAXMEMORY=128mb
REDIS_SESSION_MAXMEMORY_POLICY=volatile-ttl
REDIS_CACHE_MAXMEMORY=256mb
REDIS_CACHE_MAXMEMORY_POLICY=allkeys-lru
