.idea/
.DS_store

# Ignorar secretos
.env
.env.*

# Permitir templates
!.env.example
!.env.*.example

# Secret files, but keep directory
secrets/
!secrets/.keep

# Log files and root node modules (for linters)
*.log
*.lock
package-lock.json
node_modules/
*.backup

.codegpt