.idea/
.DS_store

.env

# Postgres dev volume(s)
db-data-volume/
db-data-volume*/

# Secret files, but keep directory
secrets/
!secrets/.keep

# Log files and root node modules (for linters)
*.log
*.lock
package-lock.json
node_modules/
*.backup
