.idea/
.DS_store

# Postgres dev volume(s)
db-data-volume/
db-data-volume*/

# Docker-compose secrets
secrets/

# Log files and root node modules (for linters)
*.log
*.lock
package-lock.json
node_modules/
*.backup
