# Garantiza compatibilidad con npm 6
lockfileVersion=1

# Si por error corres npm 7+ en el host, esto evita errores con peer deps
legacy-peer-deps=true

# Reduce verbosidad
loglevel=warn

# Asegura que se use y actualice el lockfile
package-lock=true
