# --------------------------------------------------------------------------------------------------
# DEVELOPMENT docker-compose.
# --------------------------------------------------------------------------------------------------

version: "3.9"

networks:
  default:

secrets:
  jwt_token:
    file: ./secrets/jwt_token

services:
  # ---------------------- Node web app ---------------------- #
  node:
    container_name: "ethicapp-node"
    build:
      context: ethicapp-node/
      args:
        NODE_VERSION: ${NODE_VERSION}
    secrets:
      - jwt_token
    environment:
      NODE_ENV: development
      NODE_PORT: ${NODE_PORT}
    restart: "no"
    networks:
      default:
    ports:
      - "${NODE_PORT}:${NODE_PORT}"
    volumes:
      - "./ethicapp-node:/home/app:rw"
    depends_on:
      postgres:
        condition: service_healthy

  # ---------------------- Database ---------------------- #
  postgres:
    container_name: "ethicapp-postgres"
    build:
      context: postgres-db/
      args:
        UBUNTU_VERSION: "22.04"
        POSTGRES_VERSION: ${POSTGRES_VERSION}
        DB_NAME: ${DB_NAME}
        DB_USER_NAME: ${DB_USER_NAME}
        DB_USER_PASSWORD: ${DB_USER_PASSWORD}
    environment:
      POSTGRES_LOG_LEVEL: 1
      PGPORT: 5432
      PGDATA: /var/lib/postgresql/${POSTGRES_VERSION}/main
    restart: unless-stopped
    networks:
      default:
    healthcheck:
      test: ["CMD-SHELL", "su healthcheckuser -c pg_isready"]
      interval: 20s
      timeout: 5s
      retries: 1
      start_period: 10s
    volumes:
      - "${HOST_DB_VOLUME_PATH}:/var/lib/postgresql/${POSTGRES_VERSION}/main:rw"

  # ---------------------- PGAdmin ---------------------- #
  pgadmin:
    container_name: "ethicapp-pgadmin"
    build:
      context: pgadmin/
      args:
        PGADMIN_VERSION: ${PGADMIN_VERSION}
        POSTGRES_CONN_PORT: 5432
        POSTGRES_CONN_USER: ${DB_USER_NAME}
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    restart: unless-stopped
    networks:
      default:
    ports:
      - "${PGADMIN_PORT}:80"
    depends_on:
      postgres:
        condition: service_healthy
