<html ng-app="Admin">
<head>
    <meta charset="UTF-8">
    <title>DocCollab</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/nv.d3.min.css">
    <link rel="stylesheet" href="css/main.css"/>
    <script src="libs/angular.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="libs/angular-bootstrap-multiselect.js"></script>
    <script src="libs/d3.min.js"></script>
    <script src="libs/nv.d3.min.js"></script>
    <script src="libs/angular-nvd3.min.js"></script>
    <script src="js/admin-ctrl.js"></script>
</head>
<body class="bg-white" ng-controller="AdminController">

<div class="row top-bar">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-10">
        <h5><i class="fa fa-sliders"></i> Panel de administración</h5>
    </div>
    <div class="col-sm-1">
        <a class="btn btn-default" href="logout"><i class="fa fa-close"></i></a>
    </div>
</div>

<div class="row full-height">

    <div class="col-sm-4">
        <div class="side-panel">
            <button class="btn btn-sm btn-default pull-right" ng-click="openNewSes()">Nueva</button>
            <h4>Lista de Sesiones:</h4>
            <div class="list-group">
                <a class="list-group-item" ng-repeat="ses in sessions" ng-click="selectSession($index)"
                   ng-class="{'active':$index==selectedIndex}">
                    <h4 class="list-group-item-heading" ng-bind="ses.name"></h4>
                    <p class="list-group-item-text" ng-bind="ses.descr"></p>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-8" ng-show="selectedIndex!=-1" ng-controller="TabsController">
        <h3>{{selectedSes.name}}</h3>
        <div class="btn-group center-block w300">
            <button class="btn btn-default" ng-repeat="x in tabOptions" ng-bind="x"
                    ng-class="{active: $index==selectedTab}" ng-click="setTab($index)">
            </button>
        </div>

        <br>
        <br>

        <div class="pad-content" ng-show="selectedTab == 0" ng-controller="SesEditorController">
            <h4>Estado</h4>
            <div class="center-block font-large">
                <span ng-repeat="st in sesStatusses">
                    <span class="label label-default" ng-class="{'label-success': $index==selectedSes.status-1}"
                          ng-bind="st"></span> <i class="fa fa-arrow-right" ng-hide="$last"></i>
                </span>
            </div>
            <br>
            <button class="btn btn-sm btn-default pull-right">Pasar al siguiente estado</button>
            <br>
            <hr>
            <br>
            <h4>Detalles</h4>
            <label>Titulo:</label>
            <input type="text" class="form-control" ng-model="selectedSes.name">
            <br>
            <label>Factor detonante:</label>
            <textarea class="form-control" ng-model="selectedSes.descr"></textarea>
            <br>
            <button class="btn btn-default pull-right" ng-click="updateSession()">Guardar cambios</button>
            <br>
            <hr>
            <br>
            <div ng-show="selectedSes.type == 'L'">
                <h4>Documentos</h4>
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="doc in documents">
                        <i class="fa fa-file-text-o"></i> <strong ng-bind="doc.title"></strong>
                        <a href="{{doc.path}}" class="discrete"> - Ver documento original</a>
                        <button class="btn btn-xs btn-default pull-right">Eliminar</button>
                    </div>
                </div>
                <br>
                <label>Agregar documento:</label>
                <form class="input-group" action="upload-file" method="post" enctype="multipart/form-data">
                    <input type="text" class="form-control" name="title" placeholder="Titulo">
                    <input type="file" class="form-control" name="pdf">
                    <input type="text" ng-model="selectedSes.id" name="sesid" hidden>
                    <span class="input-group-btn">
                    <button class="btn btn-default">Subir</button>
                </span>
                </form>
            </div>
            <div ng-show="selectedSes.type == 'S'" ng-controller="QuestionsController">
                <h4>Preguntas</h4>
                <div class="list-group-item" ng-repeat="qs in questions">
                    <strong>{{($index+1) + ". " + qs.content | limitTo:80}}</strong>
                    <button class="btn btn-xs btn-default pull-right">Eliminar</button>
                </div>
                <br>
                <div>
                    <label>Agregar Pregunta:</label>
                    <textarea rows="2" class="form-control" ng-model="newQuestion.content"></textarea>
                    <label>Alternativas:</label>
                    <div class="input-group" ng-repeat=" x in ['A','B','C','D','E']">
                        <a class="input-group-addon" ng-bind="x" ng-click="selectAnswer($index)"
                           ng-class="{'bg-green': $index == newQuestion.answer}"></a>
                        <input type="text" class="form-control" ng-model="newQuestion.alternatives[$index]">
                    </div>
                    <label>Comentario (Solución):</label>
                    <textarea rows="2" class="form-control" ng-model="newQuestion.comment"></textarea>
                    <label>Otros:</label>
                    <input type="text" class="form-control" ng-model="newQuestion.other">
                    <button class="btn btn-default pull-right" ng-click="addQuestion()">Agregar</button>
                </div>
            </div>
            <br>
            <hr>
            <br>
        </div>

        <div class="pad-content" ng-show="selectedTab == 1" ng-controller="NewUsersController">
            <h4>Alumnos</h4>
            <span ng-repeat="alum in users">
                <strong ng-bind="alum.name"></strong>
                <span ng-hide="$last"> - </span>
            </span>
            <br>
            <hr>
            <br>
            <h4>Agregar Usuarios</h4>
            <label>Por usuarios específicos</label>
            <div class="row">
                <div class="col-xs-9">
                    <multiselect ms-header="Select Users" multiple="true" options="x.name for x in newUsers" ng-model="newMembs">
                    </multiselect>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-default form-control" ng-click="addToSession()">
                        <i class="fa fa-plus"></i> Agregar a sesión</button>
                </div>
            </div>
            <br/>
            <hr/>
            <br>
            <label>Subir lista de alumnos</label>
            <div class="input-group">
                <input type="file" class="form-control" disabled>
                <span class="input-group-btn">
                    <button class="btn btn-default" disabled>Agregar</button>
                </span>
            </div>
        </div>

        <div class="pad-content" ng-show="selectedTab == 2" ng-controller="DashboardController">
            <button class="btn btn-default pull-right" ng-click="updateState()">Actualizar Estado de Alumnos</button>
            <h4>Resultados</h4>
            <nvd3 options="barOpts" data="barData"></nvd3>
            <table class="table table-bordered">
                <tr>
                    <th>Alumno</th>
                    <th ng-repeat="qs in questions" ng-bind="$index + 1"></th>
                </tr>
                <tr ng-repeat="(alum, data) in alumState">
                    <td ng-bind="users[alum].name"></td>
                    <td ng-repeat="qs in questions"
                        ng-class="{'bg-blue': data[qs.id], 'bg-red': data[qs.id]!=null && !data[qs.id]}"></td>
                </tr>
            </table>
        </div>

        <div class="pad-content" ng-show="selectedTab == 3" ng-controller="GroupController">
            <h4>Grupos</h4>
            <p>Las propuestas de grupo intentan agrupar alumnos con distintos tipos de puntaje</p>
            <br>
            <label>Número de alumnos por grupo: </label>
            <input class="form-control form-inline-mini" ng-model="groupNum" type="number">
            <button class="btn btn-default" ng-click="generateGroups()">Generar</button>
            <br>
            <hr>
            <br>
            <h4>Grupos:</h4>
            <div class="list-group">
                <div class="list-group-item" ng-repeat="group in groupNames" ng-bind="group"></div>
            </div>
        </div>

        <div class="pad-content" ng-show="selectedTab == 4">
            <a href="to-visor?sesid={{selectedSes.id}}" class="btn btn-primary">Abrir documentos en visor</a>
        </div>

    </div>

</div>

</body>
</html>