<html ng-app="Admin">
<head>
    <meta charset="UTF-8">
    <title>DocCollab</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/nv.d3.min.css">
    <link rel="stylesheet" href="css/main.css"/>
    <script src="libs/angular.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="libs/angular-bootstrap-multiselect.js"></script>
    <script src="libs/d3.min.js"></script>
    <script src="libs/nv.d3.min.js"></script>
    <script src="libs/angular-nvd3.min.js"></script>
    <script src="js/admin-ctrl.js"></script>
</head>
<body class="bg-white" ng-controller="AdminController">

<div class="row top-bar">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-10">
        <h5><i class="fa fa-sliders"></i> Panel de administración</h5>
    </div>
    <div class="col-sm-1">
        <a class="btn btn-default" href="logout"><i class="fa fa-close"></i></a>
    </div>
</div>

<div class="row full-height">

    <div class="col-sm-3">
        <div class="side-panel">
            <button class="btn btn-sm btn-default pull-right" ng-click="openNewSes()">Nueva</button>
            <h4>Lista de Sesiones:</h4>
            <div class="list-group">
                <a class="list-group-item" ng-repeat="ses in sessions" ng-click="selectSession($index)"
                   ng-class="{'active':$index==selectedIndex}">
                    <h4 class="list-group-item-heading" ng-bind="ses.name"></h4>
                    <p class="list-group-item-text" ng-bind="ses.descr"></p>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-9" ng-show="selectedIndex!=-1" ng-controller="TabsController">
        <h3>{{selectedSes.name}}</h3>
        <div class="center-block font-large">
            <button class="btn btn-sm btn-default pull-right" ng-click="shared.changeState()">Ir al siguiente</button>
            <span ng-repeat="st in sesStatusses">
                <span class="label label-default" ng-class="{'label-primary': $index==selectedSes.status-1}" ng-bind="st"></span>
                <span ng-hide="$last">→</span>
            </span>
        </div>
        <br>
        <div class="btn-group center-block w500">
            <button class="btn btn-default" ng-repeat="x in tabOptions" ng-bind="x"
                    ng-class="{active: $index==selectedTab}" ng-click="setTab($index)">
            </button>
        </div>

        <br>
        <br>

        <div class="pad-content" ng-show="selectedTab == 0" ng-controller="SesEditorController">
            <br>
            <hr>
            <br>
            <h4>Detalles</h4>
            <label>Titulo:</label>
            <input type="text" class="form-control" ng-model="selectedSes.name" ng-disabled="selectedSes.status!=1">
            <br>
            <label>Factor detonante:</label>
            <textarea class="form-control" ng-model="selectedSes.descr" ng-disabled="selectedSes.status!=1"></textarea>
            <br>
            <button class="btn btn-default pull-right" ng-click="updateSession()" ng-disabled="selectedSes.status!=1">
                Guardar cambios
            </button>
            <br>
            <hr>
            <br>
            <div ng-show="selectedSes.type == 'L'">
                <h4>Documentos</h4>
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="doc in documents">
                        <i class="fa fa-file-text-o"></i> <strong ng-bind="doc.title"></strong>
                        <a href="{{doc.path}}" class="discrete"> - Ver documento original</a>
                        <button class="btn btn-xs btn-default pull-right" ng-disabled="selectedSes.status!=1">Eliminar</button>
                    </div>
                </div>
                <br>
                <label>Agregar documento:</label>
                <form class="input-group" action="upload-file" method="post" enctype="multipart/form-data">
                    <input type="text" class="form-control" name="title" placeholder="Titulo" ng-disabled="selectedSes.status!=1">
                    <input type="file" class="form-control" name="pdf" ng-disabled="selectedSes.status!=1">
                    <input type="text" ng-model="selectedSes.id" name="sesid" hidden>
                    <span class="input-group-btn">
                    <button class="btn btn-default" ng-disabled="selectedSes.status!=1">Subir</button>
                </span>
                </form>
                <br>
                <hr>
                <a href="to-pauta?sesid={{selectedSes.id}}" class="btn btn-primary btn" ng-show="selectedSes.type=='L'" ng-disabled="selectedSes.status!=1">
                    Editar Pauta de Ideas Fuerza
                </a>
            </div>
            <div ng-show="selectedSes.type == 'S'" ng-controller="QuestionsController">
                <h4>Preguntas</h4>
                <div class="list-group-item" ng-repeat="qs in questions">
                    <strong>{{($index+1) + ". " + qs.content | limitTo:80}}</strong>
                    <button class="btn btn-xs btn-default pull-right" ng-disabled="selectedSes.status!=1">Eliminar</button>
                </div>
                <br>
                <div>
                    <label>Agregar Pregunta:</label>
                    <textarea rows="2" class="form-control" ng-model="newQuestion.content" ng-disabled="selectedSes.status!=1"></textarea>
                    <label>Alternativas:</label>
                    <div class="input-group" ng-repeat=" x in ['A','B','C','D','E']">
                        <a class="input-group-addon" ng-bind="x" ng-click="selectAnswer($index)"
                           ng-class="{'bg-green': $index == newQuestion.answer}" ng-disabled="selectedSes.status!=1"></a>
                        <input type="text" class="form-control" ng-model="newQuestion.alternatives[$index]" ng-disabled="selectedSes.status!=1">
                    </div>
                    <label>Comentario (Solución):</label>
                    <textarea rows="2" class="form-control" ng-model="newQuestion.comment" ng-disabled="selectedSes.status!=1"></textarea>
                    <label>Otros:</label>
                    <input type="text" class="form-control" ng-model="newQuestion.other" ng-disabled="selectedSes.status!=1">
                    <button class="btn btn-default pull-right" ng-click="addQuestion()" ng-disabled="selectedSes.status!=1">Agregar</button>
                </div>
            </div>
            <br>
            <hr>
            <br>
        </div>

        <div class="pad-content" ng-show="selectedTab == 1" ng-controller="NewUsersController">
            <h4>Alumnos</h4>
            <span ng-repeat="alum in users">
                <strong ng-bind="alum.name"></strong>
                <span ng-hide="$last"> - </span>
            </span>
            <br>
            <hr>
            <br>
            <h4>Agregar Usuarios</h4>
            <label>Por usuarios específicos</label>
            <div class="row">
                <div class="col-xs-9">
                    <multiselect ms-header="Select Users" multiple="true" options="x.name for x in newUsers" ng-model="newMembs">
                    </multiselect>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-default form-control" ng-click="addToSession()">
                        <i class="fa fa-plus"></i> Agregar a sesión</button>
                </div>
            </div>
            <br/>
            <hr/>
            <br>
            <label>Subir lista de alumnos</label>
            <div class="input-group">
                <input type="file" class="form-control" disabled>
                <span class="input-group-btn">
                    <button class="btn btn-default" disabled>Agregar</button>
                </span>
            </div>
        </div>

        <div class="pad-content" ng-show="selectedTab == 2" ng-controller="DashboardController">
            <div class="pull-right">
                <label>Iteración:</label>
                <select class="" ng-options="x.val as x.name for x in iterationNames" ng-model="iterationIndicator"></select>
                <button class="btn btn-default" ng-click="updateState()">Actualizar Estado de Alumnos</button>
            </div>
            <h4>Resultados</h4>
            <nvd3 options="barOpts" data="barData"></nvd3>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    Completo: <strong>{{numComplete}} / {{numUsers}}</strong>
                </div>
                <div class="col-sm-6">
                    Progreso: <strong>{{numProgress}}%</strong>
                </div>
            </div>
            <hr>
            <br>
            <table class="table table-bordered" ng-if="selectedSes.type == 'S'">
                <tr>
                    <th>Alumno</th>
                    <th ng-repeat="qs in questions" ng-bind="$index + 1"></th>
                </tr>
                <tr ng-repeat="(alum, data) in alumState">
                    <td ng-bind="users[alum].name"></td>
                    <td ng-repeat="qs in questions"
                        ng-class="{'bg-darkgreen': data[qs.id], 'bg-darkred': data[qs.id]!=null && !data[qs.id]}"></td>
                </tr>
            </table>
            <table class="table table-bordered" ng-if="selectedSes.type == 'L' && alumState!={}">
                <tr>
                    <th>Alumno</th>
                    <th style="width: 420px">Puntaje</th>
                </tr>
                <tr ng-repeat="dato in alumState | orderBy:'-score'">
                    <td ng-bind="users[dato.uid].name"></td>
                    <td>
                        <div class="bg-darkgreen table-green-bar" style="width: {{400*dato.score}}px">
                            {{100*dato.score | number:0}}%
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="pad-content" ng-show="selectedTab == 3" ng-controller="GroupController">
            <h4>Grupos</h4>
            <p>Las propuestas de grupo intentan agrupar alumnos con distintos tipos de puntaje</p>
            <br>
            <label>Número de alumnos por grupo: </label>
            <input class="form-control form-inline-mini" ng-model="groupNum" type="number" ng-disabled="selectedSes.grouped">
            <select class="form-control form-inline-med" ng-options="x for x in methods" ng-disabled="selectedSes.grouped" ng-model="groupMet"></select>
            <button class="btn btn-default" ng-click="generateGroups()" ng-disabled="selectedSes.grouped">Generar</button>
            <span ng-show="selectedSes.grouped"> - Los grupos están fijados</span>
            <button class="btn btn-default pull-right" ng-click="acceptGroups()" ng-disabled="selectedSes.grouped">Fijar Grupos</button>
            <br>
            <hr>
            <br>
            <h4>Grupos:</h4>
            <table class="table table-bordered">
                <tr ng-repeat="group in groups">
                    <td ng-bind="$index + 1"></td>
                    <td ng-repeat="alum in group">
                        <strong ng-bind="users[alum.uid].name"></strong>
                        <span class="label label-success" ng-bind="(alum.score!=null)? alum.score * 100 : null"></span>
                        <span class="label label-info" ng-bind="alum.aprendizaje"></span>
                    </td>
                </tr>
            </table>
            <hr>
            <table class="table table-bordered" ng-if="!selectedSes.grouped">
                <tr ng-repeat="group in groupsProp">
                    <td ng-bind="$index + 1"></td>
                    <td ng-repeat="alum in group" class="pointable" ng-click="swapTable($parent.$index,$index)"
                        ng-class="{'bg-lightgreen': $parent.$index == lastI && $index == lastJ}">
                        <strong ng-bind="users[alum.uid].name"></strong>
                        <span class="label label-success" ng-bind="(alum.score!=null)? alum.score * 100 : null"></span>
                        <span class="label label-info" ng-bind="alum.aprendizaje"></span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="pad-content" ng-show="selectedTab == 4" ng-controller="RubricaController">
            <h4>Rúbricas</h4>
            <h5>Definir esquema de rúbrica:</h5>
            <table class="table table-bordered">
                <tr>
                    <th>Criterio</th>
                    <th>% Pond</th>
                    <th>Inicio (1 pto)</th>
                    <th>Proceso (2 pto)</th>
                    <th>Competente (3 pto)</th>
                    <th>Avanzado (4 pto)</th>
                    <th></th>
                </tr>
                <tr ng-repeat="criterio in criterios">
                    <td ng-bind="criterio.name"></td>
                    <td ng-bind="criterio.pond"></td>
                    <td ng-bind="criterio.inicio"></td>
                    <td ng-bind="criterio.proceso"></td>
                    <td ng-bind="criterio.competente"></td>
                    <td ng-bind="criterio.avanzado"></td>
                    <td><button class="btn btn-default btn-sm" ng-if="editable" ng-click="removeCriterio($index)"><i class="fa fa-times"></i></button></td>
                </tr>
                <tr ng-hide="checkSum() || !editable">
                    <td><input ng-model="newCriterio.name" class="w150"></td>
                    <td><input ng-model="newCriterio.pond" class="w50" type="number"></td>
                    <td><input ng-model="newCriterio.inicio" class="w150"></td>
                    <td><input ng-model="newCriterio.proceso" class="w150"></td>
                    <td><input ng-model="newCriterio.competente" class="w150"></td>
                    <td><input ng-model="newCriterio.avanzado" class="w150"></td>
                    <td><button class="btn btn-default btn-sm" ng-click="addCriterio()"><i class="fa fa-plus"></i></button></td>
                </tr>
            </table>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-7">
                    <span ng-show="!checkSum()" class="red">La suma de los criterios no es 100%</span>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default" ng-disabled="!checkSum() || !editable" ng-click="saveRubrica()">Guardar</button>
                </div>
            </div>
            <br><br>
            <hr>
            <h4>Textos de Ejemplo</h4>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="text in exampleReports">
                    <div class="row">
                    <div class="col-sm-11 text-justify">
                    <span ng-bind="text.content | limitTo:500"></span>
                    <span ng-show="text.content.length > 500">...</span>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-default"><i class="fa fa-external-link"></i></button>
                        <button class="btn btn-default" ng-click="setActiveExampleReport(text)" ng-class="{'btn-success':text.active}">
                            <i class="fa fa-share-alt"></i></button>
                    </div>
                    </div>
                </li>
            </ul>
            <h5>Agregar texto de ejemplo:</h5>
            <textarea rows="5" class="form-control" ng-model="newExampleReport"></textarea>
            <button class="btn btn-default pull-right" ng-disabled="newExampleReport.length==0" ng-click="sendExampleReport()">Guardar</button>
            <br><br>
            <hr>
            <h4>Evaluación de pares</h4>
            <span ng-show="selectedSes.paired">Ya se ha asignado a los alumnos los reportes a evaluar</span>
            <button ng-hide="selectedSes.paired" class="btn btn-default" ng-click="pairAssign()">Asignar pares</button>
        </div>

        <div class="pad-content" ng-show="selectedTab == 5" ng-controller="DashboardRubricaController">
            <h4>Resultados Rúbrica</h4>
            <div class="row">
                <div class="col-sm-2">Texto: </div>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="selectedReport" ng-options="showName(x) for x in reports"></select>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default" ng-click="getReportResult()">Ver resultados</button>
                </div>
            </div>
            <nvd3 options="barOpts" data="barData"></nvd3>
            <table class="table table-bordered">
                <tr>
                    <th>Alumno</th>
                    <th style="width: 420px">Evaluación</th>
                </tr>
                <tr ng-repeat="dato in result | orderBy:'-score'">
                    <td ng-bind="users[dato.uid].name"></td>
                    <td>
                        <div class="bg-darkgreen table-green-bar" style="width: {{100*dato.val}}px">
                            {{dato.val | number:2}}
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

</body>
</html>