<!DOCTYPE html>
<html ng-app="Admin">
<head>
    <meta charset="UTF-8">
    <title>DocCollab</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/nv.d3.min.css">
    <link rel="stylesheet" href="css/angular-ui-notification.min.css">
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.0/quill.snow.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.css">
    <link rel="stylesheet" href="css/main.css"/>
    <script src="libs/angular.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="libs/katex.min.js"></script>
    <script src="libs/angular-bootstrap-multiselect.js"></script>
    <script src="libs/d3.min.js"></script>
    <script src="libs/nv.d3.min.js"></script>
    <script src="libs/angular-nvd3.min.js"></script>
    <script src="libs/ng-map.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAx05l8YIv_oB8f5AMBGIcWmgnqFou0VJI&libraries=drawing,geometry,places"></script>
    <script type="text/javascript" src="libs/quill.min.js"></script>
    <script type="text/javascript" src="libs/ng-quill.min.js"></script>
    <script src="libs/angular-timer.min.js"></script>
    <script src="libs/angular-ui-notification.min.js"></script>
    <script src="js/admin-ctrl.js"></script>
</head>
<body class="bg-white" ng-controller="AdminController">

<div class="row top-bar">
    <div class="col-sm-1">
        <button class="btn btn-default" ng-click="toggleSidebar()">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div class="col-sm-10">
        <h5>Panel de administración</h5>
    </div>
    <div class="col-sm-1">
        <a class="btn btn-default pull-right margin-right-24" href="logout"><i class="fa fa-close"></i></a>
    </div>
</div>

<div class="row full-height">

    <div class="col-sm-3" ng-show="openSidebar">
        <div class="side-panel">
            <button class="btn btn-sm btn-default pull-right" ng-click="openNewSes()">Nueva</button>
            <h4>Lista de Sesiones:</h4>
            <input placeholder="Buscar..." class="form-control" ng-model="sesSearch">
            <div class="list-group">
                <a class="list-group-item" ng-repeat="ses in sessions | filter:sesSearch" ng-click="selectSession(ses,ses.id)"
                   ng-class="{'active':ses.id==selectedId}">
                    <h4 class="list-group-item-heading" ng-bind="ses.name"></h4>
                    <p class="list-group-item-text" ng-bind="ses.descr"></p>
                </a>
            </div>
        </div>
    </div>

    <div ng-class="{'col-sm-9': openSideBar, 'col-sm-12': !openSidebar}" ng-show="selectedId!=-1" ng-controller="TabsController">
        <span class="pull-right margin-right-24" ng-show="selectedSes.stime != null">
            <timer start-time="selectedSes.stime">{{hours}}h {{minutes}}m {{seconds}}s</timer>
        </span>
        <h3>{{selectedSes.name}}</h3>
        <div class="center-block font-large">
            <button class="btn btn-sm btn-default pull-right" ng-click="shared.changeState()">Ir al siguiente</button>
            <span ng-repeat="st in sesStatusses">
                <span ng-if="selectedSes.type != 'M'" class="label label-default" ng-class="{'label-warning': $index==selectedSes.status-1}" ng-bind="st"></span>
                <span ng-if="selectedSes.type == 'M'" class="label label-default" ng-class="{'label-warning': st.i == selectedSes.status-2}" ng-bind="st.name"></span>
                <span ng-hide="$last">→</span>
            </span>
        </div>
        <br>
        <div class="btn-group center-block w500">
            <button class="btn btn-default" ng-repeat="x in tabOptions" ng-bind="x"
                    ng-class="{active: $index==selectedTab}" ng-click="setTab($index)">
            </button>
        </div>

        <br>
        <br>
        <hr>
        <br>

        <!-- CONFIGURACION -->
        <div class="pad-content" ng-show="selectedTab == 0" ng-controller="SesEditorController">
            <div ng-show="selectedTabConfig == -1">
            <label>Titulo:</label>
            <input type="text" class="form-control" ng-model="selectedSes.name" ng-disabled="selectedSes.status!=1">
            <br>
            <button class="btn btn-default btn-sm pull-right" ng-class="{'active': splitDescr}" ng-click="toggleSplit()" ng-show="selectedSes.type == 'M'" ng-disabled="selectedSes.status!=1">Dividir Factor Detonante</button>
            <label ng-if="selectedSes.type != 'S'">Factor detonante:</label>
            <label ng-if="selectedSes.type == 'S'">Instrucción general:</label>
            <textarea class="form-control" ng-model="selectedSes.descr" ng-disabled="selectedSes.status!=1" ng-show="!splitDescr"></textarea>
            <div ng-show="splitDescr">
                <input type="text" class="form-control" ng-disabled="selectedSes.status!=1" ng-model="splDes1" placeholder="Selección de unidades">
                <input type="text" class="form-control" ng-disabled="selectedSes.status!=1" ng-model="splDes2" placeholder="Reporte">
            </div>
            <button class="btn btn-xs btn-default" ng-click="openDuplicateSes()" ng-disabled="selectedSes.type != 'S' && selectedSes.type != 'M'">Duplicar sesion</button>
            <a class="btn btn-xs btn-default" href="export-session-data-sel?id={{selectedSes.id}}" ng-if="selectedSes.type == 'S' && selectedSes.status == 5">Exportar datos sesion</a>
            <br>
            <button class="btn btn-default pull-right" ng-click="updateSession()" ng-disabled="selectedSes.status!=1">
                Guardar cambios
            </button>
            <br>
            <hr>
            <br>
            <div ng-show="selectedSes.type == 'M'" ng-controller="SemDocController">
                <h4>Documentos</h4>
                <div class="list-group-item" ng-repeat="doc in semDocs">
                    <strong ng-bind="doc.title"></strong>
                    <button class="btn btn-xs btn-default pull-right" ng-disabled="selectedSes.status!=1" ng-click="deleteText(doc.id)">Eliminar</button>
                    <button class="btn btn-xs btn-default pull-right margin-right-8" ng-disabled="selectedSes.status!=1" ng-click="startEditText(doc)">Editar</button>
                    <button class="btn btn-xs btn-default pull-right margin-right-8" ng-click="doc.expanded = !doc.expanded">Ver</button>
                    <p ng-show="!doc.expanded">{{doc.content | limitTo:360}}</p>
                    <p ng-show="doc.expanded">{{doc.content}}</p>
                </div>
                <div>
                    <label ng-show="newSDoc.id == null">Agregar Documento</label>
                    <label ng-show="newSDoc.id != null">Editar Documento</label>
                    <input type="text" ng-model="newSDoc.title" placeholder="Titulo" class="form-control">
                    <textarea class="form-control" rows="5" ng-model="newSDoc.content"></textarea>
                    <button class="btn btn-default pull-right" ng-show="newSDoc.id == null" ng-click="addSemDoc()">Agregar</button>
                    <button class="btn btn-default pull-right" ng-show="newSDoc.id != null" ng-click="updateSemDoc()">Actualizar</button>
                    <br>
                    <br>
                </div>
            </div>
            <div ng-show="selectedSes.type == 'L'" ng-controller="DocumentsController">
                <h4>Documentos</h4>
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="doc in documents">
                        <i class="fa fa-file-text-o"></i> <strong ng-bind="doc.title"></strong>
                        <a href="{{doc.path}}" class="discrete"> - Ver documento original</a>
                        <button class="btn btn-xs btn-default pull-right" ng-disabled="selectedSes.status!=1" ng-click="deleteDocument(doc.id)">Eliminar</button>
                    </div>
                </div>
                <br>
                <label>Agregar documento:</label>
                <form id="doc-form" class="row" ng-submit="uploadDocument($event)" enctype="multipart/form-data">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="title" placeholder="Titulo" required ng-disabled="selectedSes.status!=1" maxlength="20">
                    </div>
                    <div class="col-sm-7">
                        <input type="file" class="form-control" name="pdf" ng-disabled="selectedSes.status!=1" required>
                        <input type="text" ng-value="selectedSes.id" name="sesid" hidden>
                    </div>
                    <div class="col-sm-1">
                        <button class="form-control btn btn-default" ng-disabled="selectedSes.status!=1 || busy">Subir <i ng-show="busy" class="fa fa-spinner fa-pulse"></i></button>
                    </div>
                </span>
                </form>
                <br>
                <hr>
                <a href="to-pauta?sesid={{selectedSes.id}}" class="btn btn-primary btn" ng-show="selectedSes.type=='L'">
                    Pauta de Ideas Fuerza
                </a>
            </div>
                <a href="to-semantic?sesid={{selectedSes.id}}" class="btn btn-primary btn" ng-show="selectedSes.type=='M'">
                    Pauta de Unidades Semánticas
                </a>
            <div ng-show="selectedSes.type == 'S'" ng-controller="QuestionsController">
                <h4>Textos</h4>
                <div class="list-group-item" ng-repeat="text in questionTexts">
                    <strong ng-bind="text.title"></strong>
                    <button class="btn btn-xs btn-default pull-right" ng-disabled="selectedSes.status!=1" ng-click="deleteQuestionText(text.id)">Eliminar</button>
                    <button class="btn btn-xs btn-default pull-right margin-right-8" ng-disabled="selectedSes.status!=1" ng-click="startEditText(text)">Editar</button>
                    <button class="btn btn-xs btn-default pull-right margin-right-8" ng-click="text.expanded = !text.expanded">Ver</button>
                    <p ng-show="!text.expanded">{{text.content | htmlExtractText | limitTo:360}}</p>
                    <p ng-show="text.expanded">{{text.content | htmlExtractText}}</p>
                </div>
                <div>
                    <label ng-show="newText.id == null">Agregar Texto</label>
                    <label ng-show="newText.id != null">Editar Texto</label>
                    <input type="text" ng-model="newText.title" placeholder="Titulo" class="form-control" ng-disabled="selectedSes.status!=1">
                    <ng-quill-editor ng-model="newText.content" class="large" ng-class="{'quill-disabled': selectedSes.status!=1}"></ng-quill-editor>
                    <button class="btn btn-default pull-right" ng-show="newText.id == null" ng-click="addQuestionText()" ng-disabled="selectedSes.status!=1">Agregar</button>
                    <button class="btn btn-default pull-right" ng-show="newText.id != null" ng-click="updateQuestionText()" ng-disabled="selectedSes.status!=1">Actualizar</button>
                </div>

                <hr>
                <br>

                <h4>Preguntas</h4>
                <div class="list-group-item" ng-repeat="qs in questions">
                    <strong ng-show="!qs.expanded">{{($index+1) + ". " + qs.content | htmlExtractText | limitTo:80}}</strong>
                    <strong ng-show="qs.expanded">{{($index+1) + ". " + qs.content | htmlExtractText}}</strong>
                    <button class="btn btn-xs btn-default pull-right" ng-disabled="selectedSes.status!=1" ng-click="deleteQuestion(qs.id)">Eliminar</button>
                    <button class="btn btn-xs btn-default pull-right margin-right-8" ng-disabled="selectedSes.status!=1" ng-click="startEditQuestion(qs)">Editar</button>
                    <button class="btn btn-xs btn-default pull-right margin-right-8" ng-click="qs.expanded = !qs.expanded">Ver</button>
                    <div ng-show="qs.expanded">
                        <div ng-repeat="x in qs.options" ng-class="{'bg-lightgreen': $index == qs.answer}">
                            {{qsLabels[$index]}}. {{x}}
                        </div>
                        <br>
                        <strong>Comentario:</strong>
                        <p ng-bind="qs.comment"></p>
                        <strong>Otros:</strong>
                        <span ng-bind="qs.other"></span>
                    </div>
                </div>
                <br>
                <div>
                    <label ng-show="newQuestion.id == null">Agregar Pregunta:</label>
                    <label ng-show="newQuestion.id != null">Editar Pregunta {{newQuestion.order}}:</label>
                    <span class="text-muted">(No incluya numeración)</span>
                    <ng-quill-editor ng-model="newQuestion.content" ng-class="{'quill-disabled': selectedSes.status!=1}" on-editor-created="configQuillExtra(editor)"></ng-quill-editor>
                    <!--<textarea rows="2" class="form-control" ng-model="newQuestion.content" ng-disabled="selectedSes.status!=1"></textarea>-->
                    <label>Alternativas:</label>
                    <div class="input-group" ng-repeat=" x in qsLabels">
                        <a class="input-group-addon" ng-bind="x" ng-click="selectAnswer($index)"
                           ng-class="{'bg-green': $index == newQuestion.answer}" ng-disabled="selectedSes.status!=1"></a>
                        <input type="text" class="form-control" ng-model="newQuestion.alternatives[$index]" ng-disabled="selectedSes.status!=1">
                    </div>
                    <label>Texto</label>
                    <select ng-model="newQuestion.textid" ng-disabled="selectedSes.status!=1" ng-options="text.id as text.title for text in questionTexts" class="form-control"></select>
                    <label>Comentario (Solución):</label>
                    <textarea rows="2" class="form-control" ng-model="newQuestion.comment" ng-disabled="selectedSes.status!=1"></textarea>
                    <label>Otros:</label>
                    <input type="text" class="form-control" ng-model="newQuestion.other" ng-disabled="selectedSes.status!=1">
                    <button class="btn btn-default pull-right" ng-click="addQuestion()" ng-show="newQuestion.id == null" ng-disabled="selectedSes.status!=1">Agregar</button>
                    <button class="btn btn-default pull-right" ng-click="updateQuestion()" ng-show="newQuestion.id != null" ng-disabled="selectedSes.status!=1">Actualizar</button>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <h4>Configuración</h4>
            </div>
            <div ng-class="{boxed: selectedTabConfig >= 0}">
            <a class="pull-right btn btn-default" ng-click="setTabConfig(-1)"><i class="fa fa-close"></i></a>
            <div class="row">
            <div class="btn-group center-block w500">
                <button class="btn btn-default" ng-repeat="x in tabConfig" ng-bind="x" ng-show="x != null"
                        ng-class="{active: $index==selectedTabConfig}" ng-click="setTabConfig($index)">
                </button>
            </div>
            </div>

            <!-- USUARIOS -->
            <div class="pad-content" ng-show="selectedTabConfig == 0" ng-controller="NewUsersController">
                <h4>Agregar Usuarios</h4>
                <label>Por usuarios específicos</label>
                <div class="row">
                    <div class="col-xs-6">
                        <multiselect ms-header="Seleccionar Usuarios" multiple="true" options="x.name for x in newUsers"
                                     ng-model="newMembs">
                        </multiselect>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default form-control" ng-click="newMembs = newUsers">
                            <i class="fa fa-check-square-o"></i> Seleccionar todos</button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default form-control" ng-click="addToSession()">
                            <i class="fa fa-plus"></i> Agregar a sesión</button>
                    </div>
                </div>
                <br>
                <hr>
                <br>
                <h4>Usuarios</h4>
                <table class="table table-bordered">
                    <tr><th>Usuaio</th><th>Email</th><th>Tipo de Aprendizaje</th><th></th></tr>
                    <tr ng-repeat="alum in usersArr" ng-class="{'bg-info': alum.role == 'P'}">
                        <td ng-bind="alum.name"></td>
                        <td ng-bind="alum.mail"></td>
                        <td ng-bind="alum.aprendizaje"></td>
                        <td><button class="btn btn-default btn-sm" ng-click="removeUser(alum.id)" ng-disabled="selectedSes.status > 1"><i class="fa fa-trash"></i></button></td>
                    </tr>
                </table>
                <br/>
                <hr/>
                <br>
                <label>Subir lista de alumnos</label>
                <div class="input-group">
                    <input type="file" class="form-control" disabled>
                    <span class="input-group-btn">
                    <button class="btn btn-default" disabled>Agregar</button>
                </span>
                </div>
            </div>
            <!-- / USUARIOS -->

            <!-- GRUPOS -->
            <div class="pad-content" ng-show="selectedTabConfig == 1" ng-controller="GroupController">
                <h4>Grupos</h4>
                <p>Las propuestas de grupo intentan agrupar alumnos con distintos tipos de puntaje</p>
                <br>
                <label>Número de alumnos por grupo: </label>
                <input class="form-control form-inline-mini" ng-model="groupNum" type="number" ng-disabled="selectedSes.grouped">
                <select class="form-control form-inline-med" ng-options="x for x in methods" ng-disabled="selectedSes.grouped" ng-model="groupMet"></select>
                <button class="btn btn-default" ng-click="generateGroups()" ng-disabled="selectedSes.grouped">Generar</button>
                <span ng-show="selectedSes.grouped"> - Los grupos están fijados</span>
                <button class="btn btn-default pull-right" ng-click="acceptGroups()" ng-disabled="selectedSes.grouped">Fijar Grupos</button>
                <br>
                <hr>
                <br>
                <h4><span ng-show="!self.selectedSes.grouped">Propuesta de </span>Grupos:</h4>
                <table class="table table-bordered">
                    <tr ng-repeat="group in groups">
                        <td ng-bind="$index + 1"></td>
                        <td ng-repeat="alum in group">
                            <strong ng-bind="users[alum.uid || alum.id].name"></strong>
                            <span class="label label-success" ng-show="alum.score!=null">
                                {{(selectedSes.type == "L" || selectedSes.type == "M") ? alum.score * 100 : alum.score | number:0}}
                            </span>
                            <span class="label label-info" ng-bind="alum.aprendizaje"></span>
                        </td>
                    </tr>
                </table>
                <hr>
                <!--<h4 ng-if="!selectedSes.grouped" ng-show="false">Editor de Propuesta de Grupos:</h4>
                <table class="table table-bordered table-hover" ng-if="!selectedSes.grouped">
                    <tr ng-repeat="group in groupsProp">
                        <td ng-bind="$index + 1"></td>
                        <td ng-repeat="alum in group" class="pointable" ng-click="swapTable($parent.$index,$index)"
                            ng-class="{'bg-lightgreen': $parent.$index == lastI && $index == lastJ}">
                            <strong ng-bind="users[alum.uid].name"></strong>
                            <span class="label label-success">
                                {{(alum.score!=null)? ((selectedSes.type == "L") ? alum.score * 100 : alum.score) : null | number:0}}
                            </span>
                            <span class="label label-info" ng-bind="alum.aprendizaje"></span>
                        </td>
                    </tr>
                </table>-->
            </div>
            <!-- / GRUPOS -->

            <!-- RUBRICA -->
            <div class="pad-content" ng-show="selectedTabConfig == 2" ng-controller="RubricaController">
                <h4>Especificación de Rúbrica</h4>
                <!--<h5>Definir esquema de rúbrica:</h5>-->
                <table class="table table-bordered">
                    <tr>
                        <th>Criterio</th>
                        <th>% Pond</th>
                        <th>No Logrado (1 pto)</th>
                        <th>En Proceso (2 pto)</th>
                        <th>Por Lograr (3 pto)</th>
                        <th>Logrado (4 pto)</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="criterio in criterios">
                        <td ng-bind="criterio.name"></td>
                        <td ng-bind="criterio.pond"></td>
                        <td ng-bind="criterio.inicio"></td>
                        <td ng-bind="criterio.proceso"></td>
                        <td ng-bind="criterio.competente"></td>
                        <td ng-bind="criterio.avanzado"></td>
                        <td><button class="btn btn-default btn-sm" ng-if="editable" ng-click="removeCriterio($index)"><i class="fa fa-times"></i></button></td>
                    </tr>
                    <tr ng-hide="checkSum() || !editable">
                        <td><input ng-model="newCriterio.name" class="w150"></td>
                        <td><input ng-model="newCriterio.pond" class="w50" type="number"></td>
                        <td><input ng-model="newCriterio.inicio" class="w150"></td>
                        <td><input ng-model="newCriterio.proceso" class="w150"></td>
                        <td><input ng-model="newCriterio.competente" class="w150"></td>
                        <td><input ng-model="newCriterio.avanzado" class="w150"></td>
                        <td><button class="btn btn-default btn-sm" ng-click="addCriterio()"><i class="fa fa-plus"></i></button></td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-7">
                        <span ng-show="!checkSum()" class="red">La suma de los criterios no es 100%</span>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default" ng-disabled="!checkSum() || !editable" ng-click="saveRubrica()">Guardar</button>
                    </div>
                </div>
                <br><br>
                <hr>
                <h4>Textos de Ejemplo</h4>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="text in exampleReports">
                        <div class="row">
                            <div class="col-sm-11 text-justify">
                                <strong ng-bind="text.title"></strong><br>
                                <span ng-bind="text.content | limitTo:500"></span>
                                <span ng-show="text.content.length > 500">...</span>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-default" ng-click="goToReport(text)"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-default" ng-click="setActiveExampleReport(text)" ng-class="{'btn-success':text.active}">
                                    <i class="fa fa-share"></i></button>
                            </div>
                        </div>
                    </li>
                </ul>
                <h5>Agregar texto de ejemplo:</h5>
                <input class="form-control" ng-model="newExampleReport.title" placeholder="Titulo" maxlength="20">
                <textarea rows="5" class="form-control" ng-model="newExampleReport.text" placeholder="Contenido"></textarea>
                <button class="btn btn-default pull-right" ng-disabled="newExampleReport.text.length==0" ng-click="sendExampleReport()">Guardar</button>
                <br><br>
                <hr>
                <h4>Evaluación de pares</h4>
                <span ng-show="selectedSes.paired">Ya se ha asignado a los alumnos los reportes a evaluar</span>
                <div ng-hide="selectedSes.paired">
                    <strong>Número de evaluadores:</strong>
                    <input type="number" class="form-control form-inline-mini" min="2" max="8" step="1" ng-model="pairNum">
                    <button class="btn btn-default" ng-click="pairAssign()">Asignar pares</button>
                </div>
                <span class="red" ng-bind="errPairMsg"></span>
            </div>
            <!-- / RUBRICA -->

            <!-- OPTIONS -->
            <div class="pad-content" ng-show="selectedTabConfig == 3 && updateConf()" ng-controller="OptionsController">
                <h4>Configuración de Opciones</h4>
                <div class="row sliders">
                    <div ng-repeat="opt in options">
                    <div class="col-sm-4 col-sm-offset-2"><strong ng-bind="opt.name"></strong></div>
                    <div class="col-md-4">
                        <div class="onoffswitch">
                            <input type="checkbox" id="sl{{$index}}" class="onoffswitch-checkbox" ng-model="conf[opt.code]">
                            <label class="onoffswitch-label" for="sl{{$index}}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    </div>
                </div>
                <hr>
                <button class="btn btn-primary pull-right" ng-click="saveConfs()">Guardar cambios</button>
            </div>
            <!-- /OPTIONS -->
            </div>
        </div>
        <!-- / CONFIGURACION -->

        <!-- DASHBOARDS -->
        <div class="pad-content" ng-show="selectedTab == 1" ng-controller="DashboardController">
            <div class="pull-right">
                <label>Iteración:</label>
                <select class="" ng-options="x.val as x.name for x in iterationNames" ng-model="iterationIndicator" ng-change="updateState()"></select>
                <button class="btn btn-default" ng-click="updateState()">Actualizar</button>
            </div>
            <h4></h4><br>

            <nvd3 options="barOpts" data="barData" ng-hide="iterationIndicator == 0 || iterationIndicator == 4"></nvd3>

            <div class="row" ng-show="iterationIndicator < 5 && (selectedSes.type == 'L' || selectedSes.type == 'M')">
                <div class="col-sm-4 col-sm-offset-2">
                    Actividad Finalizada: <strong>{{numComplete}} / {{numUsers}}</strong>
                </div>
                <div class="col-sm-6" ng-hide="iterationIndicator == 0 || iterationIndicator == 4">
                    Rendimiento: <strong>{{lectPerformance() | number:0 }}%</strong>
                </div>
            </div>
            <div class="row" ng-show="selectedSes.type == 'S'">
                <div class="col-sm-3 col-sm-offset-1">
                    Avance: <strong>{{progress() | number:0}}%</strong>
                </div>
                <div class="col-sm-4">
                    Correctas logradas: <strong>{{avgAll() | number:0 }}%</strong>
                </div>
                <div class="col-sm-4">
                    Incorrectas incurridas: <strong>{{100 - avgAll() | number:0 }}%</strong>
                </div>
            </div>
            <hr>
            <button class="btn btn-default btn-sm pull-right" ng-click="showCf = !showCf" ng-show="selectedSes.type == 'S'">Mostrar Grado de confianza</button>
            <table class="table table-bordered" ng-show="showCf">
                <tr>
                    <th>Nivel de Confianza</th>
                    <th>Av.</th>
                    <th ng-repeat="qs in questions" ng-bind="$index + 1"></th>
                    <th>Pr.</th>
                </tr>
                <tr ng-repeat="conf in optConfidence">
                    <td>{{conf}}%</td>
                    <td></td>
                    <td ng-repeat="qs in questions" ng-bind="confidence[qs.id][conf] || 0"></td>
                    <td></td>
                </tr>
            </table>

            <br>
            <table class="table table-bordered" ng-if="selectedSes.type == 'S'">
                <tr>
                    <th ng-if="iterationIndicator != 3">Alumno</th>
                    <th ng-if="iterationIndicator == 3">Grupo</th>
                    <th>Av.</th>
                    <th ng-repeat="qs in questions" ng-bind="$index + 1"></th>
                    <th>Pr.</th>
                </tr>
                <tr>
                    <td>Avance</td>
                    <td>{{progress() | number:0}}%</td>
                    <td ng-repeat="qs in questions">{{progressPreg(qs.id) | number:0}}%</td>
                    <td class="bg-gray"></td>
                </tr>
                <tr ng-repeat="(alum, data) in alumState">
                    <td ng-if="iterationIndicator != 3" ng-bind="users[alum].name"></td>
                    <td ng-if="iterationIndicator == 3" ng-bind="leaderTeamStr[alum]"></td>
                    <td>{{progressAlum(alum) | number:0}}%</td>
                    <td ng-repeat="qs in questions"
                        ng-class="{'bg-darkgreen': data[qs.id], 'bg-darkred': data[qs.id]!=null && !data[qs.id]}"
                        ng-click="showDetailAnswer(qs.id, alum, iterationIndicator)"></td>
                    <td>{{avgAlum(alum) | number:0}}%</td>
                </tr>
                <tr>
                    <td>Promedio correctas</td>
                    <td class="bg-gray"></td>
                    <td ng-repeat="qs in questions">{{avgPreg(qs.id) | number:0}}%</td>
                    <td>{{avgAll() | number:0}}%</td>
                </tr>
            </table>
            <table class="table table-bordered" ng-if="(selectedSes.type == 'L' || selectedSes.type == 'M') && alumState!={} && iterationIndicator <= 4">
                <tr>
                    <th ng-if="iterationIndicator != 3">Alumno</th>
                    <th ng-if="iterationIndicator == 3">Grupo</th>
                    <th style="width: 420px" ng-if="iterationIndicator != 0 && iterationIndicator != 4">Puntaje</th>
                    <th>Tiempo de término</th>
                </tr>
                <tr ng-repeat="(alum, dato) in alumState">
                    <td ng-if="iterationIndicator != 3">
                        {{users[alum].name}}
                        <button class="btn btn-default btn-sm pull-right" ng-click="showReportByUid(alum)" ng-show="iterationIndicator==4"><i class="fa fa-eye"></i></button>
                    </td>
                    <td ng-if="iterationIndicator == 3" ng-bind="leaderTeamStr[alum]"></td>
                    <td ng-if="iterationIndicator != 0 && iterationIndicator != 4">
                        <div class="bg-darkgreen table-green-bar" ng-show="dato.score != null" style="width: {{400*dato.score}}px;">
                            {{100*dato.score | number:0}}%
                        </div>
                    </td>
                    <td><span ng-show="dato.dtime != null">{{dato.dtime/60 | number:0}}m {{dato.dtime%60 | number:0}}s</span></td>
                </tr>
            </table>
            <!-- RUBRICA DASHBOARD -->
            <div ng-show="iterationIndicator == 5">
            <h4>Detalle:</h4>
            <div class="row">
                <div class="col-sm-2">Texto: </div>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="selectedReport" ng-options="showName(x) for x in exampleReports"
                            ng-change="getReportResult()"></select>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default" ng-click="getReportResult()">Ver resultados</button>
                </div>
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>Alumno</th>
                    <th style="width: 420px">Evaluación</th>
                </tr>
                <tr ng-repeat="dato in result | orderBy:'-val'">
                    <td ng-bind="users[dato.uid].name"></td>
                    <td>
                        <div class="bg-darkgreen table-green-bar" style="width: {{100*dato.val}}px;">
                            {{dato.val | number:2}}
                        </div>
                    </td>
                </tr>
            </table>
            </div>
            <div ng-show="iterationIndicator == 6">
                <h4>Detalle Reportes:</h4>
                <table class="table table-bordered">
                    <tr>
                        <th>Reporte</th>
                        <th>Promedio</th>
                        <th ng-repeat="x in getInMax(resultAll) track by $index">Ev. {{$index + 1}}</th>
                    </tr>
                    <!--<tr ng-repeat="dato in result | orderBy:'-score'">-->
                    <tr ng-repeat="(alum,row) in resultAll">
                        <td>
                            Reporte de <span ng-bind="users[alum].name"></span>
                            <button class="btn btn-default btn-sm pull-right" ng-click="broadcastReport(row[0].rid)" ng-show="selectedSes.status == 9">
                                <i class="fa fa-share"></i>
                            </button>
                            <button class="btn btn-default btn-sm pull-right" ng-click="showReport(row[0].rid)"><i class="fa fa-eye"></i></button>
                        </td>
                        <td>{{getAvg(row) | number:2}}</td>
                        <td ng-repeat="cell in row">
                            {{cell.val | number:2}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- / DASHBOARDS -->

        <!-- DASHBOARDS RUBRICA -->
        <div class="pad-content" ng-show="selectedTab == 2" ng-controller="DashboardRubricaController">
            <h4>Resultados Rúbrica</h4>
            <button class="pull-right btn btn-default" ng-click="getAllReportResult()">Actualizar</button>
            <nvd3 options="barOpts" data="barData"></nvd3>
            <hr>
        </div>
        <!-- / DASHBOARDS RUBRICA -->

    </div>

</div>

</body>
</html>