<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>FeedBack</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>

<div class="middle-box">

    <h2>Recuperar Contraseña</h2>
    <hr/>
    <br/>
    <form action="resetpassword" method="POST">
        <label>Correo usuario:</label>
        <input type="text" class="form-control" name="user" required autofocus><br>
        <button type="submit" class="btn btn-primary form-control">Reset Password</button>
    </form>

    <br><br>

    <!--<small>Do have a FEN account?</small>
    <a href="login-fen">Login with FEN</a><br>-->
    <br/>
    <a href="register">Crear nueva cuenta</a>
    <br/>
    <small>Tienes cuenta</small>
    <br/>
    <a href="login">Login</a>

</div>

</body>
</html>