<!DOCTYPE html>
<html ng-app="Admin">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>DocCollab</title>
    
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/nv.d3.min.css">
    <link rel="stylesheet" href="css/angular-ui-notification.min.css">
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.0/quill.snow.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.css">
    <link rel="stylesheet" href="css/tablesort.min.css">
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/custom.css"/>
    <script src="libs/angular.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="libs/katex.min.js"></script>
    <script src="libs/angular-bootstrap-multiselect.js"></script>
    <script src="libs/d3.min.js"></script>
    <script src="libs/nv.d3.min.js"></script>
    <script src="libs/angular-nvd3.min.js"></script>
    <script src="libs/ng-map.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAx05l8YIv_oB8f5AMBGIcWmgnqFou0VJI&libraries=drawing,geometry,places"></script>
    <script type="text/javascript" src="libs/quill.min.js"></script>
    <script type="text/javascript" src="libs/ng-quill.min.js"></script>
    <script src="libs/socket.min.js"></script>
    <script src="libs/angular-timer.min.js"></script>
    <script src="libs/angular-ui-notification.min.js"></script>
    <script src="libs/save-csv.min.js"></script>
    <script src="libs/angular-tablesort.min.js"></script>
    <script src="js/StagesController.js"></script>
    <script src="js/admin-ctrl.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="libs/angular-route.js"></script> <!--Agregado recientemente-->
</head>
<body ng-controller="AdminController">
    
    <!--TOP BAR-->
    <div class="top-bar-mini cflex" ng-hide="false"> <!--WORK IN PROGRESS-->
        <div class="cf1">
            <a href="seslist" class="simple-margin-left">
                <h3 class="logo-bar app-title">EthicApp</h3>
            </a>
        </div>
        
        <div class="cf1 text-right margin-right-8 simple-padding-top" id="topbtnlist">
            <img src="img/blanco.jpg" alt="No Carga" class="circle_profile cf1 text-right margin-right-8 simple-padding-top">
            <strong class="margin-right-8"><a href="profile" style="color: white;">{{ username }}</a></strong>
            <a href="logout" class="text-white">
                <i class="fa fa-sign-out fa-2x"></i>
            </a>
        </div>
      </div>
    </div>
    
    <div>

        <div class="sidenav" > <!--Left side NAV BAR-->
            <div style = "margin-top: 5em;">
                <a ng-click="selectView('')">{{'home' | lang}}</a>
                <a ng-click="selectView('launchActivity')">{{'launchActivity' | lang}}</a>
                <a ng-click="selectView('activities')">{{'activities' | lang}}</a>
                <a ng-click="selectView('designs')">{{'designs' | lang}}</a>
                <a ng-click="selectView('users')" ng-if="institution">{{'users' | lang}}</a>
                <a ng-click="selectView('institution')" ng-if="institution"> {{'institution'|lang}}</a>
            </div>
        </div>
        <div class="main-body vl"   > <!--Right side--> 
            <div class="container" style="margin-top: 3em;">
                <div ng-view="" ng-controller="StagesEditController" ></div> <!--Ng view templates-->
            </div>
       
       
    </div>
    </div>  
</body>
</html>