<!DOCTYPE html>
<html ng-app="Admin">
<head>
    <meta charset="UTF-8">
    <title>DocCollab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/nv.d3.min.css">
    <link rel="stylesheet" href="css/angular-ui-notification.min.css">
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.0/quill.snow.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.css">
    <link rel="stylesheet" href="css/tablesort.min.css">
    <link rel="stylesheet" href="css/main.css"/>
    <script src="libs/angular.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="libs/katex.min.js"></script>
    <script src="libs/angular-bootstrap-multiselect.js"></script>
    <script src="libs/d3.min.js"></script>
    <script src="libs/nv.d3.min.js"></script>
    <script src="libs/angular-nvd3.min.js"></script>
    <script src="libs/ng-map.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAx05l8YIv_oB8f5AMBGIcWmgnqFou0VJI&libraries=drawing,geometry,places"></script>
    <script type="text/javascript" src="libs/quill.min.js"></script>
    <script type="text/javascript" src="libs/ng-quill.min.js"></script>
    <script src="libs/socket.min.js"></script>
    <script src="libs/angular-timer.min.js"></script>
    <script src="libs/angular-ui-notification.min.js"></script>
    <script src="libs/save-csv.min.js"></script>
    <script src="libs/angular-tablesort.min.js"></script>
    <script src="js/StagesController.js"></script>
    <script src="js/admin-ctrl.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="libs/angular-route.js"></script>
    
</head>
<body ng-controller="instituciones">
    <div class="rtab-nb">
        <button class="btn btn-default btn-sm " ng-click="changeLang()">
            {{'langOther' | lang}}
        </button>
        <a href="logout" class="text-white">
            <i class="fa fa-sign-out fa-2x" style="background-color: #ddd;"></i>
        </a>
    </div>


    
<h3 style="margin-left: 12%;">{{'Institucional_Users' | lang}}</h3> <br>


<!-- 

<a class="inst"> <Strong>{{'Back' | lang}}</Strong></a> <br><br>
<h2 class="inst" style="font: bold;"><strong>{{'Import_Users' | lang}}</strong> </h2>
<h5 class="inst">{{'Enter_the_users' | lang}}</h5>
<form method="post" action="create-multicounts">
<textarea class="inst mid-container-inst S input-inst" style="resize: none; height: 10em; width: 50em;" name="data"> </textarea> <br>
<h10 class="inst">{{'import_phrase1' | lang}}</h10><br>
<h10 class="inst"> {{'import_phrase2' | lang}}</h10> <br>

    <h3 class="inst" style="font: bold;" id="num-usuaios"><strong>{{'Import_number' | lang}}</strong> </h3>
    <button class="btn btn-primary inst" style="margin-left: 50%;" >{{'Import_Users' | lang}}</button> </form>-->


<button class="btn btn-primary inst" >{{'Import_Users' | lang}}</button><br><br>
<div >
    <div class="inst">
        <div class="tab-cs2">
            <button class="tab-cs2" value="1" id="btn-alumnos" onclick="hideB(this)"  >
                {{ 'students' | lang}}
            </button>
            <button class="tab-cs2" value="0" id="btn-profesores" onclick="hideA(this)" style="background-color: #ddd;">
                {{ 'teachers' | lang}}
            </button>
            
            <input placeholder="{{ 'filter' | lang}}" class="input-inst" ng-model="UserSearch"></input>
        </div>
    </div>

    <div class="scrollable-container blue" style="width: 100%;" id="box_alumnos">
        <div class="mid-container-inst  small-scrollable-container inst" id="container" >
        <div ng-repeat="user in users | filter:UserSearch" ng-if="user.role == 'A'" class="mid-container-inst">
            <strong>{{user.name}}</strong><br>
            <a ng-bind="user.mail"></a>
            <form action="make_prof" method="POST"><input style="display: none;" value="{{user.mail}}" type="text"  name="mail"><button class=" btn-primary rtab-nb2">{{ 'make_t' | lang}}</button></form>
            <button class=" btn-primary rtab-nb2" >{{ 'res_pass' | lang}}</button>
            {{user.role}}
        </div>
        </div> 
    </div> 
    <div class="scrollable-container blue" style="width: 100%; display: none;" id="box_profesor">
        <div class="mid-container-inst  small-scrollable-container inst" id="container" >
        <div ng-repeat="user in users | filter:UserSearch" ng-if="user.role == 'P'" class="mid-container-inst">
            <strong>{{user.name}}</strong><br>
            <a ng-bind="user.mail"></a>
            <form action="make_alum" method="POST"><input style="display: none;" value="{{user.mail}}" type="text"  name="mail"> <button class=" btn-primary rtab-nb2">{{ 'make_s' | lang}}</button></form>
            <button class=" btn-primary rtab-nb2" >{{ 'res_pass' | lang}}</button>
            {{user.role}}
        </div>
        </div> 
    </div> 
 

</div>
</body>
</html>
<script>
function hideA(x) {
   if (x.value == "0") {
     document.getElementById("btn-profesores").value = "1";
     document.getElementById("btn-alumnos").value = "0";
     document.getElementById("btn-profesores").style.backgroundColor = "#fff"
     document.getElementById("btn-alumnos").style.backgroundColor = "#ddd"
    document.getElementById("box_profesor").style.display = "block"
    document.getElementById("box_alumnos").style.display = "none"


   }
 }

 function hideB(x) {
   if (x.value == "0") {
     document.getElementById("btn-alumnos").value = "1";
     document.getElementById("btn-profesores").value = "0";
     document.getElementById("btn-alumnos").style.backgroundColor = "#fff"
     document.getElementById("btn-profesores").style.backgroundColor = "#ddd"
     document.getElementById("box_profesor").style.display = "none"
    document.getElementById("box_alumnos").style.display = "block"


   }
 }

window.onload = function() {
    document.getElementById("btn-alumnos").value = "1";
    document.getElementById("btn-profesores").value = "0";

};
</script>