<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>DocCollab</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>

<div class="middle-box large-box">

    <div class="logo">
        <img src="img/logo.png" alt="logo">
    </div>

    <h2 class="app-title">
        EthicApp
    </h2>

    <hr/>
    <% if(rc == 1) {%>
    <div class="alert alert-info">
        Registro Completo. Ingrese con sus datos
    </div>
    <% } %>
    <% if(rc == 2) {%>
    <div class="alert alert-danger">
        Login o Password Incorrectos
    </div>
    <% } %>
    <% if(rc == 3) {%>
        <div class="alert alert-info">
            Se ha enviado un correo con la información para recuperar la contraseña.
            Este correo podría haber llegado a spam.
        </div>
    <% } %>
    <% if(rc == 4) {%>
        <div class="alert alert-info">
            Contraseña cambiada correctamente. Ingrese con sus datos.
        </div>
    <% } %>
    <br/>
    <form action="login" method="POST">
        <label class=" line-labels">
            Correo:
            <input class="grid-item line-input form-controll" type="text"  name="user" required autofocus>
            <br>
        </label>

        <label class="line-labels">
            Contraseña:
            <input class="grid-item line-input form-controll" type="password"  name="pass" required>
            <br>
        </label>
        <button type="submit" class="btn btn-primary" style="width: 200px;">
            Ingresar
        </button>
    </form>
    <br>
  
    <a href="register">Registrarse </a>|
    <a href="forgot-pass">Olvidó su contraseña?</a>

    <div class="row ">
        <div class="col-md-3  line-labels">
          <a class="btn btn-outline-dark" href="/google" role="button" style="text-transform:none">
            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            Login with Google
          </a>
        </div>
      </div>

</div>
<!--<small>Do have a FEN account?</small>
    <a href="login-fen">Login with FEN</a><br>-->
    <!--<small>Registro:</small>-->
    <!--<br>
    <a href="#">Nueva cuenta de profesor</a>-->


</body>
</html>