<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>GeoSync</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
</head>
<body>

<div class="middle-box">

    <h2>New Password</h2>
    <hr/>
    <br/>
    <form action="../newpassword" method="POST">
        <input type="hidden" name="token" value="<%= token %>">
        <label>Password:</label>
        <input type="password" class="form-control" name="pass" required autofocus><br>
        <button type="submit" class="btn btn-primary form-control">Reset</button>
    </form>
    <br>
    <!--<a href="#">Nueva cuenta de profesor</a>-->

</div>

</body>
</html>