<!DOCTYPE html>
<html lang="es" ng-app="SesList">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>DocCollab</title>
    <script src="libs/angular.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <!--<script src="js/ses-ctrl.js"></script>-->
    <script src="libs/socket.min.js"></script>
    <script src="libs/intro.min.js"></script>
    <script src="libs/angular-intro.min.js"></script>
    <script src="libs/ua-parser.min.js"></script>
    <script src="js/ses-ctrl.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/introjs.css">
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>

    <div ng-controller="SesListController">


        <div class="top-bar-mini cflex">
            <div class="cf1">
                <a href="seslist" class="simple-margin-left">
                    <h3 class="logo-bar app-title">EthicApp</h3>
                </a>
            </div>
            
            <div class="cf1 text-right margin-right-8 simple-padding-top" id="topbtnlist">
                <img src="img/blanco.jpg" alt="No Carga" class="circle_profile cf1 text-right margin-right-8 simple-padding-top">
                <strong class="margin-right-8"><a href="profile" style="color: white;">{{ username }}</a></strong>
                <a href="logout" class="text-white">
                    <i class="fa fa-sign-out fa-2x"></i>
                </a>
            </div>
        </div>

        <div class="inst">
            <div>
            <img src="img/blanco.jpg" alt="No Carga" class="" style="border: 5px solid #555; max-width: 100px; max-height: 100px;">

               <strong  style="font-size: 25px;">{{ username }}  </strong>
               <h3 ng-if="rol == 'A'">Alumno </h3>
               <h3 ng-if="rol == 'P'">Profesor </h3>
               <h3 ng-if="rol == 'I'">Institucion </h3>
            
            <br><br>
        </div>
            <form action="changepassword" method="post">
            <input  name="mail" type="hidden" value="{{mail}}" class="form-control profile-input">
            <label class="left">Cambiar Contraseña:</label>
            <input type="text" class="form-control profile-input" name="pass" required autofocus><br>
            <label>Confirmar contraseña:</label>
            <input type="text" class="form-control profile-input" name="pass-conf"><br>
            <button type="submit" class="btn btn-primary" style="width: 200px;">
                Cambiar Contraseña
            </button>

        </form>
        </div>
        <br>
        <div class="inst">
            <form action="deleteacc" method="post">
                Terminar Cuenta<br><br>
                <input  name="mail" type="hidden" value="{{mail}}" class="form-control profile-input">
                <button type="submit" class="btn btn-primary" style="width: 200px;">
                    Dar Cuenta de Baja
                </button>
            </form>
        </div>

    </div>
</body>
</html>
