<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>FeedBack</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body class="bg-green">

<div class="middle-box">

    <h2>Registro Alumnos</h2>
    <hr/>
    <br/>
    <form action="register" method="POST">
        <label>Nombre:</label>
        <input type="text" class="form-control" name="name" required autofocus><br>
        <label>Apellido:</label>
        <input type="text" class="form-control" name="lastname"><br>
        <label>RUT:</label>
        <input type="text" class="form-control" name="rut" required><br>
        <label>E-mail:</label>
        <input type="email" class="form-control" name="mail" required><br>
        <label>Sexo:</label>
        <select name="sex" class="form-control">
            <option value="F">Female</option>
            <option value="M">Male</option>
        </select><br/>
        <label>Contraseña:</label>
        <input type="password" class="form-control" name="pass"><br>

        <button type="submit" class="btn btn-success form-control">Registrar</button>
    </form>

    <br><br>

    <!--<small>Do have a FEN account?</small>
    <a href="login-fen">Login with FEN</a><br>-->
    <small>Ya tiene una cuenta?</small>
    <br/>
    <a href="login">Login</a>

</div>

</body>
</html>