<!DOCTYPE html>
<html lang="es" ng-app="Select">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>DocCollab</title>
    <script src="libs/angular.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="libs/angular-timer.min.js"></script>
    <script src="libs/angular-sanitize.min.js"></script>
    <script src="libs/socket.min.js"></script>
    <script src="libs/angular-ui-notification.min.js"></script>
    <script src="libs/ng-map.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAx05l8YIv_oB8f5AMBGIcWmgnqFou0VJI&libraries=geometry,drawing,places"></script>
    <script src="js/select-ctrl.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/angular-ui-notification.min.css">
    <link rel="stylesheet" href="css/quill-sup.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.css">
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body class="bg-black">

<div class="editor-container" ng-controller="SelectController">

    <div class="row top-bar-mini">
        <div class="text-center">
            <span ng-repeat="st in sesStatusses">
                <span class="label label-primary" ng-class="{'bg-black-alpha': $index==iteration-1}" ng-bind="st"></span>
                <span ng-hide="$last">→</span>
            </span>
            <span class="pull-right margin-right-24" ng-show="sesSTime != null">
                <timer start-time="sesSTime">{{hours}}h {{minutes}}m {{seconds}}s</timer>
            </span>
        </div>
    </div>

    <div class="row top-bar">
        <div class="col-sm-6 full-height simple-padding-top">
            <strong class="simple-margin-left" ng-bind="sesName"></strong>
            <span> - Preguntas: {{questions.length}}</span>
        </div>
        <div class="col-sm-6">
            <a href="seslist" class="btn btn-sm btn-default pull-right">Atrás</a>
            <a ng-click="showInfo()" class="btn btn-sm btn-default pull-right"><i class="fa fa-question"></i></a>
            <span class="pull-right boxed" ng-bind="teamstr" style="
    overflow-x: scroll;
    max-height: 24px;
    max-width: 340px;
"></span>
        </div>
    </div>

    <div class="scrollable-container" ng-controller="GeoController">
        <div class="mid-container">

            <!-- MAP AREA -->
            <div ng-show="questions[selectedQs].map" class="row row-no-padding">
                <div class="col-sm-2">
                <div class="map-sidebar">
                    <h4>Elementos</h4>
                    <div class="list-group">
                        <a ng-repeat="overlay in mOverlays" class="list-group-item" ng-click="selectOverlay(overlay.id)"
                            ng-class="{'active': overlay.id==selectedOverlay.id}">
                            {{overlay.name}}
                        </a>
                        <a ng-repeat="overlay in sOverlays" class="list-group-item" ng-click="selectOverlay(overlay.id)"
                           ng-class="{'active': overlay.id==selectedOverlay.id}">
                            {{overlay.name}}
                        </a>
                        <span ng-show="mOverlays.length == 0 && sOverlays.length == 0">Mapa sin elementos</span>
                    </div>
                </div>
                </div>
                <div class="col-sm-10">
                <ng-map class="map-block map-tbl" center="{{questions[selectedQs].map.center}}" zoom="{{questions[selectedQs].map.zoom}}"
                        draggable="{{questions[selectedQs].map.nav}}">
                    <!-- DRAW MANAGER -->
                    <drawing-manager
                            ng-if="questions[selectedQs].map.edit && iteration <=3"
                            on-overlaycomplete="onMapOverlayCompleted()"
                            drawing-control-options="{position: 'TOP_CENTER'}"
                            drawingControl="true"
                            drawingMode="null"
                            markerOptions="{draggable: true}"
                            polylineOptions="{strokeColor:'darkred', editable: true, draggable: true}"
                            rectangleOptions="{fillColor: 'red', strokeColor:'darkred', editable: true, draggable: true}"
                            polygonOptions="{fillColor: 'red', strokeColor:'darkred', editable: true, draggable: true}"
                            circleOptions="{fillColor: 'red', strokeColor:'darkred', editable: true, draggable: true}">
                    </drawing-manager>

                    <!-- NEW OVERLAYS -->
                    <marker ng-if="newOverlay.type == 'M' && newOverlay.geom.position != null" id="nmkr" draggable="true"
                            position="{{newOverlay.geom.position}}" icon="img/marker-{{newOverlay.color}}.png"></marker>
                    <shape ng-if="newOverlay.type != 'M'" id="nshp" name="{{newOverlay.fullType}}" path="{{newOverlay.geom.path}}"
                           bounds="{{newOverlay.geom.bounds}}" center="{{newOverlay.geom.center}}"
                           radius="{{newOverlay.geom.radius}}"
                           fill-color="{{newOverlay.color}}" stroke-color="dark{{newOverlay.color}}" editable="true"
                           draggable="true"></shape>

                    <!-- SESSION OVERLAYS -->
                    <marker ng-repeat="overlay in mOverlays" id="{{overlay.id}}" position="{{overlay.geom.position}}"
                            icon="img/marker-{{overlay.color}}.png" on-click="clickOverlay($event)"></marker>
                    <shape ng-repeat="overlay in sOverlays" id="{{overlay.id}}" name="{{overlay.fullType}}"
                           path="{{overlay.geom.path}}" bounds="{{overlay.geom.bounds}}" center="{{overlay.geom.center}}"
                           radius="{{overlay.geom.radius}}" fill-color="{{overlay.color}}" on-click="clickOverlay($event)"
                           stroke-color="dark{{overlay.color}}" stroke-width="1"></shape>

                    <!-- INFO WINDOW -->
                    <info-window id="iw" position="{{selectedOverlay.centroid}}">
                        <div ng-non-bindable>
                            <strong>{{selectedOverlay.name}}</strong>
                            <p>{{selectedOverlay.description}}</p>
                        </div>
                    </info-window>

                    <info-window id="iw2" position="{{newOverlay.centroid}}" visible="{{editing}}">
                        <div ng-non-bindable>
                            <input class="form-control" type="text" ng-model="newOverlay.name" placeholder="Nombre">
                            <textarea class="form-control" ng-model="newOverlay.description" placeholder="Descripción"></textarea>
                            <button class="btn btn-primary btn-sm" ng-click="sendOverlay()">Enviar</button>
                            <button class="btn btn-danger btn-sm" ng-click="closeOverlay()">Cancelar</button>
                        </div>
                    </info-window>

                </ng-map>
                </div>
            </div>

            <div ng-repeat="qs in questions" ng-show="selectedQs == $index">
                <strong ng-show="qs.text_content != null">Texto:</strong>
                <p class="question-block" ng-bind-html="qs.text_content | trustHtml"></p>
                <br ng-show="qs.text_content != null">
                <h4>{{$index + 1}}. <span ng-bind-html="qs.content | trustHtml"></span></h4>

                <div class="list-group">
                    <div class="" ng-repeat="x in optLabels">
                        <a class="input-group-addon addon-little" ng-bind="x" ng-class="{'bg-green': answers[qs.id]==$index}"
                           ng-click="!finished && setAnswer(qs,$index)"></a>
                        <span class="mini" ng-bind="qs.options[$index]"></span>
                    </div>
                </div>
                <label>Comentario / Justificación:</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="comments[qs.id]" ng-change="qs.dirty = true" ng-disabled="finished">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-disabled="finished" ng-click="sendAnswer(qs)" ng-class="{'btn-success': sent[qs.id], 'btn-warning': qs.dirty}">
                            <i class="fa fa-send"></i>
                        </button>
                    </span>
                </div>
                <div ng-show="useConfidence">
                    <label>Grado de certeza en la respuesta:</label>
                    <div class="btn-group simple-margin-left" ng-disabled="finished">
                        <label class="btn btn-default" ng-repeat="conf in optConfidence" ng-class="{active: confidences[qs.id] == conf}" ng-disabled="finished">
                            <input ng-disabled="finished" type="radio" name="confidence" ng-model="confidences[qs.id]" ng-value="conf"> {{conf}}%
                        </label>
                    </div>
                </div>
                <br>
                <table class="table table-condensed table-bordered" ng-show="iteration > 1">
                    <tr>
                        <th class="col-sm-2">Alumno</th>
                        <th class="col-sm-5">Original</th>
                        <th class="col-sm-5" ng-show="iteration > 2">Reelaboración Anonima</th>
                    </tr>
                    <tr ng-repeat="uid in teamUids">
                        <td>
                            <span ng-show="uid != myUid && team[uid] == null">Anónimo {{uid}}</span>
                            <span ng-show="uid != myUid && team[uid] != null" ng-bind="team[uid]"></span>
                            <span ng-hide="uid != myUid">Mi respuesta</span>
                        </td>
                        <td>
                            <strong>Alternativa {{optLabels[ansIter1[qs.id][uid].answer]}}</strong>
                            <br>
                            <strong>Comentario:</strong>
                            <span ng-bind="ansIter1[qs.id][uid].comment"></span>
                        </td>
                        <td ng-show="iteration > 2">
                            <strong>Alternativa {{optLabels[ansIter2[qs.id][uid].answer]}}</strong>
                            <br>
                            <strong>Comentario:</strong>
                            <span ng-bind="ansIter2[qs.id][uid].comment"></span>
                        </td>
                    </tr>
                </table>
                <hr>
                <br>
                <div ng-if="iteration >= 4">
                    <strong>Alternativa Correcta: {{optLabels[anskey[qs.id].answer]}}</strong>
                    <br>
                    <strong>Comentario: </strong><span ng-bind="anskey[qs.id].comment"></span>
                    <br>
                    <br>
                    <hr>
                    <br>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <button class="btn btn-default" ng-click="prevQuestion()"><i class="fa fa-arrow-left"></i></button>
                    </div>
                    <div class="col-sm-10">
                        <span class="text-danger full-width text-center center-block" ng-bind="bottomMsg"></span>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-default" ng-click="nextQuestion()"><i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="splash" ng-if="iteration > 3">
        <div class="splash-box">
            <h3>La sesión ha finalizado</h3>
            <h5>Gracias por participar.</h5>
        </div>
    </div>-->

</div>

</body>
</html>