<!DOCTYPE html>
<html lang="es" ng-app="Select">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>DocCollab</title>
    <script src="libs/angular.min.js"></script>
    <script src="js/select-ctrl.js"></script>
    <!--<script src="minjs/select-ctrl.min.js"></script>-->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body class="bg-black">

<div class="editor-container" ng-controller="SelectController">

    <div class="row top-bar">
        <div class="col-sm-6 full-height simple-padding-top">
            <strong class="simple-margin-left" ng-bind="sesName"></strong>
            <span> - Preguntas: {{questions.length}} - Iteraci칩n: {{iteration}}</span>
        </div>
        <div class="col-sm-6">
            <a href="seslist" class="btn btn-sm btn-default pull-right">Atr치s</a>
        </div>
    </div>

    <div class="scrollable-container">
        <div class="mid-container">
            <div ng-repeat="qs in questions">
                <h4 class="sep-lines" ng-bind="($index+1)+'. '+qs.content"></h4>
                <div class="list-group">
                    <div class="" ng-repeat="x in optLabels">
                        <a class="input-group-addon addon-little" ng-bind="x" ng-class="{'bg-green': answers[qs.id]==$index}"
                           ng-click="setAnswer(qs.id,$index)"></a>
                        <span class="mini" ng-bind="qs.options[$index]"></span>
                    </div>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="comments[qs.id]">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="sendAnswer(qs.id)"
                                ng-class="{'btn-success': sent[qs.id]}">{{(sent[qs.id])?"Re-":""}}Enviar</button>
                    </span>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6" ng-show="iteration > 1">
                    <strong>Respuestas iteraci칩n 1:</strong>
                    <div ng-repeat="(uid, ans) in ansIter1[qs.id]">Anonimo {{$index + 1}}: <strong>{{optLabels[ans.answer]}}</strong> - {{ans.comment}}</div>
                    </div>
                    <div class="col-sm-6" ng-show="iteration > 2">
                        <strong>Respuestas iteraci칩n 2:</strong>
                        <div ng-repeat="(uid, ans) in ansIter2[qs.id]">Anonimo {{$index + 1}}: <strong>{{optLabels[ans.answer]}}</strong> - {{ans.comment}}</div>
                    </div>
                </div>
                <hr>
                <br>
            </div>
        </div>
    </div>

</div>

</body>
</html>