<!DOCTYPE html>
<html lang="es" ng-app="Select">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>DocCollab</title>
    <script src="libs/angular.min.js"></script>
    <script src="js/select-ctrl.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body class="bg-black">

<div class="editor-container" ng-controller="SelectController">

    <div class="row top-bar">
        <div class="col-sm-6 full-height simple-padding-top">
            <strong class="simple-margin-left" ng-bind="sesName"></strong>
            <span> - Preguntas: {{questions.length}} - Iteración: {{iteration}}</span>
        </div>
        <div class="col-sm-6">
            <a href="seslist" class="btn btn-sm btn-default pull-right">Atrás</a>
        </div>
    </div>

    <div class="scrollable-container">
        <div class="mid-container">
            <div ng-repeat="qs in questions">
                <h4 class="sep-lines" ng-bind="($index+1)+'. '+qs.content"></h4>
                <div class="list-group">
                    <div class="" ng-repeat="x in optLabels">
                        <a class="input-group-addon addon-little" ng-bind="x" ng-class="{'bg-green': answers[qs.id]==$index}"
                           ng-click="setAnswer(qs,$index)"></a>
                        <span class="mini" ng-bind="qs.options[$index]"></span>
                    </div>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="comments[qs.id]">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="sendAnswer(qs)" ng-class="{'btn-success': sent[qs.id], 'btn-warning': sent[qs.id] && qs.dirty}">
                            <i class="fa fa-send"></i>
                        </button>
                    </span>
                </div>
                <br>
                <table class="table table-condensed table-bordered">
                    <tr>
                        <th class="col-sm-2">Alumno</th>
                        <th class="col-sm-5">Iteración 1</th>
                        <th class="col-sm-5">Iteración 2</th>
                    </tr>
                    <tr ng-repeat="uid in teamUids">
                        <td><span ng-show="uid != myUid">Anónimo {{uid}}</span><span ng-hide="uid != myUid">Mi respuesta</span></td>
                        <td><strong ng-bind="optLabels[ansIter1[qs.id][uid].answer]"></strong> <span ng-bind="ansIter1[qs.id][uid].comment"></span></td>
                        <td><strong ng-bind="optLabels[ansIter2[qs.id][uid].answer]"></strong> <span ng-bind="ansIter2[qs.id][uid].comment"></span></td>
                    </tr>
                    <!--<div class="col-sm-6" ng-show="iteration > 1">
                    <strong>Respuestas iteración 1:</strong>
                    <div ng-repeat="(uid, ans) in ansIter1[qs.id]">
                        <span ng-show="uid != myUid">Anónimo {{uid}}: </span>
                        <span ng-hide="uid != myUid">Mi respuesta: </span>
                        <strong>{{optLabels[ans.answer]}}</strong> - {{ans.comment}}</div>
                    </div>
                    <div class="col-sm-6" ng-show="iteration > 2">
                        <strong>Respuestas iteración 2:</strong>
                        <div ng-repeat="(uid, ans) in ansIter2[qs.id]">
                        <span ng-show="uid != myUid">Anónimo {{uid}}: </span>
                        <span ng-hide="uid != myUid">Mi respuesta: </span>
                        <strong>{{optLabels[ans.answer]}}</strong> - {{ans.comment}}</div>
                    </div>-->
                </table>
                <hr>
                <br>
            </div>
        </div>
    </div>

    <div class="splash" ng-if="iteration > 3">
        <div class="splash-box">
            <h3>La sesión ha finalizado</h3>
            <h5>Gracias por participar.</h5>
        </div>
    </div>

</div>

</body>
</html>