<!DOCTYPE html>
<html lang="es" ng-app="Semantic">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>DocCollab</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="libs/pdf.min.js"></script>
    <script src="libs/rangy-core.min.js"></script>
    <script src="libs/rangy-classapplier.min.js"></script>
    <script src="libs/rangy-serializer.min.js"></script>
    <script src="libs/textlayerbuilder.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-ui-tree.min.js"></script>
    <script src="libs/angular-timer.min.js"></script>
    <script src="libs/socket.min.js"></script>
    <script src="libs/angular-ui-notification.min.js"></script>
    <script src="js/semantic-ctrl.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/minimal.css">
    <link rel="stylesheet" href="css/angular-ui-tree.min.css">
    <link rel="stylesheet" href="css/angular-ui-notification.min.css">
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body class="bg-white">

<div class="editor-container" ng-controller="SemanticController">

    <div class="top-bar-mini">
        <div class="text-center">
            <span ng-repeat="st in sesStatusses">
                <span class="label label-primary" ng-class="{'bg-black-alpha': st.i == iteration}" ng-bind="st.name"></span>
                <span ng-hide="$last">→</span>
            </span>
            <span class="pull-right margin-right-24" ng-show="sesSTime != null">
                <timer start-time="sesSTime">{{hours}}h {{minutes}}m {{seconds}}s</timer>
            </span>
        </div>
    </div>

    <div class="top-bar-mini simple-padding-bottom">
        <strong>Factor detonante: </strong>
        <span ng-bind="sesDescr"></span>
    </div>

    <div class="top-bar">
        <div class="col-sm-6 full-height">
            <span class="simple-margin-left" style="vertical-align: top;">Documentos: </span>
            <span ng-repeat="doc in documents" class="side-top-btn font-mini" ng-class="{'active': $index==selectedDocument, 'border-orange': hgDocs[$index]}" ng-click="selectDocument($index)">
                {{doc.title | limitTo:16}}
            </span>
            <!--<strong class="pull-right margin-top-8" ng-bind="iterationNames[iteration]"></strong>-->
        </div>
        <div class="col-sm-6">
            <a onclick="window.history.back()" class="btn btn-sm btn-default pull-right">Atrás</a>
            <button disabled class="btn btn-sm btn-default pull-right" ng-show="iteration == 3 && !followLeader"><i class="fa fa-star"></i> Representante </button>
            <button class="btn btn-sm btn-default pull-right" ng-show="iteration == 3 && followLeader" ng-click="takeControl()">Tomar Control</button>
            <a class="btn btn-sm btn-default pull-right" ng-show="iteration > 6" href="rubrica">Ir a evaluación</a>
            <button class="btn btn-sm btn-default pull-right" ng-if="iteration > 0" ng-click="finishState()" ng-class="{'btn-success': hasFinished || finished}">
                <i class="fa fa-check"></i> Terminé</button>
            <span class="pull-right boxed" ng-bind="teamstr"></span>
        </div>
    </div>

    <div class="vh50 boxed">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{documents[selectedDocument].title}}</h3>
            <p class="text-justify"><span ng-repeat="sent in sentences track by $index" ng-class="{'bg-lightorange': highlight[selectedDocument][$index] && !views[$index], 'bg-lightgreen': views[$index]}"> <input type="checkbox" ng-model="highlight[selectedDocument][$index]" ng-disabled="disabledSents[selectedDocument][$index]">{{sent}}</span></p>
        </div>
    </div>

    <div class="">
        <div class="col-lg-10 col-lg-offset-1">
            <h4>Unidades Semánticas:</h4>
            <div>
                <div class="row" ng-repeat="unit in units">
                    <div class="col-sm-1">
                        <button class="btn btn-default" ng-class="{'active': unit.edit, 'btn-warning': unit.edit}" ng-click="toggleEdit($index,unit)" ng-disabled="finished || followLeader">
                            <i class="fa fa-check-square"></i> {{unit.sentences.length}} Sel.
                        </button>
                    </div>
                    <div class="col-sm-11">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="unit.comment" ng-change="unit.dirty = true" ng-disabled="finished || followLeader">
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-disabled="finished || followLeader" ng-click="addSemUnit(unit)" ng-class="{'btn-success': sent[unit.id], 'btn-warning': unit.dirty}">
                                    <i class="fa fa-send"></i>
                                </button>
                                <button class="btn btn-default" ng-disabled="finished || followLeader" ng-click="deleteUnit($index,unit)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-default simple-margin-left" ng-click="addEmptyUnit()" ng-show="iteration < 4"
                    ng-disabled="finished || countHighlight() == 0 || editing != -1 || units.length > 4 || followLeader">
                Agregar unidad semántica
            </button>
        </div>
        <hr>
        <br>
        <div class="col-lg-10 col-lg-offset-1">
            <div>
                <div class="row bordered" ng-repeat="unit in unitsIter3">
                    <div class="col-sm-1">
                        <button class="btn btn-default" ng-class="{'active': unit.view}" ng-click="startView(unit)">
                            <i class="fa fa-check-square"></i> {{unit.sentences.length}} Sel.
                        </button>
                    </div>
                    <div class="col-sm-11 simple-padding-top">
                        <strong>Grupal</strong>: <span ng-bind="unit.comment"></span>
                    </div>
                    <hr>
                </div>
                <div class="row bordered" ng-repeat="unit in unitsIter1">
                    <div class="col-sm-1">
                        <button class="btn btn-default" ng-class="{'active': unit.view}" ng-click="startView(unit)">
                            <i class="fa fa-check-square"></i> {{unit.sentences.length}} Sel.
                        </button>
                    </div>
                    <div class="col-sm-11 simple-padding-top">
                        <strong ng-bind="teamNames[unit.uid]"></strong>: <span ng-bind="unit.comment"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="report-window" ng-if="writingReport" ng-controller="ReportController">
        <div class="bar">
            <span>Respuesta al factor detonante</span>
            <div class="pull-right">
                <span ng-show="lastSent != null && isFull">Enviado {{lastSent | date:'HH:mm'}}</span>
                <button class="btn btn-sm btn-primary" ng-click="sendReport()" ng-show="isFull && !finished"><i class="fa fa-send"></i></button>
                <button class="btn btn-sm btn-primary" ng-click="toggleFull()"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="content" ng-show="isFull">
            <textarea class="form-control" ng-model="content" ng-disabled="finished"></textarea>
        </div>
    </div>

</div>

</body>
</html>