<!DOCTYPE html>
<html lang="es" ng-app="SesList">
<head>
    <meta charset="UTF-8">
    <title>DocCollab</title>
    <script src="libs/angular.min.js"></script>
    <script src="js/ses-ctrl.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>

<div class="main-container" ng-controller="SesListController">

    <a href="logout" class="pull-right">Salir</a>

    <h3>Lista de Sesiones</h3>

    <% if(role == "P") { %>
    <h4>Agregar Sesión:</h4>
    <form action="add-session" method="post">
        <label>Nombre:</label>
        <input type="text" class="form-control" name="name">
        <label>Descripción:</label>
        <textarea name="descr" class="form-control" rows="2"></textarea>
        <button class="btn btn-primary form-control" type="submit">Agregar Sesión</button>
    </form>
    <br>
    <hr>
    <br>
    <% } %>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="ses in sessions">
            <h4 class="list-group-item-heading" ng-bind="ses.name">
            </h4>
            <p class="list-group-item-text" ng-bind="ses.descr"></p>
        </li>
    </ul>

</div>

</body>
</html>