<!DOCTYPE html>
<html lang="es" ng-app="Editor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>DocCollab</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="libs/pdf.min.js"></script>
    <script src="libs/rangy-core.min.js"></script>
    <script src="libs/rangy-classapplier.min.js"></script>
    <script src="libs/rangy-serializer.min.js"></script>
    <script src="libs/textlayerbuilder.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-ui-tree.min.js"></script>
    <script src="libs/angular-timer.min.js"></script>
    <script src="libs/socket.min.js"></script>
    <script src="libs/angular-ui-notification.min.js"></script>
    <script src="js/editor-ctrl.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/minimal.css">
    <link rel="stylesheet" href="css/angular-ui-tree.min.css">
    <link rel="stylesheet" href="css/angular-ui-notification.min.css">
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body class="bg-black">

<div class="editor-container" ng-controller="EditorController">

    <div class="row top-bar-mini">
        <div class="text-center">
            <span ng-repeat="st in sesStatusses">
                <span class="label label-primary" ng-class="{'bg-black-alpha': $index==iteration}" ng-bind="st"></span>
                <span ng-hide="$last">→</span>
            </span>
            <span class="pull-right margin-right-24" ng-show="sesSTime != null">
                <timer start-time="sesSTime">{{hours}}h {{minutes}}m {{seconds}}s</timer>
            </span>
        </div>
    </div>

    <div class="top-bar-mini">
        <strong class="simple-margin-left">Factor detonante: </strong>
        <span ng-bind="sesDescr"></span>
    </div>

    <div class="row top-bar">
        <div class="col-sm-6 full-height">
            <span class="simple-margin-left">Documentos: </span>
            <span ng-repeat="doc in documents" class="side-top-btn" ng-bind="doc.title"
                  ng-class="{'active': $index==selectedDocument}" ng-click="selectPDF($index)"></span>
            <!--<strong class="pull-right margin-top-8" ng-bind="iterationNames[iteration]"></strong>-->
        </div>
        <div class="col-sm-6">
            <a onclick="window.history.back()" class="btn btn-sm btn-default pull-right">Atrás</a>
            <button disabled class="btn btn-sm btn-default pull-right" ng-show="iteration == 3 && !followLeader"><i class="fa fa-star"></i> Representante </button>
            <button class="btn btn-sm btn-default pull-right" ng-show="iteration == 3 && followLeader" ng-click="takeControl()">Tomar Control</button>
            <button class="btn btn-sm btn-default pull-right" ng-click="finishState()" ng-class="{'btn-success': hasFinished || finished}">
                <i class="fa fa-check"></i> Terminé</button>
            <span class="pull-right boxed" ng-bind="teamstr"></span>
        </div>
    </div>

    <div class="row">
        <div id="pdf-container" class="pdf-content col-sm-9">
            <div class="centered">
                <div ng-repeat="doc in documents" id="pdf-canvas-{{$index}}" class="centered"
                ng-show="$index==selectedDocument"></div>
            </div>
        </div>
        <div class="col-sm-3 side-bar">
            <h3>Instrucciones:</h3>
            <div ng-bind="instructions[iteration]"></div>
            <hr>
            <div ng-hide="iteration == 0">
            <!--<a class="btn btn-sm btn-default pull-right margin-top-8" ng-click="setSelOrder()" ng-disabled="!checkAllSync() || followLeader || writingReport">Fijar orden</a>-->
            <h3>Ideas Fuerza:</h3>
            <div class="row">
                <div class="btn-group center-block w250" ng-show="tabOptions.length > 1">
                    <button class="form-control btn btn-default" ng-repeat="x in tabOptions" ng-bind="x.name"
                            ng-class="{active: x.idx==sideTab}" ng-click="setTab(x.idx)">
                    </button>
                </div>
            </div>
            <div class="text-gray center-block text-center" ng-show="numPages>0">Cargando...</div>
            <div class="y-scrollable" ui-tree data-max-depth="1">
                <ul class="full-height" ui-tree-nodes="" ng-model="selections" ng-show="sideTab == 0">
                    <span class="text-gray center-block text-center" ng-show="selections.length > 0">Más importante</span>
                    <li class="row idea-item" ng-repeat="sel in selections" ui-tree-node ng-class="{'bg-warning':reportIdeas[sel.id]}">
                        <div class="col-xs-1">
                            <span ui-tree-handle ng-if="!followLeader && !writingReport">:::</span>
                            <a ng-click="deleteIdea(sel,$index)" class="margin-top-24" ng-if="sel.expanded && !followLeader && !writingReport && !finished"><h4><i class="fa fa-trash"></i></h4></a>
                        </div>
                        <div class="col-xs-10">
                        <a ng-click="sel.expanded=!sel.expanded" class="spaced pull-right">
                            <i class="fa" ng-class="{'fa-plus': !sel.expanded, 'fa-minus': sel.expanded}"></i>
                        </a>
                        <strong ng-bind="sel.text" ng-click="goToSerial(sel.text,sel.document)"></strong>
                        <span class="text-gray"> - {{documents[sel.document].title}}</span>
                        <div class="input-group" ng-show="sel.expanded">
                            <textarea class="form-control" ng-model="sel.comment" ng-change="selTextChange(sel)" ng-disabled="writingReport || followLeader || finished"></textarea>
                            <a class="input-group-addon btn btn-default" ng-click="sendIdea(sel)" ng-class="{'bg-lightgreen': sel.status=='saved', 'bg-lightorange': sel.status=='dirty'}" ng-disabled="writingReport || followLeader || finished">
                                <i class="fa fa-send"></i>
                            </a>
                        </div>
                        <a ng-show="sel.expanded && writingReport && !finished" ng-click="toggleUseIdea(sel.id)"><i class="fa fa-star"></i> Marcar idea usada en respuesta final</a>
                        </div>
                    </li>
                    <span class="text-gray center-block text-center" ng-show="selections.length > 0">Menos importante</span>
                    <button class="form-control btn btn-sm btn-default margin-top-8" ng-disabled="writingReport || followLeader || selections.length >= documents.length * 3 || finished" ng-click="selectText()" ng-show="iteration > 0">
                        <i class="fa fa-plus"></i> Nueva Idea Fuerza
                    </button>
                </ul>
            </div>
            <div>
                <div ng-show="iteration > 1 && sideTab == 1">
                    <!--<h4>Ideas Individual:</h4>-->
                    <div ng-repeat="(uid, sels) in ansIter1">
                        <h5 ng-show="uid != myUid">Anónimo {{uid}}: </h5>
                        <h5 ng-hide="uid != myUid">Mi respuesta: </h5>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="sel in sels" ng-class="{'bg-warning':sel.copied || reportIdeas[sel.id]}">
                                <a ng-click="sel.expanded=!sel.expanded" class="spaced pull-right"><i class="fa fa-plus"></i></a>
                                <strong ng-bind="sel.content" ng-click="goToSerial(sel.content,docIdx[sel.docid],'.highlight-secondary')"></strong>
                                <span class="text-gray"> - {{documents[docIdx[sel.docid]].title}}</span>
                                <div ng-show="sel.expanded" ng-bind="sel.descr"></div>
                                <a ng-show="sel.expanded && !followLeader && !writingReport && !finished" ng-click="copyIdea(sel)"><i class="fa fa-copy"></i> Copiar a Actual</a>
                                <a ng-show="sel.expanded && writingReport && !finished" ng-click="toggleUseIdea(sel.id)"><i class="fa fa-star"></i> Marcar idea usada en respuesta final</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-show="iteration > 2 && sideTab == 2">
                    <!--<h4>Ideas Grupal Anónimo:</h4>-->
                    <div ng-repeat="(uid, sels) in ansIter2">
                        <h5 ng-show="uid != myUid">Anónimo {{uid}}: </h5>
                        <h5 ng-hide="uid != myUid">Mi respuesta: </h5>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="sel in sels" ng-class="{'bg-warning':sel.copied || reportIdeas[sel.id]}">
                                <a ng-click="sel.expanded=!sel.expanded" class="spaced pull-right"><i class="fa fa-plus"></i></a>
                                <strong ng-bind="sel.content" ng-click="goToSerial(sel.content,docIdx[sel.docid],'.highlight-secondary')"></strong>
                                <span class="text-gray"> - {{documents[docIdx[sel.docid]].title}}</span>
                                <div ng-show="sel.expanded" ng-bind="sel.descr"></div>
                                <a ng-show="sel.expanded && !followLeader && !writingReport && !finished" ng-click="copyIdea(sel)"><i class="fa fa-copy"></i> Copiar a Actual</a>
                                <a ng-show="sel.expanded && writingReport && !finished" ng-click="toggleUseIdea(sel.id)"><i class="fa fa-star"></i> Marcar idea usada en respuesta final</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="report-window" ng-if="writingReport" ng-controller="ReportController">
        <div class="bar">
            <span>Respuesta al factor detonante</span>
            <div class="pull-right">
                <span ng-show="lastSent != null && isFull">Enviado {{lastSent | date:'HH:mm'}}</span>
                <button class="btn btn-sm btn-primary" ng-click="sendReport()" ng-show="isFull"><i class="fa fa-send"></i></button>
                <button class="btn btn-sm btn-primary" ng-click="toggleFull()"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="content" ng-show="isFull">
            <textarea class="form-control" ng-model="content" ng-disabled="finished"></textarea>
        </div>
    </div>

</div>

</body>
</html>