<!DOCTYPE html>
<html lang="es" ng-app="Editor">
<head>
    <meta charset="UTF-8">
    <title>DocCollab</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="libs/pdf.min.js"></script>
    <script src="libs/textlayerbuilder.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="js/editor-ctrl.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/minimal.css">
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body class="bg-black">

<div class="editor-container" ng-controller="EditorController">

    <div class="top-bar">

    </div>

    <div class="row">
        <div id="pdfContainer" class="col-sm-9 pdf-content">
            <div ng-repeat="doc in documents">
                <h4 class="white" ng-bind="doc.title"></h4>
                <div class="pdf-block">
                </div>
            </div>
            <div class="centered">
                <div id="pdf-canvas" class="centered"></div>
            </div>
        </div>
        <div class="col-sm-3 side-bar">

        </div>
    </div>

</div>

</body>
</html>