*{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
    font-family: Helvetica, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #984512;
}

hr{
    margin: 0;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
}

.middle-box{
    max-width: 320px;
    display: block;
    padding: 4px 24px 20px 24px;
    border-bottom: 4px solid #aaaaaa;
    background: #f3f3f3;
    margin: 20px auto;
    text-align: center;
}

.main-container{
    max-width: 640px;
    display: block;
    padding: 16px;
    min-height: 100vh;
    background: #f3f3f3;
    margin: 0 auto;
}

hr{
    background: #000;
}

.bg-white{
    background: #fff;
}

.bg-black{
    background: #000;
}

a:hover{
    cursor: pointer;
}

.top-bar{
    height: 32px;
    background: #984512;
    color: white;
}

.side-panel{
    padding: 8px 24px;
    background: #e2e2e2;
    height: calc(100vh - 42px);
}

.full-width{
    width: 100%;
}

.w300{
    width: 380px;
    display: block;
}

.w500{
    width: 500px;
    display: block;
}

.pad-content{
    padding-right: 24px;
    padding-left: 8px;
    overflow-y: scroll;
    max-height: 80vh;
}

.font-large{
    font-size: 150%;
}

.discrete{
    color: rgba(0,0,0,0.3);
}

.discrete:hover{
    color: rgba(0,0,0,0.6);
}

.pdf-content{
    background: #333;
    max-height: calc(100vh - 42px);
    overflow-y: scroll;
}

.side-bar{
    background: #eee;
    height: calc(100vh - 42px);
}

.centered{
    margin: 0 auto;
    display: block;
}

canvas{
    opacity: 0;
}

.highlight{
    background: red;
}

.side-top-btn{
    display: inline-block;
    width: 120px;
    height: 28px;
    padding-top: 4px;
    text-align: center;
    background: rgba(0,0,0,0.1);
    color: white;
}

.side-top-btn:hover{
    background: rgba(0,0,0,0.2);
    cursor: pointer;
}

.side-top-btn.active{
    background: rgba(0,0,0,0.4);
}

.simple-margin-left{
    margin-left: 32px;
}

.bg-green, .bg-green:focus, .bg-green:hover, .bg-green:active{
    background: #75d332 !important;
}

.bg-red{
    background: #d57754;
}

.bg-blue{
    background: #3f97d4;
}

.mid-container{
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 24px;
    overflow: scroll;
}

.addon-little{
    display: inline-block;
    width: 40px;
}

.mini {
    border: 1px solid #ccc;
    width: calc(100% - 80px);
    display: inline-block;
    padding: 4px 12px;
    margin-left: -4px;
    border-radius: 0 6px 6px 0;
}

.sep-lines{
    line-height: 1.25;
}

.form-inline-mini{
    display: inline-block;
    width: 80px;
}

.y-scrollable{
    overflow-y: scroll;
    height: 90%;
}

.text-gray{
    color: #999;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}
