*{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
    font-family: Helvetica, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #6c859b;
}

hr{
    margin: 0;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.middle-box{
    max-width: 320px;
    display: block;
    padding: 4px 24px 20px 24px;
    border-bottom: 4px solid #aaaaaa;
    background: #f3f3f3;
    margin: 20px auto;
    text-align: center;
}

.large-box{
    max-width: 640px;
    display: block;
    padding: 4px 24px 20px 24px;
    border-bottom: 4px solid #aaaaaa;
    background: #f3f3f3;
    margin: 20px auto;
}

.large-box h1, .large-box h2, .large-box h4{
    text-align: center;
}

.main-container{
    max-width: 640px;
    display: block;
    padding: 16px;
    min-height: 100vh;
    background: #f3f3f3;
    margin: 0 auto;
}

hr{
    background: #000;
}

.bg-white{
    background: #fff;
}

.bg-black{
    background: #000;
}

a:hover{
    cursor: pointer;
}

.top-bar{
    height: 32px;
    background: #6c859b;
    color: white;
}

.top-bar-mini{
    /*height: 24px;*/
    background: #6c859b;
    color: white;
}

.side-panel{
    padding: 8px 24px;
    background: #e2e2e2;
    height: calc(100vh - 60px);
    overflow-y: scroll;
}

.full-width{
    width: 100%;
}

.w300{
     width: 380px;
     display: block;
}

.w250{
    width: 250px;
    display: block;
    text-align: center;
}

.w500{
    width: 600px;
    display: block;
}

.w50{
    width: 50px;
    display: block;
}

.w150{
    width: 150px;
    display: block;
}

.pad-content{
    padding-right: 24px;
    padding-left: 8px;
    overflow-y: scroll;
    max-height: 80vh;
}

.font-large{
    font-size: 110%;
}

.discrete{
    color: rgba(0,0,0,0.3);
}

.discrete:hover{
    color: rgba(0,0,0,0.6);
}

.pdf-content{
    background: #333;
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
}

.side-bar{
    background: #eee;
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    overflow-y: auto;
}

.centered{
    margin: 0 auto;
    display: block;
}

canvas{
    position: absolute;
    margin-top: -2px;
}

.highlight{
    background: rgba(245,167,67,0.5);
}

.highlight-secondary{
    background: rgba(245,217,67,0.5);
}

.side-top-btn{
    display: inline-block;
    width: 120px;
    height: 100%;
    padding-top: 4px;
    text-align: center;
    background: rgba(0,0,0,0.1);
    color: white;
}

.side-top-btn:hover{
    background: rgba(0,0,0,0.2);
    cursor: pointer;
}

.side-top-btn.active{
    background: rgba(0,0,0,0.4);
}

.simple-margin-left{
    margin-left: 32px;
}

.simple-padding-top{
    padding-top: 4px;
}

.bg-green, .bg-green:focus, .bg-green:hover, .bg-green:active{
    background: #75d332 !important;
}

.bg-lightgreen, .bg-lightgreen:focus, .bg-lightgreen:hover, .bg-lightgreen:active{
    background: #b3f4a7;
}

.bg-darkgreen{
    background: #44973f;
}

.bg-lightorange, .bg-lightorange:focus, .bg-lightorange:hover, .bg-lightorange:active{
    background: #f5d376;
}

.bg-red{
     background: #d54744;
 }

.border-right-sep{
    border-right: 1px solid #999;
}

.bg-darkred{
    background: #a53734;
}

.bg-blue{
    background: #3f97d4;
}

.mid-container{
    max-width: 920px;
    margin: 0 auto;
    background: white;
    padding: 24px;
    box-shadow: black 0 0 36px;
}

.addon-little{
    display: inline-block;
    width: 40px;
}

.mini {
    border: 1px solid #ccc;
    width: calc(100% - 80px);
    display: inline-block;
    padding: 4px 12px;
    margin-left: -4px;
    border-radius: 0 6px 6px 0;
}

.sep-lines{
    line-height: 1.25;
}

.form-inline-mini{
     display: inline-block;
     width: 80px;
 }

.form-inline-micro{
    display: inline-block;
    width: 36px;
    padding: 4px;
}

.form-inline-med{
    display: inline-block;
    width: 180px;
}

.y-scrollable{
    overflow-y: scroll;
    height: 90%;
}

.text-gray{
    color: #999;
}


ul[dnd-list] .dndDraggingSource {
    display: none;
}

ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

.margin-top-8{
    margin-top: 8px;
}

.margin-top-n24{
    margin-top: -24px;
}

.margin-top-24{
    display: block;
    margin-top: 18px;
}

.full-height{
    height: 100%;
}

.idea-item{
    display: block;
    padding: 8px 0;
    background: #fff;
    margin-bottom: 1px;
}

.idea-item .angular-ui-tree-handle{
    padding-left: 2%;
}

.idea-item .col-xs-11{
    padding-right: 0;
}

.spaced{
    padding: 0 4px;
}

.scrollable-container{
    height: calc(100vh - 60px);
    overflow-y: scroll;
    background: #333;
}

.table-green-bar{
    height: 24px;
    color: #fff;
    padding-left: 4px;
    text-shadow: #666 1px 1px;
    transition: all 0.5s;
}

.red{
    color: #c9302c;
}

td.clickable:hover{
    cursor: pointer;
}

.table>tbody>tr>td.active{
    background: #8cd87c;
}

.report-window{
    position: absolute;
    bottom: 0;
    width: 60vw;
    background: #fff;
    left: 20vw;
    box-shadow: #333 0 0 32px;
}

.report-window .bar{
    height: 36px;
    background: #6c859b;
    color: #fff;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 4px;
    font-size: 120%;
}

.report-window .content{
    height: 28vh;
}

.report-window .content textarea{
    height: 100%;
    font-size: 105%;
    text-align: justify;
}

.splash{
    position: absolute;
    z-index: 100;
    background: rgba(0,0,0,0.35);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.splash .splash-box{
    background: #eee;
    width: 320px;
    padding: 16px;
    margin: 20vh auto;
    text-align: center;
    box-shadow: #333 0 2px 32px;
}

.label-light:not(.label-success){
    background-color: #adadad;
}

span.boxed{
    margin: 4px 16px;
}

.bg-black-alpha{
    background: rgba(0,0,0,0.4);
}

.margin-right-24{
    margin-right: 24px;
}

.margin-right-8{
    margin-right: 8px;
}

.angular-ui-tree-empty{
    display: none;
}

.bg-warning{
    background: #fbd387;
}

div.boxed{
    border: 1px solid #ccc;
    padding: 8px;
}

p{
    white-space: pre-wrap;
}

.bg-gray{
    background: #eee;
}

.vh50{
    max-height: 50vh;
    overflow-y: auto;
}

.bordered{
    border: 1px solid #ccc;
}

/* SLIDER */
.onoffswitch {
    position: relative; width: 62px; height: 28px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 28px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 27px; padding: 0; line-height: 27px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "SI";
    padding-left: 6px;
    background-color: #42A5F5; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 6px;
    background-color: #9E9E9E; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 30px;
    margin: 0;
    background: #1B4370;
    position: absolute;
    top: 0;
    bottom: -2px;
    right: 34px;
    border: 2px solid #FFFFFF;
    border-radius: 28px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
.sliders strong{
    font-size: 125%;
}
/* /SLIDER */

.font-mini{
    font-size: 80%;
}

.border-orange{
    border-bottom: 3px solid orange;
}

.simple-padding-bottom{
    padding-bottom: 8px;
}

ng-quill-editor {
    display: block;
    height: 100px;
    margin-bottom: 80px;
}

ng-quill-editor.large{
    height: 200px;
}

.quill-disabled:after {
    display: block;
    width: 100%;
    background: rgba(200,200,200,0.3);
    height: 166px;
    content: "";
    position: relative;
    top: -166px;
    z-index: 500;
}

.quill-disabled.large:after {
    height: 266px;
    top: -266px;
}

.ql-map{
    background: url('map.svg') no-repeat !important;
}

.map-block{
    display: block;
    background: #fbd387;
    border: 1px solid #999;
    width: 100%;
    height: 240px;
    text-align: center;
}

.map-tbl{
    margin-top: 8px;
    margin-bottom: 8px;
}

ng-quill-editor .ql-editor{
    height: 75px;
}

ng-quill-editor.large .ql-editor{
    height: 175px;
}

.question-block img{
    max-width: 100%;
}

.map-sidebar{
    display: block;
    width: 100%;
    background: #ddd;
    height: 240px;
    padding: 4px;
    overflow-y: auto;
    margin-top: 8px;
    border: 1px solid #999;
}

.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}