*{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
    font-family: Helvetica, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #984512;
}

hr{
    margin: 0;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
}

.middle-box{
    max-width: 320px;
    display: block;
    padding: 4px 24px 20px 24px;
    border-bottom: 4px solid #aaaaaa;
    background: #f3f3f3;
    margin: 20px auto;
    text-align: center;
}

.main-container{
    max-width: 640px;
    display: block;
    padding: 16px;
    min-height: 100vh;
    background: #f3f3f3;
    margin: 0 auto;
}

hr{
    background: #000;
}

.bg-white{
    background: #fff;
}

.bg-black{
    background: #000;
}

a:hover{
    cursor: pointer;
}

.top-bar{
    height: 32px;
    background: #984512;
    color: white;
}

.side-panel{
    padding: 8px 24px;
    background: #e2e2e2;
    height: calc(100vh - 42px);
}

.full-width{
    width: 100%;
}

.w300{
    width: 300px;
    display: block;
}

.w500{
    width: 500px;
    display: block;
}

.pad-content{
    padding-right: 24px;
    padding-left: 8px;
}

.font-large{
    font-size: 150%;
}

.discrete{
    color: rgba(0,0,0,0.3);
}

.discrete:hover{
    color: rgba(0,0,0,0.6);
}

.pdf-content{
    background: #333;
    height: calc(100vh - 42px);
}

.side-bar{
    background: #999;
    height: calc(100vh - 42px);
}

.centered{
    margin: 0 auto;
    display: block;
}

canvas{
    opacity: 0;
}