body {
    font-family: arial, verdana, sans-serif;
}

.pdf-content {
    border: 1px solid #000000;
    margin: 0 auto;
}

/* CSS classes used by TextLayerBuilder to style the text layer divs */

/* This stuff is important! Otherwise when you select the text, the text in the divs will show up! */
::selection {
    background: rgba(0, 0, 255, 0.3);
}

::-moz-selection {
    background: rgba(0, 0, 255, 0.3);
}

.textLayer {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #000;
    font-family: sans-serif;
    overflow: hidden;
    background: white;
    box-shadow: black 0 0 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

canvas {
    display: none;
}

.textLayer > div {
    /*color: rgba(0,0,0,0.1);*/
    color: rgba(0,0,0,1);
    position: absolute;
    line-height: 1;
    white-space: pre;
    cursor: text;
}

.textLayer .highlight {
    margin: -1px;
    padding: 1px;
    border-radius: 4px;
}

.textLayer .highlight.begin {
    border-radius: 4px 0 0 4px;
}

.textLayer .highlight.end {
    border-radius: 0 4px 4px 0;
}

.textLayer .highlight.middle {
    border-radius: 0;
}

