<div ng-controller="ActivityController as ac">
    <div class="row">
        <div class="col-md-12">
            <h2><i class="fa-solid fa-drum"></i> {{'activities' | translate}}</h2>
            <button class="btn btn-primary" ng-click="navigateTo('/activities/new')" 
                style="margin-bottom: 2rem; margin-top: 1rem;">
                <i class="fa fa-rocket" aria-hidden="true"></i> {{'launch_activity' | translate}}
            </button>
        </div>
    </div>
    <div class="row" ng-init="ac.dsgnMode = 0" style="position: relative;">
        <ul class="nav nav-tabs" style="margin-left: 16px; display: inline-block;">
            <li ng-class="{'active': ac.dsgnMode === 0}">
                <a href="" ng-click="ac.dsgnMode = 0">{{'currentTab' | translate}}</a>
            </li>
            <li ng-class="{'active': ac.dsgnMode === 1}">
                <a href="" ng-click="ac.dsgnMode = 1">{{'finishedTab' | translate}}</a>
            </li>
            <li ng-class="{'active': ac.dsgnMode === 2}">
                <a href="" ng-click="ac.dsgnMode = 2">{{'archived' | translate}}</a>
            </li>
        </ul>
        <div style="position: absolute; right: 400px; top: 6px; max-width: 200px;">
            <input class="form-control search-input fontAwesome" type="text" 
                placeholder="{{'search' | translate}} &#xF002;" ng-model="ac.userSearch">
        </div>
    </div>
    <div class="row" style="margin-left:-14px; margin-top: -6px;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <activity-description on-view="ac.handleView" ng-if="ac.dsgnMode === 0" ng-repeat="act in ac.activities.ongoing | filter:{title: ac.userSearch} | orderBy: '-time'" activity="act"></activity-description>
                    <activity-description on-view="ac.handleView" on-archive="ac.handleArchive" ng-if="ac.dsgnMode === 1" ng-repeat="act in ac.activities.finished | filter:{title: ac.userSearch} | orderBy: '-time'" activity="act"></activity-description>
                    <activity-description on-view="ac.handleView" on-unarchive="ac.handleArchive" ng-if="ac.dsgnMode === 2" ng-repeat="act in ac.activities.archived | filter:{title: ac.userSearch} | orderBy: '-time'" activity="act"></activity-description>

                    <div class="alert alert-info" ng-if="ac.dsgnMode === 0 && (ac.activities.ongoing | filter:{title: ac.userSearch}).length === 0">
                        <span>{{'empty_ongoing_activities_message' | translate}}</span>
                        <a href="" ng-click="navigateTo('/designs/new')">{{'empty_activities_create_design_link' | translate}}</a>.
                        <span>{{'empty_activities_then_launch_message' | translate}}</span>
                        <a href="" ng-click="navigateTo('/activities/new')">{{'empty_activities_launch_link' | translate}}</a>.
                    </div>

                    <div class="alert alert-info" ng-if="ac.dsgnMode === 1 && (ac.activities.finished | filter:{title: ac.userSearch}).length === 0">
                        <span>{{'empty_finished_activities_message' | translate}}</span>
                    </div>

                    <div class="alert alert-info" ng-if="ac.dsgnMode === 2 && (ac.activities.archived | filter:{title: ac.userSearch}).length === 0">
                        <span>{{'empty_archived_activities_message' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


