<div ng-controller="DashboardController as dc">
    <!-- Page Title -->
    <div class="row">
        <div class="col-md-12 mb-2">
            <h2><i class="fa-solid fa-gauge-high"></i> {{'activity_dashboard_title' | translate}}</h2>
        </div>
    </div>

    <!-- Tabs for "Information", "Users" and "Design" -->
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item" ng-class="{active: dc.activeTab === 'info'}">
                    <a class="nav-link" href="" ng-click="dc.activeTab = 'info'">
                        <i class="fa-solid fa-circle-info"></i> {{ 'activity_information_tab_title' | translate }}
                    </a>
                </li>
                <li class="nav-item" ng-class="{active: dc.activeTab === 'users'}">
                    <a class="nav-link" href="" ng-click="dc.activeTab = 'users'">
                        <i class="fa-solid fa-users"></i> {{ 'activity_users_tab_title' | translate }}
                    </a>
                </li>
                <li class="nav-item" ng-class="{active: dc.activeTab === 'design'}">
                    <a class="nav-link" href="" ng-click="dc.activeTab = 'design'">
                        <i class="fa-solid fa-paint-brush"></i> {{ 'activity_design_tab_title' | translate }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Tabs Content -->
    <div class="row">
        <div class="col-md-12">
            <div ng-show="dc.activeTab === 'info'" class="margin-top-8">
                <activity-description activity="dc.activityState.descriptor" enable-link="false"></activity-description>
                <activity-controls is-last-phase="dc.reachedLastPhase" is-finished="dc.isActivityFinished" parent-ctrl="dc"></activity-controls>              
                <!-- Horizontal Rule -->
                <hr>
                <!-- Activity Phases Section -->
                <div class="row" ng-if="dc.dashboardPhaseData && dc.dashboardPhaseData.length === 0">
                    <div class="col-md-12">
                        <h3 style="margin-bottom: 1em;">{{ 'activity_progress_title' | translate }}</h3>
                        <div class="alert alert-warning" role="alert">
                            <p>{{ 'start_activity_instructions_text' | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="dc.dashboardPhaseData && dc.dashboardPhaseData.length > 0">
                    <div class="col-md-12">
                        <h3 style="margin-bottom: 1em;">{{ 'activity_progress_title' | translate }}</h3>
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <!-- Tab headers -->
                                <li role="presentation" ng-repeat="phase in dc.dashboardPhaseData track by $index" 
                                    ng-class="{active: dc.selectedTab === $index}">
                                    <a href="" ng-click="dc.selectTab($index)" role="tab">
                                        {{ 'phase_title_text' | translate }} {{ phase.descriptor.number }}
                                    </a>
                                </li>
                            </ul>
                        
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane" style="margin-bottom: 2em; padding:1em; border-bottom: 1px solid #ddd; border-left: 1px solid #ddd; border-right: 1px solid #ddd;"
                                     ng-class="{active: dc.selectedTab === $index}" 
                                     id="phase-{{ $index }}" 
                                     ng-if="dc.dashboardPhaseData.length > 0"
                                     ng-repeat="phase in dc.dashboardPhaseData track by $index">
                                    <phase-description phase-number="phase.descriptor.number" design-object="dc.designObj"></phase-description>
                                    <phase-state
                                        phase-data="phase"
                                        design-type="dc.designObj.type"
                                        on-select-response="dc.openIndividualResponseModal(response, phaseData)">
                                    </phase-state>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="dc.activeTab === 'users'" class="margin-top-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>{{ 'connected_users_colon' | translate }} {{ dc.userList.length }}</p>
                    </div>
                </div>
                <connected-users session-id="{{dc.sessionId}}">
            </div>
            <div ng-show="dc.activeTab === 'design'" class="margin-top-8">
                <design-item
                    design="dc.designObj"
                    is-owner="dc.designObj.userOwned">
                </design-item>
                <h4 style="margin-top:1em; margin-bottom:2em">
                    {{ 'design_explanation_text ' | translate }}
                </h4>
                <design-viewer design="dc.designObj"></design-viewer>
            </div>
        </div>
    </div>
</div>
