<div ng-controller="CasesController as vm" ng-init="vm.loadCase()">
    <h2>{{ 'ethical_cases_edit_title' | translate }}</h2>

    <case-form-editor
        form-model="vm.form"
        submit-label-key="saveChanges"
        is-pdf-required="false"
        show-current-pdf="true"
        licenses="vm.licenses"
        languages="vm.languages"
        current-user-profile="vm.currentUserProfile"
        on-save="vm.updateCase()"
        on-cancel="navigateTo('/cases')"
        on-pdf-selected="vm.handlePdfSelected(files)">
    </case-form-editor>
</div>
