<div ng-controller="CasesController as vm" ng-init="vm.loadCase()">
    <h2><i class="fa fa-book"></i> {{ 'ethical_cases_edit_title' | translate }}</h2>
    <button type="button" class="btn btn-default btn-sm mb-2" ng-click="vm.goBack()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ 'go_back' | translate }}
    </button>
    <br>

    <case-form-editor
        form-model="vm.form"
        submit-label-key="saveChanges"
        is-pdf-required="false"
        show-current-pdf="true"
        licenses="vm.licenses"
        languages="vm.languages"
        current-user-profile="vm.currentUserProfile"
        on-save="vm.updateCase()"
        on-cancel="navigateTo('/cases')"
        on-pdf-selected="vm.handlePdfSelected(files)">
    </case-form-editor>
</div>
