<div ng-controller="CasesController as vm">
    <h2><i class="fa fa-book"></i> {{ 'ethical_cases_new_title' | translate }}</h2>
    <button type="button" class="btn btn-default btn-sm mb-2" ng-click="vm.goBack()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ 'go_back' | translate }}
    </button>
    <br>

    <case-form-editor
        form-model="vm.form"
        submit-label-key="save"
        is-pdf-required="true"
        show-current-pdf="false"
        on-save="vm.createCase()"
        on-cancel="navigateTo('/cases')"
        on-pdf-selected="vm.handlePdfSelected(files)">
    </case-form-editor>
</div>
