<div ng-controller="CasesController as vm" ng-init="vm.loadCases()">
    <div class="row">
        <div class="col-md-12">
            <h2><i class="fa fa-book"></i> {{ 'ethical_cases_title' | translate }}</h2>
            <button class="btn btn-primary" ng-click="navigateTo('/cases/new')" style="margin-top: 1rem; margin-bottom: 1rem;">
                <i class="fa fa-plus" aria-hidden="true"></i> {{ 'ethical_cases_create' | translate }}
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ng-if="vm.cases.length > 0">
                <case-card
                    ng-repeat="caseItem in vm.getPaginatedCases() track by caseItem.id"
                    case-item="caseItem"
                    on-view="vm.viewCase"
                    on-edit="vm.editCase"
                    on-delete="vm.deleteCaseFromCard">
                </case-card>

                <div class="case-pagination-controls" ng-if="vm.getTotalPages() > 1">
                    <button class="btn btn-default btn-sm" ng-click="vm.previousPage()" ng-disabled="vm.currentPage === 1">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i> {{ 'pagination_previous' | translate }}
                    </button>
                    <span class="case-pagination-status">
                        {{ 'pagination_page' | translate }} {{ vm.currentPage }} / {{ vm.getTotalPages() }}
                    </span>
                    <button class="btn btn-default btn-sm" ng-click="vm.nextPage()" ng-disabled="vm.currentPage === vm.getTotalPages()">
                        {{ 'pagination_next' | translate }} <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <div class="alert alert-info" ng-if="vm.cases.length === 0">
                <span>{{ 'empty_cases_message' | translate }}</span>
                <a href="" ng-click="navigateTo('/cases/new')">{{ 'empty_cases_link' | translate }}</a>.
            </div>
        </div>
    </div>
</div>
