<div class="container" ng-controller="DesignViewerController as dvc">
    <div class="row" ng-if="dvc.isDesignUnavailable">
        <div class="col-md-12 text-center margin-top-24">
            <h2>{{ 'design_unavailable_title' | translate }}</h2>
            <p>{{ 'design_unavailable_explanation' | translate }}</p>
            <button type="button" class="btn btn-default btn-sm" ng-click="dvc.goBack()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ 'go_back' | translate }}
            </button>
        </div>
    </div>
    <div class="row" ng-if="!dvc.isDesignUnavailable && dvc.design">
        <div class="col-md-12">
            <div>
                <h2><i class="fa fa-paint-brush"></i> {{ 'view_design_title' | translate }}: {{ dvc.design.metainfo.title }}</h2>
                <button type="button" class="btn btn-default btn-sm" ng-click="dvc.goBack()">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ 'go_back' | translate }}
                </button>
            </div>
            <div style="margin-top: 2em">
                <design-item
                    design="dvc.design"
                    associated-case="dvc.associatedCase"
                    is-owner="dvc.design.userOwned"
                    on-launch="dvc.handleLaunch"
                    on-edit="dvc.handleEdit"
                    on-toggle-public="dvc.designPublic">
                </design-item>                
            </div>
            <div class="panel panel-default" style="margin-top: 1em">
                <div class="panel-body">
                    <h4 style="margin-top: 0">{{ 'design_associated_case_label' | translate }}</h4>
                    <p class="help-block" ng-if="!dvc.associatedCase">
                        {{ 'design_no_case_associated' | translate }}
                    </p>
                    <p class="help-block" ng-if="dvc.associatedCase">
                        <strong>{{ 'design_associated_case_current' | translate }}:</strong>
                        <a ng-href="#!/cases/{{dvc.associatedCase.id}}">
                            {{ dvc.formatCaseLabel(dvc.associatedCase) }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!dvc.isDesignUnavailable && dvc.design">
        <div class="col-md-12 mb-2">
            <h4 style="margin-top:1em; margin-bottom:2em">
                {{ 'design_explanation_text ' | translate }}
            </h4>
            <design-viewer design="dvc.design"></design-viewer>            
        </div>
    </div>
</div>
