<div class="container" ng-controller="DesignEditorController as dec">
    <div class="row">
        <div class="col-md-12 mb-2">
            <h2><i class="fa fa-paint-brush"></i> {{ 'edit_design_title' | translate }}</h2>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">    
            <div class="row" ng-if="dec.design">
                <div class="col-md-12">
                    <fieldset>
                        <legend>{{ 'design_title_and_tags' | translate }}</legend>
                        <div class="form-group case-form-field">
                            <label for="designTitle">{{ 'design_title_input_label' | translate }}</label>
                            <input id="designTitle" type="text" class="form-control"
                                placeholder="{{ 'title_input_hint_text' | translate }}"
                                ng-model="dec.design.metainfo.title">
                        </div>
                        <div class="form-group case-form-field">
                            <label>{{ 'semantic_tags' | translate }}</label>
                            <tag-selector selected-tags="dec.design.tags" scope="design"></tag-selector>
                        </div>
                        <div class="form-group case-form-field">
                            <label for="designLanguage">{{ 'language' | translate }}</label>
                            <select
                                id="designLanguage"
                                name="languageCode"
                                class="form-control"
                                ng-model="dec.design.languageCode"
                                ng-options="language.code as language.native_name for language in dec.languages">
                            </select>
                        </div>
                        <div class="form-group case-form-field">
                            <case-search-selector
                                associated-case="dec.associatedCase"
                                on-select="dec.selectCase(caseItem)"
                                on-clear="dec.clearAssociatedCase()">
                            </case-search-selector>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <design-error-summary
                        validation-errors="dec.validationErrors"
                        scroll-to="dec.scrollToPhase(phaseKey)">
                    </design-error-summary>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="action-buttons">
                        <button class="btn btn-default btn-sm" ng-click="dec.addPhase()">
                            <i class="fa-solid fa-plus text-success"></i> {{ 'add_phase_button_text' | translate }}
                        </button>
                        <button class="btn btn-default btn-sm" ng-click="dec.runValidations()">
                            <i class="fa-solid fa-check-double text-info"></i> {{ 'run_validations_button_text' | translate }}
                        </button>
                        <button class="btn btn-default btn-sm" ng-click="dec.saveDesign()">
                            <i class="fa-solid fa-save"></i> {{ 'save_design_button_text' | translate }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center" style="height:1.5em">
                    <div class="design-editor-toast-container">
                        <toast></toast>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <div class="design-editor" validate-design
            phases="dec.design.phases"
            on-validate="dec.handleValidationResult(result)">
        <div uib-accordion close-others="false">
            <div uib-accordion-group class="panel-default phase-editor-item-heading" 
                ng-repeat="phase in dec.design.phases track by $index"
                is-open="dec.accordionState[$index]">

                <div ng-init="phaseIndex = $index">
                    <div uib-accordion-heading ng-attr-id="phase_{{phaseIndex+1}}">
                        <div class="phase-editor-heading-content">
                            <div class="d-flex align-items-center phase-editor-heading-row">
                                <h4>{{ 'phase_title_prefix' | translate }} {{ phaseIndex + 1 }}</h4>
                                <i class="fa-regular fa-copy  ms-auto"
                                    style="cursor: pointer;"
                                    ng-click="dec.duplicatePhase(phaseIndex, $event)"></i>&nbsp;
                                <i class="fa-solid fa-trash text-danger" 
                                    style="cursor: pointer;" 
                                    phase-deleter 
                                    phases="dec.design.phases" 
                                    phase-index="phaseIndex"
                                    on-delete="dec.handlePhaseDeletion(index)">
                                </i>&nbsp;
                                <i ng-class="{'fa-solid fa-down-left-and-up-right-to-center': dec.accordionState[phaseIndex], 
                                            'fa-solid fa-up-right-and-down-left-from-center': !dec.accordionState[phaseIndex]}" 
                                    class="fa-solid me-2"
                                    ng-click="dec.toggleAccordionState(phaseIndex, $event)">
                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h4>{{ 'features_title_text' | translate }}</h4>
                            <div toggle-switch phase-mode-value-adapter ng-model="phase.mode" class="ats-switch switch-mini"></div> <label>{{ 'group_phase_label' | translate }}</label>
                            <div ng-show="phase.mode !== 'individual'">
                                <div toggle-switch ng-model="phase.anonymous" class="ats-switch switch-mini"></div> <label>{{ 'use_anonimity_label' | translate }}</label> <br>
                                <div toggle-switch ng-model="phase.chat" class="ats-switch switch-mini"></div> <label>{{ 'use_chat_label' | translate }} </label> <br>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-top: 16px" ng-if="phase.mode !== 'individual'">
                            <grouping-mode-selector 
                                phase="phase" 
                                phase-index="phaseIndex" 
                                design="dec.design" 
                                validate-callback="dec.handleValidationResult(result)">
                            </grouping-mode-selector>
                        
                            <div style="margin-top:0.5em" ng-if="dec.design.phases[phaseIndex].grouping_algorithm !== 'preserve'">
                                <label>{{ 'group_size_label' | translate }}</label>
                                <numeric-input-with-spinbutton 
                                    value="phase.stdntAmount" 
                                    min="2" 
                                    max="10" 
                                    step="1" 
                                    id="phaseNumericInput">
                                </numeric-input-with-spinbutton>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-top: 4px">
                            <previous-phases-selector phase="phase" phase-index="phaseIndex" design="dec.design"></previous-phases-selector>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <phase-instructions-edit
                                phase="phase"
                                phase-index="phaseIndex+1">
                            </phase-instructions-edit>
                        </div>
                    </div>
                    <div class="row" validate-phase
                        design-type="dec.design.type"
                        phase="phase"
                        phase-number="phaseIndex+1"
                        on-validate="dec.handleValidationResult(result)">
                        <div class="col-md-12">
                            <div style="margin-top: 1em" ng-switch="dec.design.type">
                                <hr>
                                <h4 ng-switch on="dec.design.type">
                                    <span ng-switch-when="semantic_differential">{{ 'questions_title_text' | translate }}</span>
                                    <span ng-switch-when="ranking">{{ 'items_title_text' | translate }}</span>
                                </h4>
                                <button ng-switch on="dec.design.type" class="btn btn-default btn-sm" ng-click="dec.addItemToPhase(phase)">
                                    <span ng-switch-when="semantic_differential"><i class="fa-solid fa-plus text-success"></i> {{ 'add_question_button_text' | translate }}</span>
                                    <span ng-switch-when="ranking"><i class="fa-solid fa-plus text-success"></i> {{ 'add_item_button_text' | translate }}</span>
                                </button>
                                <div ng-switch on="dec.design.type">
                                    <div ng-switch-when="semantic_differential" ng-repeat="item in phase.questions track by $index">
                                        <div>
                                            <sd-item-editor 
                                                phase-number="phaseIndex+1"
                                                question="item" 
                                                question-number="$index+1"
                                                show-separator="false" 
                                                validate-callback="dec.handleValidationResult(result)">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <item-deleter 
                                                            items="phase.questions"
                                                            index="$index"
                                                            phase-number="phaseIndex+1"
                                                            on-delete="dec.handleItemDeletion({ phaseNumber: phaseNumber, deletedItem: deletedItem, index: index })">
                                                        </item-deleter>                                                        
                                                        <item-duplicator items="phase.questions" index="$index"></item-duplicator>
                                                    </div>
                                                    <div class="col-xs-6 text-right">
                                                        <item-mover items="phase.questions" item="item"></item-mover>
                                                    </div>
                                                </div>
                                            </sd-item-editor>
                                        </div>
                                    </div>
                                    <div ng-switch-when="ranking">
                                        <input style="margin-top: 1em;" ng-model="phase.randomize_item_order" type="checkbox"> <label>{{ 'item_random_order_label' | translate }}</label>
                                        <div ng-repeat="item in phase.roles track by $index">
                                            <ranking-item-editor 
                                                phase-number="phaseIndex+1"
                                                item="item"
                                                item-number="$index+1"
                                                validate-callback="dec.handleValidationResult(result)">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <item-deleter
                                                            items="phase.roles"
                                                            index="$index"
                                                            phase-number="phaseIndex+1"
                                                            on-delete="dec.handleItemDeletion({ phaseNumber: phaseNumber, deletedIndex: index })">
                                                        </item-deleter>
                                                    </div>
                                                    <div class="col-sm-6 text-right">
                                                        <item-mover items="phase.roles" ng-init="phaseNumber=phaseIndex+1" item="item" on-move="dec.handleItemMove({ phaseNumber: phaseNumber, fromIndex: fromIndex, toIndex: toIndex})"></item-mover>
                                                    </div>
                                                </div>
                                            </ranking-item-editor>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <hr style="margin-top:1em">
                            <item-mover 
                                items="dec.design.phases"
                                item="phase"
                                on-move="dec.handlePhaseMove({ fromIndex, toIndex })">
                            </item-mover>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
