<div ng-controller="BrowseDesignsController as vm">
    <div class="row">
        <div class="col-md-12">
            <h2><i class="fa fa-paint-brush"></i> {{'activity_designs' | translate}}</h2>
            <button type="button" class="btn btn-default btn-sm mb-2" ng-click="vm.goBack()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ 'go_back' | translate }}
            </button>
            <br>
            <button class="btn btn-primary" ng-click="navigateTo('/designs/new')" 
                style="margin-bottom: 2rem; margin-top: 1rem;">
                <i class="fa fa-plus" aria-hidden="true"></i> {{'create_design' | translate}}
            </button>
            <p class="designContext">{{'designContext' | translate}}</p>
        </div>
    </div>
    <div class="row" style="position: relative;">
        <!-- Nav Tabs -->
        <ul class="nav nav-tabs" style="margin-left: 16px; display: inline-block;">
            <li ng-class="{'active': vm.dsgnMode === 0}">
                <a href="" ng-click="vm.dsgnMode = 0; vm.getUserDesigns()">{{'yours' | translate}}</a>
            </li>
            <li ng-class="{'active': vm.dsgnMode === 1}">
                <a href="" ng-click="vm.dsgnMode = 1; vm.getPublicDesigns()">{{'byOthers' | translate}}</a>
            </li>
        </ul>

        <!-- Search box -->
        <div style="position: absolute; left: 200px; top: 6px; min-width: 80px; max-width: 200px;">
            <div class="search-field-wrapper">
                <input class="form-control search-input search-decorated-input" type="text"
                    placeholder="{{'search' | translate}}" ng-model="vm.userSearch">
                <i class="fa-solid fa-magnifying-glass search-field-icon" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left:-14px; margin-top: -6px;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading designs-list" style="padding-top: 0px; padding-left: 8px; min-height: 1.25em; max-height: 1.25em; background: white;">
                    <div class="designs-toast-container">
                        <toast></toast>
                    </div>
                </div>
                <div class="panel-body">
                    <design-item ng-repeat="design in vm.userDesigns | filter: { metainfo: { title: vm.userSearch } } track by design.id"
                        ng-if="vm.dsgnMode === 0"
                        design="design"
                        is-owner="true"
                        on-launch="vm.handleLaunch"
                        on-edit="vm.handleEdit"
                        on-view="vm.handleView"
                        on-delete="vm.deleteDesign"
                        on-duplicate="vm.duplicateDesign"
                        on-toggle-public="vm.designPublic">
                    </design-item>

                    <!-- Public Designs -->
                    <design-item ng-repeat="design in vm.publicDesigns | filter: { metainfo: { title: vm.userSearch } } track by design.id"
                        ng-if="vm.dsgnMode === 1"
                        design="design"
                        is-owner="false"
                        on-import="vm.importDesign">
                    </design-item>

                    <div class="alert alert-info"
                        ng-if="vm.dsgnMode === 0 && (vm.userDesigns | filter: { metainfo: { title: vm.userSearch } }).length === 0">
                        <span>{{'empty_designs_message' | translate}}</span>
                        <a href="" ng-click="navigateTo('/designs/new')">{{'empty_designs_link' | translate}}</a>.
                    </div>

                    <div class="alert alert-info"
                        ng-if="vm.dsgnMode === 1 && (vm.publicDesigns | filter: { metainfo: { title: vm.userSearch } }).length === 0">
                        <span>{{'empty_shared_designs_message' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
