<div ng-controller="CreateDesignController as cdc">
    <h2><i class="fa fa-paint-brush"></i> {{'designMsg'|translate}}</h2>
    <button type="button" class="btn btn-default btn-sm mb-2" ng-click="cdc.goBack()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ 'go_back' | translate }}
    </button>
    <br>

    <div class="modal-header pl-0">
        <h4>{{'designMsgInfo'|translate}}</h4>
    </div>
    <form class="modal-body form-new-design"
        name="formDesign"
        ng-submit="formDesign.$valid && cdc.uploadDesign(cdc.title, cdc.selectedOption)"
        novalidate>
        <div class="wrapper_nd">
            <div class="line-form-nd">
                <div class="line-row-nd">
                    <label>{{'activityType'|translate}}</label>
                    <div class="line-control-nd">
                        <select
                            name="activityType"
                            ng-model="cdc.selectedOption"
                            class="form-control line_input w-22"
                            ng-required="true"
                            ng-class="{'input-warning': formDesign.activityType.$invalid && formDesign.$submitted}">
                            <option value="" selected disabled>{{'selectActivityType'|translate}}</option>
                            <option value="semantic_differential">{{'semantic_differential'|translate}}</option>
                            <option value="ranking">{{'ranking_activity'|translate}}</option>
                        </select>
                        <p class="validation-message"
                            ng-if="formDesign.activityType.$error.required && formDesign.$submitted">
                            {{'design_activity_type_required_error' | translate}}
                        </p>
                    </div>
                </div>
                <div class="line-row-nd">
                    <label>{{'title'|translate}}:</label>
                    <div class="line-control-nd">
                        <input type="text"
                            class="form-control line_input"
                            name="title"
                            ng-model="cdc.title"
                            ng-required="true"
                            ng-class="{'input-warning': formDesign.title.$invalid && (formDesign.$submitted || formDesign.title.$touched)}">
                        <p class="validation-message"
                            ng-if="formDesign.title.$error.required && (formDesign.$submitted || formDesign.title.$touched)">
                            {{'design_title_required_error' | translate}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr class="mt-1medio">
        <br>
        <div class="new-design-bottom">
            <button class="btn btn-primary" type="submit">{{'next'|translate}}</button>
        </div>
    </form>
</div>
