<div ng-controller="BrowseDesignsController as vm">
    <div class="row">
        <div class="col-md-12">
            <h2><i class="fa fa-paint-brush"></i> {{'activity_designs' | translate}}</h2>
            <button class="btn btn-primary" ng-click="navigateTo('/designs/new')" 
                style="margin-bottom: 2rem; margin-top: 1rem;">
                <i class="fa fa-plus" aria-hidden="true"></i> {{'create_design' | translate}}
            </button>
            <p class="designContext">{{'designContext' | translate}}</p>
        </div>
    </div>
    <div class="row" ng-init="vm.dsgnMode = 0; vm.forceFetchDesigns();" style="position: relative;">
        <!-- Nav Tabs -->
        <ul class="nav nav-tabs" style="margin-left: 16px; display: inline-block;">
            <li ng-class="{'active': vm.dsgnMode === 0}">
                <a href="" ng-click="vm.dsgnMode = 0; vm.getUserDesigns()">{{'yours' | translate}}</a>
            </li>
            <li ng-class="{'active': vm.dsgnMode === 1}">
                <a href="" ng-click="vm.dsgnMode = 1; vm.getPublicDesigns()">{{'byOthers' | translate}}</a>
            </li>
        </ul>

        <!-- Search box -->
        <div style="position: absolute; left: 200px; top: 6px; min-width: 80px; max-width: 200px;">
            <input class="form-control search-input fontAwesome" type="text" 
                   placeholder="{{'search' | translate}} &#xF002;" ng-model="vm.userSearch">
        </div>
    </div>
    <div class="row" style="margin-left:-14px; margin-top: -6px;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading designs-list" style="padding-top: 0px; padding-left: 8px; min-height: 1.25em; max-height: 1.25em; background: white;">
                    <toast></toast>
                </div>
                <div class="panel-body">
                    <design-item ng-repeat="design in vm.userDesigns | filter: { metainfo: { title: vm.userSearch } } track by design.id"
                        ng-if="vm.dsgnMode === 0"
                        design="design"
                        is-owner="true"
                        on-launch="vm.handleLaunch"
                        on-edit="vm.handleEdit"
                        on-view="vm.handleView"
                        on-delete="vm.deleteDesign"
                        on-duplicate="vm.duplicateDesign"
                        on-toggle-public="vm.designPublic">
                    </design-item>

                    <!-- Public Designs -->
                    <design-item ng-repeat="design in vm.publicDesigns | filter: { metainfo: { title: vm.userSearch } } track by design.id"
                        ng-if="vm.dsgnMode === 1"
                        design="design"
                        is-owner="false"
                        on-import="vm.importDesign">
                    </design-item>
                </div>
            </div>
        </div>
    </div>
</div>
