<div class="container home-card-container">
    <div class="row">
        <div class="col-md-12 mb-2">
            <h2><i class="fa fa-home" aria-hidden="true"></i> {{'teacher_workbench' | translate}}</h2>
            <p class="margin-top-24">{{'teacher_workbench_intro' | translate}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default teacher-workbench-panel">
                <div class="panel-body">
                    <div class="home-card-grid" aria-label="{{'teacher_workbench' | translate}}">
                        <button
                            type="button"
                            ng-click="navigateTo('/cases/new')"
                            class="home-card">
                            <img src="/assets/images/cards/create-case.jpg" class="img-responsive" alt="{{'create_case' | translate}}">
                            <span class="home-card-caption">
                                {{'create_case' | translate}}
                            </span>
                        </button>

                        <button
                            type="button"
                            ng-click="navigateTo('/cases')"
                            class="home-card">
                            <img src="/assets/images/cards/search-cases.jpg" class="img-responsive" alt="{{'search_cases' | translate}}">
                            <span class="home-card-caption">
                                {{'search_cases' | translate}}
                            </span>
                        </button>                        

                        <button
                            type="button"
                            ng-click="navigateTo('/designs/new')"
                            class="home-card">
                            <img src="/assets/images/cards/design-activity.jpg" class="img-responsive" alt="{{'design_activity' | translate}}">
                            <span class="home-card-caption">
                                {{'design_activity' | translate}}
                            </span>
                        </button>

                        <button
                            type="button"
                            ng-click="navigateTo('/activities/new')"
                            class="home-card">
                            <img src="/assets/images/cards/launch-activity.jpg" class="img-responsive" alt="{{'launch_activity' | translate}}">
                            <span class="home-card-caption">
                                {{'launch_activity' | translate}}
                            </span>
                        </button>

                        <button
                            type="button"
                            ng-click="navigateTo('/designs')"
                            class="home-card">
                            <img src="/assets/images/cards/search-designs.jpg" class="img-responsive" alt="{{'search_designs' | translate}}">
                            <span class="home-card-caption">
                                {{'search_designs' | translate}}
                            </span>
                        </button>

                        <button
                            type="button"
                            ng-click="navigateTo('/activities')"
                            class="home-card">
                            <img src="/assets/images/cards/search-activities.jpg" class="img-responsive" alt="{{'view_activities' | translate}}">
                            <span class="home-card-caption">
                                {{'view_activities' | translate}}
                            </span>
                        </button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" ng-controller="ActivityController as ac">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'recent_activities_title_text'| translate }}
                </div>
                <div class="panel-body" ng-show="ac.activities.ongoing.length === 0 && ac.activities.finished.length === 0">
                    <p>{{ 'no_recent_activities_text' | translate }}</p>
                    <button class="btn btn-default btn-sm" ng-click="navigateTo('/cases/new')">
                        <i class="fa fa-book" aria-hidden="true"></i> {{'ethical_cases_create' | translate}}
                    </button>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button class="btn btn-default btn-sm" ng-click="navigateTo('/designs/new')">
                        <i class="fa fa-paint-brush" aria-hidden="true"></i> {{'create_design' | translate}}
                    </button>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button class="btn btn-default btn-sm" ng-click="navigateTo('/activities/new')">
                        <i class="fa-brands fa-space-awesome" aria-hidden="true"></i> {{'launch_activity' | translate}}
                    </button>
                </div>
                <div class="panel-body" ng-show="ac.activities.ongoing.length > 0 || ac.activities.finished.length > 0">                     
                    <activity-description on-view="ac.handleView" ng-repeat="act in ac.activities.ongoing | limitTo: 3 | orderBy : '-time'" activity="act"></activity-description>
                    <activity-description on-view="ac.handleView" ng-repeat="act in ac.activities.finished | limitTo: 3 | orderBy : '-time'" activity="act"></activity-description>
                </div>
            </div>
        </div>
    </div>
</div>
