<div class="row">
    <div class="col-md-12 mb-2">
        <h2><i class="fa fa-home" aria-hidden="true"></i> {{'teacher_workbench' | translate}}</h2>
        <p class="margin-top-24" style="width: 60em;">{{'homeMsg' | translate}}</p>
    </div>
</row>

<div class="container home-card-container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" style="padding: 20px;">
                <div class="panel-body">
                    <div class="row">
                        <!-- Tarjeta 1 -->
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                            <div ng-click="navigateTo('/cases/new')" class="home-card">
                                <img src="/assets/images/cards/create-case.jpeg" class="img-responsive" alt="Create a case">
                                <div class="home-card-caption">
                                    {{'createACase' | translate}}
                                </div>
                            </div>
                        </div>
                        <!-- Tarjeta 2 -->
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                            <div ng-click="navigateTo('/designs/new')" class="home-card">
                                <img src="/assets/images/cards/design-activity.jpeg" class="img-responsive" alt="Design an activity">
                                <div class="home-card-caption">
                                    {{'designActivity' | translate}}
                                </div>
                            </div>
                        </div>
                        <!-- Tarjeta 3 -->
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                            <div ng-click="navigateTo('/activities/new')" class="home-card">
                                <img src="/assets/images/cards/launch-activity.jpeg" class="img-responsive" alt="Launch an activity">
                                <div class="home-card-caption">
                                    {{'launchAnActivity' | translate}}
                                </div>
                            </div>
                        </div>
                        <!-- Tarjeta 4 -->
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                            <div ng-click="navigateTo('/designs')" class="home-card">
                                <img src="/assets/images/cards/search-designs.jpeg" class="img-responsive" alt="Search designs">
                                <div class="home-card-caption">
                                    {{'searchDesigns' | translate}}
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-controller= "ActivityController as ac">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'recent_activities_title_text'| translate }}
                </div>
                <div class="panel-body" ng-show="ac.activities.ongoing.length === 0 && ac.activities.finished.length === 0">
                    <p>{{ 'no_recent_activities_text' | translate }}</p>
                    <button class="btn btn-default btn-sm" ng-click="navigateTo('/cases/new')">
                        <i class="fa fa-book" aria-hidden="true"></i> {{'ethical_cases_create' | translate}}
                    </button>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button class="btn btn-default btn-sm" ng-click="navigateTo('/designs/new')">
                        <i class="fa fa-paint-brush" aria-hidden="true"></i> {{'create_design' | translate}}
                    </button>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button class="btn btn-default btn-sm" ng-click="navigateTo('/activities/new')">
                        <i class="fa-brands fa-space-awesome" aria-hidden="true"></i> {{'launch_activity' | translate}}
                    </button>
                </div>
                <div class="panel-body" ng-show="ac.activities.ongoing.length > 0 || ac.activities.finished.length > 0">                     
                    <activity-description on-view="ac.handleView" ng-repeat="act in ac.activities.ongoing | limitTo: 3 | orderBy : '-time'" activity="act"></activity-description>
                    <activity-description on-view="ac.handleView" ng-repeat="act in ac.activities.finished | limitTo: 3 | orderBy : '-time'" activity="act"></activity-description>
                </div>
            </div>
        </div>
    </div>
</div>
