<div ng-controller="DashboardController as dc">
    <!-- Page Title -->
    <div class="row">
        <div class="col-md-12 mb-2">
            <h2><i class="fa-solid fa-gauge-high"></i> {{'activity_dashboard_title' | translate}}</h2>
        </div>
    </div>

    <!-- Tabs for "Information" and "Users" -->
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item" ng-class="{active: dc.activeTab === 'info'}">
                    <a class="nav-link" href="" ng-click="dc.activeTab = 'info'">
                        <i class="fa-solid fa-circle-info"></i> {{ 'activity_information_tab_title' | translate }}
                    </a>
                </li>
                <li class="nav-item" ng-class="{active: dc.activeTab === 'users'}">
                    <a class="nav-link" href="" ng-click="dc.activeTab = 'users'">
                        <i class="fa-solid fa-users"></i> {{ 'activity_users_tab_title' | translate }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Tabs Content -->
    <div class="row">
        <div class="col-md-12">
            <div ng-show="dc.activeTab === 'info'" class="margin-top-8">
                <activity-description activity="dc.activityDescriptor"></activity-description>
                <activity-controls is-finished="dc.isActivityFinished" parent-ctrl="dc"></activity-controls>              
            </div>
            <div ng-show="dc.activeTab === 'users'" class="margin-top-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>{{'connected_users_colon' | translate}} {{activityStateDescriptor.users.length}}</p>
                    </div>
                </div>
                <connected-users session-id="{{dc.sessionId}}">
            </div>
        </div>
    </div>

    <!-- Horizontal Rule -->
    <div class="row">
        <div class="col-md-12">
            <hr style="border: 1px solid #ccc; margin: 1rem 0;">
        </div>
    </div>

    <!-- Activity Phases Section -->
    <div class="row" ng-if="dc.dashboardPhaseStates && dc.dashboardPhaseStates.length > 0">
        <div class="col-md-12">
            <h3>{{ 'activity_phases_title' | translate }}</h3>
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-default" 
                    ng-repeat="phase in dc.dashboardPhaseStates track by phase.id" is-open="true" 
                    heading="{{ 'phase_title_text' | translate }} {{ phaseData.descriptor.number }}">
                    <phase-description phase-data="phase" design-type="dc.designObj.metainfo.type"></phase-description>
                    <phase-state phase-data="phase" design-type="dc.designObj.metainfo.type"></phase-state>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>
