<div class="row">
    <div class="col-md-12 mb-2">
        <h2><i class="fa-brands fa-space-awesome"></i> {{'launch_activity_title' | translate}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-10" ng-controller="BrowseDesignsController as bdc">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label>{{'step_1_prepare_activity' | translate}}</label>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>{{'choose_design_for_new_activity' | translate}}</p>
                        <input class="form-control launch-activity-search fontAwesome" type="text" 
                            placeholder="{{'search'|translate}} &#xF002;" ng-model="bdc.userSearch">
                    </div>
                </div>
                <div class="row" ng-init="bdc.getDesigns()">
                    <div class="col-md-12">
                        <p>{{'available_designs_colon' | translate}}</p>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <design-description 
                                    ng-repeat="design in bdc.designs | filter:bdc.userSearch" 
                                    design="design" 
                                    picked-design-id="bdc.pickedDesignId" 
                                    on-select="bdc.setPickedDesignId(id)">
                                </design-description>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="ActivityController as ac" class="panel panel-default" 
            ng-show="bdc.pickedDesignId != 0 && bdc.pickedDesignId != NaN">
            <div class="panel-heading">
                <label>{{'step_2_prepare_activity' | translate}}</label>
            </div>                
            <div class="panel-body">
                <form ng-submit="ac.createSession(bdc.pickedDesignId)">                    
                    <div class="form-group">
                        <p>{{'provide_activity_description' | translate}}</p>
                        <input type="text" class="form-control launch-activity-description" ng-model="ac.activityDescription" />
                    </div>
                    <div class="row" style="margin-bottom: 1em;">
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-link" ng-click="showAdvanced = !showAdvanced">
                                <i class="fa" ng-class="{'fa-angle-right': !showAdvanced, 'fa-angle-down': showAdvanced}"></i>
                                {{ showAdvanced ? ('hide_advanced_options' | translate) : ('show_advanced_options' | translate) }}
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-show="showAdvanced">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <label class="control-label" style="font-weight: bolder;">{{'content_analysis_title' | translate}}</label>
                                        <p>{{'content_analysis_description' | translate}}</p>
                                        <div class="ml-1">
                                            <div toggle-switch ng-model="ac.additionalConfig.contentAnalysis" ng-disabled="!ac.isContentAnalysisEnabled" class="ats-switch switch-primary"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="btn btn-primary" ng-disabled="bdc.pickedDesignId == 0 && bdc.pickedDesignId != NaN">
                                {{'launch_the_activity' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 loading-container" ng-show="showSpinner">
                            <i class="fa fa-spinner fa-spin"></i>
                            <p>{{ 'preparing_dashboard' | translate }}</p>
                        </div>
                    </div>                                        
                    <div class="row" ng-show="error">
                        <div class="col-lg-6">
                            <h4 style="color:red; text-align: center; ">
                                <strong>
                                    {{ 'faulty_design' | translate }}
                                </strong>
                            </h4>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>