<div class="container" ng-controller="DesignEditorController as dec">
    <div class="row">
        <div class="col-md-12 mb-2">
            <h2><i class="fa fa-paint-brush"></i> Edit Design</h2>
        </div>
    </div>
    <div class="form-group">
        <label for="designTitle">{{ 'design_title_input_label' | translate }}:</label>
        <input id="designTitle" type="text" class="form-control input-lg" 
               placeholder="{{ 'title_input_hint_text' | translate }}" 
               ng-model="dec.design.metainfo.title">
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="action-buttons">
                        <button class="btn btn-default btn-sm" ng-click="dec.addPhase()">
                            <i class="fa-solid fa-plus text-success"></i> {{ 'add_phase_button_text' | translate }}
                        </button>
                        <button class="btn btn-default btn-sm" ng-click="dec.saveDesign()">
                            <i class="fa-solid fa-save"></i> {{ 'save_design_button_text' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <div class="design-editor">
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-default" 
                 ng-repeat="phase in dec.design.phases" 
                 is-open="false"
                 template-url="/assets/static/partials/teacher/micro-partials/design-editor-accordeon-heading.html">
                 
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel action-buttons">
                            <div class="panel-body">
                                <p>Modalidad:</p>
                                <p>Anonimato:</p>
                                <p>Chat:</p>
                                <p>Mostrar preguntas de fases anteriores:</p>
                                <hr>
                                <button class="btn btn-default btn-sm" ng-click="dec.addItemToPhase(phase)">
                                    <i class="fa-solid fa-plus text-success"></i> {{ 'add_question_button_text' | translate }}
                                </button>
                            </div>
                        </div>        
                    </div>                    
                </div>                 
                <div ng-switch="dec.design.type">
                    <sd-item-editor 
                        ng-repeat="question in phase.questions" 
                        ng-switch-when="semantic_differential" 
                        question="question">
                    </sd-item-editor>
                    
                    <ranking-item-editor 
                        ng-switch-when="ranking" 
                        roles="phase.roles">
                    </ranking-item-editor>
                </div>
            </div>
        </uib-accordion>
    </div>
</div>
