<div class="container" ng-controller="DesignEditorController as dec">
    <div class="row">
        <div class="col-md-12 mb-2">
            <h2><i class="fa fa-paint-brush"></i> Edit Design</h2>
        </div>
    </div>
    <div class="form-group">
        <label for="designTitle">{{ 'design_title_input_label' | translate }}:</label>
        <input id="designTitle" type="text" class="form-control input-lg" 
               placeholder="{{ 'title_input_hint_text' | translate }}" 
               ng-model="dec.design.metainfo.title">
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="action-buttons">
                        <button class="btn btn-default btn-sm" ng-click="dec.addPhase()">
                            <i class="fa-solid fa-plus text-success"></i> {{ 'add_phase_button_text' | translate }}
                        </button>
                        <button class="btn btn-default btn-sm" ng-click="dec.saveDesign()">
                            <i class="fa-solid fa-save"></i> {{ 'save_design_button_text' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <div class="design-editor">
        <div uib-accordion close-others="false">
            <div uib-accordion-group class="panel-default" 
                 ng-repeat="phase in dec.design.phases track by $index"
                 is-open="dec.accordionState[$index]">
                 <div uib-accordion-heading>
                    <div style="background: #f5f5f5;">
                        <div class="d-flex align-items-center">
                            <h4>{{ 'phase_title_prefix' | translate }} {{ $index + 1 }}</h4>
                            <i class="fa-regular fa-copy  ms-auto"
                                style="cursor: pointer;"
                                ng-click="dec.duplicatePhase($index, $event)"></i>&nbsp;
                            <i class="fa-solid fa-trash text-danger" 
                               style="cursor: pointer;" 
                               ng-click="dec.confirmDeletePhase($index, $event)">
                            </i>&nbsp;
                            <i ng-class="{'fa-solid fa-down-left-and-up-right-to-center': dec.accordionState[$index], 
                                          'fa-solid fa-up-right-and-down-left-from-center': !dec.accordionState[$index]}" 
                               class="fa-solid me-2"
                               ng-click="dec.toggleAccordionState($index, $event)">
                            </i>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel action-buttons">
                            <div class="panel-body">
                                <h4>Características</h4>
                                <div toggle-switch phase-mode-value-adapter ng-model="phase.mode" class="ats-switch switch-mini"></div> Fase Grupal
                                <div ng-show="phase.mode !== 'individual'">
                                    <div toggle-switch phase-mode-value-adapter ng-model="phase.mode" class="ats-switch switch-mini"></div> Usar Anonimato <br>
                                    <div toggle-switch phase-mode-value-adapter ng-model="phase.mode" class="ats-switch switch-mini"></div> Usar Chat <br>
                                    Mostrar respuestas de fases anteriores
                                </div>
                                <hr>
                                <button class="btn btn-default btn-sm" ng-click="dec.addItemToPhase(phase)">
                                    <i class="fa-solid fa-plus text-success"></i> {{ 'add_question_button_text' | translate }}
                                </button>
                            </div>
                        </div>        
                    </div>                    
                </div>                 
                <div ng-switch="dec.design.type">
                    <sd-item-editor 
                        ng-repeat="question in phase.questions" 
                        ng-switch-when="semantic_differential" 
                        question="question">
                    </sd-item-editor>
                    
                    <ranking-item-editor 
                        ng-switch-when="ranking" 
                        roles="phase.roles">
                        </ranking-item-editor>
                </div>
            </div>
        </div>      
    </div>
</div>
