<div class="container" ng-controller="DesignEditController as dec">
    <h2 class="text-center text-primary">{{ 'designMsg' | translate }}</h2>

    <!-- Input para el título del diseño -->
    <div class="form-group">
        <label for="designTitle">{{ 'designTitlePlaceholder' | translate }}</label>
        <input id="designTitle" type="text" class="form-control input-lg" 
               placeholder="{{ 'designTitlePlaceholder' | translate }}" 
               ng-model="dec.design.metainfo.title">
    </div>

    <!-- Lista de fases -->
    <div class="phases-list row">
        <!-- Usar la directiva phase-item -->
        <div class="col-sm-4" ng-repeat="phase in dec.design.phases">
            <phase-item phase="phase" 
                        on-select="dec.selectPhase($index)">
            </phase-item>
        </div>
    </div>

    <!-- Mostrar preguntas según el tipo de fase -->
    <div class="questions-container mt-4" ng-if="dec.currentPhase >= 0">
        <div ng-switch="dec.design.phases[dec.currentPhase].type">
            <!-- Usar semantic-differential para fases de tipo diferencial semántico -->
            <semantic-differential ng-switch-when="semantic_differential" 
                                   question="dec.currentQuestion">
            </semantic-differential>
            
            <!-- Usar ranking para fases de tipo ranking -->
            <ranking ng-switch-when="ranking" 
                     phase="dec.design.phases[dec.currentPhase]">
            </ranking>
        </div>
    </div>

    <!-- Botones de Acción -->
    <div class="text-center mt-4">
        <button class="btn btn-success" ng-click="dec.saveDesign()">
            <i class="glyphicon glyphicon-save"></i> {{ 'save' | translate }}
        </button>
        <button class="btn btn-primary" ng-click="dec.launchDesign()">
            <i class="glyphicon glyphicon-send"></i> {{ 'launchActivity' | translate }}
        </button>
    </div>
</div>
