<div class="container-fluid" ng-controller="BrowseDesignsController as vm">
    <div class="row">
        <div class="col-md-12">
            <h2><i class="fa fa-paint-brush"></i> {{'activity_designs' | translate}}</h2>
            <button class="btn btn-primary" ng-click="navigateTo('/designs/new')" 
                style="margin-bottom: 2rem; margin-top: 1rem;">
                <i class="fa fa-plus" aria-hidden="true"></i> {{'create_design' | translate}}
            </button>
            <p class="designContext">{{'designContext' | translate}}</p>
        </div>
    </div>
    <div class="row" ng-init="vm.dsgnMode = 0; vm.forceFetchDesigns();" style="position: relative;">
        <!-- Tabs de navegación -->
        <ul class="nav nav-tabs" style="margin-left: 16px; display: inline-block;">
            <li ng-class="{'active': vm.dsgnMode === 0}">
                <a href="" ng-click="vm.dsgnMode = 0; vm.getUserDesigns()">{{'yours' | translate}}</a>
            </li>
            <li ng-class="{'active': vm.dsgnMode === 1}">
                <a href="" ng-click="vm.dsgnMode = 1; vm.getPublicDesigns()">{{'byOthers' | translate}}</a>
            </li>
        </ul>

        <!-- Caja de búsqueda posicionada manualmente -->
        <div style="position: absolute; left: 200px; top: 6px; min-width: 80px; max-width: 200px;">
            <input class="form-control search-input fontAwesome" type="text" 
                   placeholder="{{'search' | translate}} &#xF002;" ng-model="vm.userSearch">
        </div>
    </div>
    <div class="row" style="margin-left:-14px; margin-top: -6px;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- Diseños del Usuario -->
                    <div class="list-group-item"
                        ng-repeat="design in vm.userDesigns | filter: vm.userSearch"
                        ng-if="vm.dsgnMode === 0">
                        <div>
                            <a ng-href="#!/designs/{{design.id}}"><h4 class="list-group-item-heading" ng-bind="design.metainfo.title"></h4></a>
                            <p class="list-group-item-text" ng-if="design.type === 'ranking'">{{'ranking_activity' | translate}}</p>
                            <p class="list-group-item-text" ng-if="design.type !== 'ranking'">{{'semantic_differential' | translate}}</p>
                            <p class="list-group-item-text">{{'created' | translate}} {{design.metainfo.creation_date | date}}</p>
                        </div>
                        <div class="text-right vertical-align">
                            <img class="locked-svg" ng-show="design.locked" src="../../assets/images/iconsets/gray-lineart/design-lock-active.svg" alt="SVGLocked">
                            
                            <button class="btn btn-default btn-sm ml-1" ng-click="navigateTo('/activities/new/'+design.id)">
                                <i class="fa fa-rocket"></i> {{'launchActivity' | translate}}
                            </button>
                            
                            <button class="btn btn-default btn-sm ml-1" ng-click="navigateTo('/designs/'+design.id+'/edit')" ng-hide="design.locked">
                                <i class="fa fa-pencil"></i> {{'edit' | translate}}
                            </button>
                            
                            <button class="btn btn-default btn-sm ml-1" ng-click="navigateTo('/designs/'+design.id)">
                                <i class="fa fa-eye"></i> {{'view' | translate}}
                            </button>
                            
                            <button class="btn btn-default btn-sm ml-1 text-danger" ng-click="vm.deleteDesign(design.id)" ng-hide="design.locked">
                                <i class="fa fa-trash"></i> {{'delete' | translate}}
                            </button>

                            <div class="ml-1">
                                <div toggle-switch ng-model="design.public" ng-click="vm.designPublic(design.id)" class="ats-switch switch-primary"></div>
                                <p class="share-paragraph small text-center">{{'share_design' | translate}}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Diseños Públicos -->
                    <div class="list-group-item"
                        ng-repeat="design in vm.publicDesigns | filter: vm.userSearch"
                        ng-if="vm.dsgnMode === 1">
                        <div>
                            <a ng-href="#!/designs/{{design.id}}"><h4 class="list-group-item-heading" ng-bind="design.metainfo.title"></h4></a>
                            <p class="list-group-item-text" ng-if="design.type === 'ranking'">{{'ranking_activity' | translate}}</p>
                            <p class="list-group-item-text" ng-if="design.type !== 'ranking'">{{'semantic_differential' | translate}}</p>
                            <p class="list-group-item-text">{{'created' | translate}} {{design.metainfo.creation_date | date}}</p>
                        </div>
                        <div class="text-right vertical-align">
                            <button class="btn btn-primary btn-sm" ng-click="navigateTo('/activities/new/'+design.id)">
                                {{'view' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
