<h2>{{'actDesigns'|translate}}</h2>
<button class="btn btn-primary createDesignBtn" ng-click="navigateTo('/designs/new')">{{'createDesign' | translate}}</button>
<p class="designContext">{{'designContext' | translate}}</p>
<div ng-controller="BrowseDesignsController as vm">
    <div class="tab_cs" ng-init="vm.forceFetchDesigns(); dsgnMode=tab; dsgnMode=0">
        <button class="tab_cs" ng-click="dsgnMode=0; vm.getUserDesigns()" ng-class="{'btn_selected': dsgnMode == 0}">
            {{'yours'|translate}}
        </button>
        <button class="tab_cs" ng-click="dsgnMode=1; vm.getPublicDesigns()" ng-class="{'btn_selected': dsgnMode == 1}">
            {{'byOthers'|translate}}
        </button>
        <div style="float: left;display: flex;justify-content: left;align-items: center;">
            <input class="form-control text-left search-input fontAwesome" type="text" placeholder="{{'search'|translate}}  &#xF002;" ng-model="vm.userSearch">
        </div>
    </div>
    <div class="wrapper">
        <div class="container" style="overflow: scroll; max-height: 40em; min-height: 10em; border: #bbb 1px solid;">
            <div class="activities_container" style="margin-top: 2em;">
                <div class="list-group pad-content">
                    <!--OWN-->
                    <div class="list-group-item" ng-repeat="design in vm.userDesigns | filter:vm.userSearch" ng-if="dsgnMode==0">
                        <!--UPDATE IT CORRECTLY-->
                        <div>
                            <h4 class="list-group-item-heading" ng-bind="design.metainfo.title"></h4>
                            <p class="list-group-item-text" ng-if="design.type == 'ranking'">{{'ranking_activity'|translate}}</p>
                            <p class="list-group-item-text" ng-if="design.type != 'ranking'">{{'semantic_differential'|translate}}</p>
                            <p class="list-group-item-text"></p>
                            <p class="list-group-item-text">{{'created' | translate}} {{design.metainfo.creation_date | date}}
                            </p>
                        </div>

                        <div class="text-right vertical-align">
                            <img class="locked-svg" ng-show="design.locked"
                                src="../../assets/images/iconsets/gray-lineart/design-lock-active.svg" alt="SVGLocked">
                            <button class="btn btn-primary btn-smaller ml-1"
                                ng-click="navigateTo('/activities/new/'+design.id)">{{'launchActivity' |
                                translate}}</button>
                            <button class="btn btn-primary btn-smaller ml-1" ng-click="navigateTo('/designs/'+design.id+'/edit')"
                                ng-hide="design.locked">{{'edit' |
                                translate}}</button>
                            <button class="btn btn-primary btn-smaller ml-1" ng-click="navigateTo('/designs/'+design.id)">{{'view' |
                                translate}}</button>
                            <button class="btn btn-danger btn-smaller ml-1" ng-click="vm.deleteDesign(design.id)"
                                ng-hide="design.locked">{{'delete' |
                                translate}}</button>
                            <div class="ml-1">
                                <label class="switch">
                                    <input type="checkbox" ng-checked="design.public" ng-click="vm.designPublic(design.id)">
                                    <span class="slider round"></span>
                                
                                </label>
                                <p class="share-paragraph">{{'share'|translate}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item" ng-repeat="design in vm.publicDesigns | filter:vm.userSearch" ng-if="dsgnMode==1">
                        <div>
                            <h4 class="list-group-item-heading" ng-bind="design.metainfo.title"></h4>
                            <p class="list-group-item-text" ng-if="design.type == 'ranking'">{{'ranking_activity'|translate}}</p>
                            <p class="list-group-item-text" ng-if="design.type != 'ranking'">{{'semantic_differential'|translate}}</p>
                            <p class="list-group-item-text">{{'created' | translate}} {{design.metainfo.creation_date | date}}
                            </p>
                        </div>

                        <div class="text-right vertical-align">
                            caca
                            <button class="btn btn-primary btn-smaller" ng-click="navigateTo('/activities/new/'+design.id)">{{'view' |
                                translate}}</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="help_panel">
            <img src="../../assets/images/iconsets/exclamation-mark.png" alt="signoExclamacion"
                class="exclamation-mark-image">
            <div class="help-container">
                <p class="help-paragraph">
                    {{'designsPanel1' | translate}}
                </p>
                <p class="help-paragraph">
                    {{'designsPanel2' | translate}}
                </p>
            </div>
        </div>
    </div>
</div>