<div class="row">
    <div class="col-md-12 mb-2">
        <h2><i class="fa fa-home" aria-hidden="true"></i> {{'teacher_workbench' | translate}}</h2>
        <p class="margin-top-24" style="width: 60em;">{{'homeMsg' | translate}}</p>
    </div>
</row>

<div class="container home-card-container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" style="padding: 20px;">
                <div class="panel-body">
                    <div class="row">
                        <!-- Tarjeta 1 -->
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div ng-click="navigateTo('/designs/new')" class="home-card">
                                <img src="/assets/images/cards/design-activity.jpeg" class="img-responsive center-block" alt="Design an activity">
                                <div class="home-card-caption">
                                    {{'designActivity' | translate}}
                                </div>
                            </div>
                        </div>
                        <!-- Tarjeta 2 -->
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div ng-click="navigateTo('/activities/new')" class="home-card">
                                <img src="/assets/images/cards/launch-activity.jpeg" class="img-responsive center-block" alt="Launch an activity">
                                <div class="home-card-caption">
                                    {{'launchAnActivity' | translate}}
                                </div>
                            </div>
                        </div>
                        <!-- Tarjeta 3 -->
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div ng-click="navigateTo('/designs')" class="home-card">
                                <img src="/assets/images/cards/search-designs.jpeg" class="img-responsive center-block" alt="Search designs">
                                <div class="home-card-caption">
                                    {{'searchDesigns' | translate}}
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-controller= "ActivityController as ac">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'recentActivity'|translate}}
                </div>
                <div class="panel-body">
                    <div class="panel panel-default" ng-repeat="ses in ac.currentActivities(0) | limitTo: 3 | orderBy : '-time'">
                        <div class="panel-body">
                            <p><b><i class="fa-solid fa-info-circle" aria-hidden="true"></i> {{ 'activity_description_colon' | translate }}</b> {{ ses.descr === '' ? ('no_description' | translate) : ses.descr }}</p>
                            <p><b><i class="fa-solid fa-paint-brush" aria-hidden="true"></i> {{ 'design_colon' | translate }}</b> {{ ses.design.metainfo.title }}</p>
                            <p><b><i class="fa-solid fa-key" aria-hidden="true"></i> {{ 'access_code_colon' | translate }}</b> {{ ses.code }}</p>
                            <p><b><i class="fa-solid fa-calendar-alt" aria-hidden="true"></i> {{ 'launch_date_colon' | translate }}</b> {{ ses.time | date:'dd-MM-yyyy HH:mm' }} (UTC)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



