<div ng-controller="instituciones" ng-if="selectedView == 'profile'">
    <div>
        <img src="assets/img/blanco.jpg" alt="No Carga" class=""
            style="border: 5px solid #555; max-width: 100px; max-height: 100px;">
        <strong style="font-size: 25px;">{{ username }} </strong>
        <h3 ng-if="role == 'A'">{{'student' | lang}} </h3>
        <h3 ng-if="role == 'P'">{{'teacher' | lang}} </h3>
        <h3 ng-if="role == 'I'">{{'institution' | lang}} </h3>

        <br><br>
    </div>
    <div>
        <form action="changepassword" method="post">
            <input name="mail" type="hidden" value="{{mail}}" class="form-control profile-input">
            <label class="left">{{'change_passwors' | lang}}:</label>
            <input type="text" class="form-control profile-input" name="pass" required autofocus><br>
            <label>{{'confirm_password' | lang}}:</label>
            <input type="text" class="form-control profile-input" name="pass-conf"><br>
            <button type="submit" class="btn btn-primary" style="width: 200px;">
                {{'change_passwors' | lang}}
            </button>

        </form>
    </div>
    <br>
    <div>
        <form action="deleteacc" method="post">
            {{'terminate_account' | lang}}<br>
            <input name="mail" type="hidden" value="{{mail}}" class="form-control profile-input">
            <button type="submit" class="btn btn-primary" style="width: 200px;">
                {{'unsubscribe_account' | lang}}
            </button>
        </form>
    </div>
</div>