<div ng-controller="ActivityController as ac">
    <!-- Tabs for "Information", "Users" and "Design" -->
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item" ng-class="{active: ac.activeTab === 'case'}">
                    <a class="nav-link" href="" ng-click="ac.activeTab = 'case'">
                        <i class="fa-solid fa-circle-info"></i> Case
                    </a>
                </li>
                <li class="nav-item" ng-repeat="phase in ac.activityState.phases" 
                    ng-class="{active: ac.activeTab === 'phase' + phase.number}">
                    <a class="nav-link" href="" ng-click="ac.activeTab = 'phase' + phase.number">
                        <i class="fa-solid fa-circle-info"></i> Case
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Tabs Content -->
    <div class="row">
        <div class="col-md-12">
            <div ng-show="ac.activeTab == 'case'">
                <case-view></case-view>
            </div>
            <div ng-repeat="phase in ac.activityState.phases" 
                ng-show="ac.activeTab == 'phase' + phase.number" class="margin-top-8">
                <div ng-repeat="task in ac.activityState.tasks">
                    <task-view></task-view>
                </div>
                <hr>
                <div ng-show="phase.prevans">
                    <task-view-array></task-view-array>
                </div>
                <div ng-show="phase.chat">
                    <chat-room></chat-room>
                <div ng-show="phase.chat">
            </div>
        </div>
    </div>
</div>
