PORT=8502
SESSION_SECRET=change_me
PGHOST=postgresql
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=ethicapp

PGPOOL_MAX=10
PG_IDLE_TIMEOUT=30000
PG_CONN_TIMEOUT=2000

NODE_ENV=development
DEBUG_SQL=false