  <div class="top-bar-mini cflex" ng-hide="false">
    <div class="cf1">
      <a href="seslist" class="simple-margin-left">
        <img src="assets/images/logos/ethicapp-logo.png" class="logoEthicapp" alt="Logo">
      </a>
    </div>
    <div class="cf1 text-right margin-right-8 simple-padding-top" id="topbtnlist">
      <div class="language-dropdown" ng-mouseenter="showLanguageDropdown = true"
        ng-mouseleave="showLanguageDropdown = false">
        <i class="fa fa-globe"></i>
        <i class="fa fa-angle-down"></i>
        <ul class="language-options" ng-show="showLanguageDropdown">
          <li ng-repeat="languageKey in ['es_CL', 'en_US']" ng-click="changeLang(languageKey)">
            <span ng-if="languageKey === lang" class="selected-language">{{ getTranslatedLanguageName(languageKey) }} <i
                class="fa fa-check"></i></span>
            <span ng-if="languageKey !== lang" class="not-selected-language">{{ getTranslatedLanguageName(languageKey)
              }}</span>
          </li>
        </ul>
      </div>
      <img src="assets/images/assorted/blanco.jpg" alt="No Carga"
        class="circle_profile cf1 text-right margin-right-3 simple-padding-top" ng-click="selectView('profile')">
      <strong class="margin-right-8"><a ng-click="selectView('profile')" style="color: white;"> {{'profile' | translate
          }}
        </a></strong>
      <a href="logout" class="text-white ml-2" title="{{'exitEthicapp' | translate}}">
        <i class="fa fa-sign-out fa-2x"></i>
      </a>
    </div>
  </div>
  <div>
    <div class="sidenav"> <!--Left side NAV BAR-->
      <div style="margin-top: 5em;">
        <a href="#!/home">{{ 'home' | translate }}</a>
        <a href="#!/activities/new">{{ 'launchActivity' | translate }}</a>
        <a href="#!/activities">{{ 'activities' | translate }}</a>
        <a href="#!/designs">{{ 'designs' | translate }}</a>
      </div>
    </div>
    <div class="main_body vl"> <!--Right side-->
      <div class="container" style="margin-top: 3em;">
        <div ng-view></div>
      </div>
    </div>
  </div>