MNG_PORT=8504
MNG_SESSION_SECRET=change-this-in-production
SESSION_SECRET=change-this-in-production
PGHOST=postgresql
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=ethicapp
AUTH_BACKEND_INTERNAL_BASE_URL=http://auth-backend:8502/api/auth
ETHICAPP_INTERNAL_BASE_URL=http://ethicapp:8501
