<h2>{{'launchActivity' | lang}}</h2>
<br>
<p>Escoge el diseño de actividad que desees lanzar.</p>
<br>
<div ng-controller="ActivityController"  ng-if="selectedView=='launchActivity'">
    <div ng-controller ="BrowseDesignsController">
        <div ng-init="setValues()" ng-show="designSelected() == null">
            <div clas="col-lg-1">
                <input class="form-control text-center" type="text" placeholder="{{'search'|lang}}" ng-model="userSearch" style="height: 2em;">
            </div>
            <div class="container" style="overflow: scroll; max-height: 20em; min-height: 10em;">
                <div class="list-group-item dsgn" ng-repeat="ses in designs | filter:userSearch " 
                ng-click="designValues(ses.id, ses.metainfo.title, ses.type)" ng-class="{'dsgn-sel': dsgnid == ses.id}">
                    <h4 class="list-group-item-heading" ng-bind="ses.metainfo.title"></h4>
                    <p class="list-group-item-text">{{'created' | lang}} {{ses.metainfo.creation_date | date}}</p>
                </div>
            </div>
        </div>
        <div ng-show="designSelected() != null">
            <div class="container" style="overflow: scroll; max-height: 20em; min-height: 10em;">
                <div class="list-group-item dsgn" ng-repeat="ses in designs | filter:designSelected()" 
                ng-click="designValues(ses.id, ses.metainfo.title, ses.type)" ng-class="{'dsgn-sel': dsgnid == ses.id}">
                    <h4 class="list-group-item-heading" ng-bind="ses.metainfo.title"></h4>
                    <p class="list-group-item-text">{{'created' | lang}} {{ses.metainfo.creation_date | date}}</p>
                </div>
            </div>
        </div>
        <br>
        <p>Dale una descripcion a la actividad</p>
        <form ng-submit="createSession(dsgntitle,descr, 'T', dsgnid)">
            <div class="row">
                <div class="col-lg-6">
                    <input type="text" class="form-control" ng-model="descr" required>
                </div>
            </div>
            <div class="row" >
                <div class="col-lg-6">
                    <button class="btn btn-primary" ng-disabled="dsgnid == null">Lanzar actividad</button>
                </div>
            </div>
        </form>
        <div ng-if="selectedSes.code != null">
            <div style="background-color: gray; height: 15em; width: 30em;">
                <strong>{{selectedSes.code}}</strong>
            </div>
        </div>
    </div>
</div>
