<div style="background: #f5f5f5;">
    <div class="d-flex align-items-center" style="margin-left: 15px; margin-right: 15px;">
        {{ parentDec }}
        <h4>{{ 'phase_title_prefix' | translate }} {{ $index + 1 }}</h4>
        <i ng-class="{'fa-solid fa-window-maximize': isOpen, 'fa-solid fa-window-minimize': !isOpen}" 
           class="fa-solid me-2 ms-auto"
           ng-click="isOpen = !isOpen">
        </i>
        <i class="fa-solid fa-trash text-danger" 
           style="cursor: pointer;" 
           ng-click="parentDec.confirmDeletePhase($index)">
        </i>
    </div>
    <div ng-transclude></div>
</div>
