<div ng-if="selectedView == 'activity'">
    <div ng-controller="NewUsersController">
        <div ng-controller="StagesController">
            <div ng-controller="MonitorActivityController" ng-init="showDesign = false">
                <h2>{{'currentActivity' | lang}}</h2>

                <div class="" ng-controller="StagesEditController">

                    <!--Phases selections-->
                    <div class="container phase_container">
                        <div class="row">
                            <div class="col-xs-1 phase_element" ng-repeat="item in getStages()" ng-init="current"
                                ng-class="{phase_current: currentActivity.stage == $index, phase_selected:currentStage==$index}"
                                ng-click="selectStage($index)">
                                {{'stage' | lang}} {{$index+ 1}}
                                {{'mode' | lang}}: {{item.mode|lang}}
                            </div>
                        </div>
                    </div>

                    <div class="container stage_container" ng-show="currentStage != null && showDesign">
                        <!--ng-controller="StagesController"-->
                        <div class="row">
                            <h4 class="col-lg-2"><strong>{{'stage' | lang}} #{{currentStage+1}}</strong></h4>
                            <h4 class="col-lg-4" ng-show="currentStage == 0"><strong>{{'modeType' | lang}}:</strong>
                                {{design.phases[currentStage].mode|lang}} </h4>
                        </div>

                        <!--STAGE 2 AND FOWARD-->
                        <div ng-if="currentStage>0">
                            <div class="row margin-top-8">
                                <label class="col-lg-2">{{'modeType' | lang}}:</label>
                                <div class="col-lg-3">
                                    <select class="form-control form-inline-med"
                                        ng-options="x.key as (x.name | lang) for x in groupType"
                                        ng-model="design.phases[currentStage].mode" ng-disabled="true"></select>
                                </div>
                            </div>
                            <div ng-if="design.phases[currentStage].mode == 'team'">
                                <div class="row margin-top-8">
                                    <label class="col-lg-2">{{'groupingMethod' | lang}}:</label>
                                    <div class="col-lg-3">
                                        <select class="form-control form-inline-med"
                                            ng-init="design.phases[currentStage].grouping_algorithm"
                                            ng-options="x.key as (x.name | lang) for x in methods"
                                            ng-model="design.phases[currentStage].grouping_algorithm"
                                            ng-disabled="true"></select> <!--EDIT LATER-->
                                    </div>
                                </div>
                                <div class="row margin-top-8">
                                    <label class="col-lg-2">{{'studentsPerGroup' | lang}}:</label>
                                    <div class="col-lg-2">
                                        <input type="number" id="points" name="length" step="1" min="2"
                                            class="form-control" ng-model="design.phases[currentStage].stdntAmount"
                                            readonly style="width: 6em; text-align: center; height: 2em;">
                                        <!--EDIT LATER-->
                                    </div>
                                </div>
                            </div>
                            <!--EXTRA OPTIONS-->
                            <div ng-if="design.phases[currentStage].mode == 'team'">
                                <a ng-click="toggleOpts(1)">{{'advOpts'|lang}}</a>
                                <div ng-show="extraOpts" class="question_container">
                                    <div class="row margin-top-8">
                                        <label class="col-lg-2">{{'studentAnon'|lang}}:</label>
                                        <div class="col-lg-1">
                                            <input type="radio" name="anon2" ng-value="true" ng-disabled="true"
                                                ng-model="design.phases[currentStage].anonymous">
                                            <label>{{'yes'|lang}}</label>
                                        </div>
                                        <div class="col-lg-1">
                                            <input type="radio" name="anon2" ng-value="false" ng-disabled="true"
                                                ng-model="design.phases[currentStage].anonymous">
                                            <label>{{'no'|lang}}</label>
                                        </div>
                                        <div class="col-lg-3 ">
                                            <div ng-click="toggleOpts(2)" style="cursor: pointer;">
                                                {{'viewPastSes'|lang}}:
                                            </div>
                                            <div class="stack_top stage_container" ng-show="prevStages"
                                                style="z-index: 2; position:absolute; background:#fff; border: 2px #bbb solid; width:10em;">
                                                <div ng-repeat="n in buildArray(currentStage)">
                                                    <input type="checkbox" name="prevStage" ng-disabled="true"
                                                        checklist-value="n-1"
                                                        checklist-model="design.phases[currentStage].prevPhasesResponse[n-1]">
                                                    <label for="S{{n}}">{{'stage'|lang}}: {{n}}</label>
                                                    <!--FIX TOGGLE OPTION-->
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row margin-top-8">
                                        <label class="col-lg-2">{{'activeChat'|lang}}:</label>
                                        <div class="col-lg-1">
                                            <input type="radio" name="chat2" ng-value="true" ng-disabled="true"
                                                ng-model="design.phases[currentStage].chat">
                                            <label>{{'yes'|lang}}</label>
                                        </div>
                                        <div class="col-lg-1">
                                            <input type="radio" name="chat2" readonly ng-value="false"
                                                ng-disabled="true" ng-model="design.phases[currentStage].chat">
                                            <label>{{'no'|lang}}</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--TABS QUESTIONS-->
                        <div class="tab_cs">
                            <button ng-repeat="i in buildArray(design.phases[currentStage].questions.length)"
                                class="tab_cs" ng-click="selectQuestion($index)"
                                ng-class="{'btn_selected': currentQuestion == $index}">
                                {{'question'|lang}} {{i}}
                            </button>
                        </div>

                        <div class="question_container">
                            <div ng-show="stageType == 'semantic_differential'">
                                <div class="row">
                                    <label class="col-lg-2">{{'questionText'|lang}}</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control text-center" ng-disabled="readonly" readonly
                                            placeholder="{{'title'|lang}}"
                                            ng-model="design.phases[currentStage].questions[currentQuestion].q_text">
                                    </div>
                                </div>
                                <!--Semantic Differential-->
                                <label class="margin-top-8">{{'semanticDiffEscale'|lang}}</label>
                                <div class="row margin-top-8">
                                    <div class="col-xs-3 text-right">
                                        <div class="tlabel">
                                            <input type="text" class="form-control" ng-disabled="readonly" readonly
                                                placeholder="{{'left'|lang}}"
                                                ng-model="design.phases[currentStage].questions[currentQuestion].ans_format.l_pole">
                                        </div>
                                        <button class="btn btn-default" ng-disabled="true">-</button>
                                    </div>
                                    <div class="dopts col-xs-6">
                                        <div class="option eq-space" ng-repeat="i in buildArray(num)">{{i}}</div>
                                    </div>
                                    <div class="col-xs-3">
                                        <button class="btn btn-default" ng-disabled="true">+</button>
                                        <div class="tlabel">
                                            <input type="text" class="form-control" ng-disabled="readonly" readonly
                                                placeholder="{{'right'|lang}}"
                                                ng-model="design.phases[currentStage].questions[currentQuestion].ans_format.r_pole">
                                        </div>
                                    </div>
                
                                </div>
                                <div class="row margin-top-24">
                                    <label class="col-lg-2">{{'mandatoryComment'|lang}}</label>
                                    <div class="col-lg-1">
                                        <input type="radio" name="comment2" ng-value="true" ng-disabled="true"
                                            ng-model="design.phases[currentStage].questions[currentQuestion].ans_format.just_required">
                                        <label>{{'yes'|lang}}</label>
                                    </div>
                                    <div class="col-lg-1">
                                        <input type="radio" name="comment2" ng-value="false" ng-disabled="true"
                                            ng-model="design.phases[currentStage].questions[currentQuestion].ans_format.just_required">
                                        <label>{{'no'|lang}}</label>
                                    </div>
                                </div>
                                <div class="row margin-top-24">
                                    <label class="col-lg-2">{{'minComment'|lang}}</label>
                                    <div class="col-lg-1">
                                        <input type="number" id="points" name="length" step="1" min="5" class="form-control" readonly
                                            ng-model="design.phases[currentStage].questions[currentQuestion].ans_format.min_just_length"
                                            style="width: 6em; text-align: center; height: 2em;">
                                    </div>
                                    <label class="col-lg-2" for="length">{{'words'|lang}}</label>
                                </div>
                            </div>
                            <!--ANOTHER OPTION-->
                            <div ng-show="stageType == 'ranking'">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>{{ 'question' | lang }}</label>
                                        <textarea rows="2" class="form-control" ng-model="design.phases[currentStage].q_text"
                                            ng-disabled="true"
                                            ng-class="{'error': IsTextEmpty($index, design.phases[currentStage].q_text)}"></textarea>
                                    </div>
                                    <div class="col-sm-5">
                                        <h4>{{ 'listOf' | lang }} {{ 'roles' | lang }}/{{ 'actors' |
                                            lang }}</h4>
                                    </div>
                                    <div class="col-sm-2 text-center margin-top-8">
                                        <button class="btn btn-default" ng-click="setAllRolesType('role')" ng-disabled="true">
                                            {{ 'justifyAll' | lang }} {{ 'roles' | lang }}
                                        </button>
                                    </div>
                                    <div class="col-sm-2 text-center margin-top-8">
                                        <button class="btn btn-default" ng-click="setAllRolesType('order')" ng-disabled="true">
                                            {{ 'justifyAll' | lang }} {{ 'orders' | lang }}
                                        </button>
                                    </div>
                                    <div class="col-sm-2 text-center margin-top-8">
                                        <button class="btn btn-default" ng-click="addRole()" ng-disabled="true">
                                            <i class="fa fa-plus"></i> {{ 'add' | lang }} {{ 'role' | lang }}
                                        </button>
                                    </div>
                                </div>
                                <div class="row row-border" ng-repeat="role in design.phases[currentStage].roles">
                                    <div class="col-sm-5">
                                        <input class="form-control" ng-model="role.name" ng-disabled="true"
                                            ng-class="{'error': IsTextEmpty($index, role.name)}">
                                    </div>
                                    <div class="col-sm-2 text-center">
                                        <button class="btn btn-default" ng-class="{'btn-primary': role.type == 'role'}"
                                            ng-click="setRoleType(role, 'role')" ng-disabled="true">
                                            {{ 'justify' | lang }} {{ 'role' | lang }}
                                        </button>
                                    </div>
                                    <div class="col-sm-2 text-center">
                                        <button class="btn btn-default" ng-class="{'btn-primary': role.type == 'order'}"
                                            ng-click="setRoleType(role, 'order')" ng-disabled="true">
                                            {{ 'justify' | lang }} {{ 'order' | lang }}
                                        </button>
                                    </div>
                                    <div class="col-sm-2 text-right">
                                        <label>{{'words'|lang}}</label>
                                        <input class="form-control form-inline-mini" placeholder="Word Count" type="number"
                                            ng-model="role.wc" ng-disabled="true">
                                    </div>
                
                                </div>
                            </div>
                
                
                        </div>

                    </div>
                </div>

                <!-- MONITOR-->
                
            <!-- <ul>
                <li><strong>Activity: {{currentActivity.id}}</strong></li>
                <li><strong>SessionID: {{selectedId}}</strong> -> Current Stage: {{ selectedSes.current_stage }} -> Num: {{ currentActivity.stage }}</li>
                <li><strong>Design Name: {{design.metainfo.title}}</strong></li>
            </ul> -->
           
                <p><strong>{{'sessionCode'|lang}}: {{selectedSes.code}}</strong></p>
                <br>

                <button class="btn btn-info btn-activity" ng-click="showDesign = !showDesign">{{'showDesign' | lang}}</button>
                <button class="btn btn-success btn-activity" ng-click="nextActivityDesign(design,selectedId)"
                    ng-disabled="design.phases.length-1 == currentActivity.stage ">{{'next' | lang}}</button>
                <button class="btn btn-danger btn-activity" ng-click="finishActivity()">{{'end' | lang}}</button>


                <div class="container">
                    <div class="row">
                      <div class="col-xs-12">
                        <h2 class="text-center"><strong>{{completion}} {{'studentsFinish'| lang}}</strong></h2>
                      </div>
                    </div>
                  </div>
                <!-- DASHBOARDS -->
                <div class="pad-content" ng-controller="DashboardController">
                    <div class="pull-right margin-ver-8"
                        ng-show="selectedSes.type == 'R' || selectedSes.type == 'T' || selectedSes.type == 'J'">
                        <button class="btn btn-sm btn-success" ng-click="exportChatCSV()"
                            ng-show="selectedSes.status >= 3">{{ 'export' | lang }} Chat CSV</button>
                        <button class="btn btn-sm btn-success" ng-click="exportSelCSV()"
                            ng-show="selectedSes.status >= 3">{{ 'export' | lang }} {{ 'answer' | lang }} CSV</button>
                        <div class="row">
                            <div class="col-lg-7">
                                <select class="form-control" ng-options="x.val as flang(x.name) for x in iterationNames"
                                ng-model="iterationIndicator" ng-change="updateState();ActivityState(iterationIndicator);">
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-default" ng-click="updateState();ActivityState(iterationIndicator);">{{'update' | lang}}</button>
                            </div>
                        </div>
                    </div>

                    <!-- RUBRICA DASHBOARD -->
                    <div
                        ng-show="iterationIndicator == 5 && selectedSes.type!='R' && selectedSes.type != 'T' && selectedSes.type != 'J'">
                        <h4>{{'details' | lang}}:</h4>
                        <div class="row">
                            <div class="col-sm-2">{{'report' | lang}}: </div>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="selectedReport"
                                    ng-options="showName(x) for x in exampleReports"
                                    ng-change="getReportResult()"></select>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-default" ng-click="getReportResult()">{{'view' | lang}}
                                    {{'results' | lang}}</button>
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <tr>
                                <th>{{'student' | lang}}</th>
                                <th style="width: 420px">{{'evaluation' | lang}}</th>
                            </tr>
                            <tr ng-repeat="dato in result | orderBy:'-val'">
                                <td ng-bind="users[dato.uid].name"></td>
                                <td>
                                    <div class="bg-darkgreen table-green-bar" style="width: {{100*dato.val}}px;">
                                        {{dato.val | number:2}}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div
                        ng-show="iterationIndicator == 6 && selectedSes.type!='R' && selectedSes.type != 'T' && selectedSes.type != 'J'">
                        <h4>{{'details' | lang}} {{'report' | lang}}:</h4>
                        <table class="table table-bordered">
                            <tr>
                                <th>{{'report' | lang}}</th>
                                <th ng-repeat="x in getInMax(resultAll) track by $index">Ev. {{$index + 1}}</th>
                                <th>{{'average' | lang}}</th>
                            </tr>
                            <!--<tr ng-repeat="dato in result | orderBy:'-score'">-->
                            <tr ng-repeat="(alum,row) in resultAll">
                                <td>
                                    {{'reportOf' | lang}} <span ng-bind="users[alum].name"></span>
                                    <i class="fa fa-check-square" ng-show="row.reviews == selectedSes.paired"></i>
                                    <button class="btn btn-default btn-sm pull-right"
                                        ng-click="broadcastReport(row.data[0].rid)" ng-show="selectedSes.status == 9">
                                        <i class="fa fa-share"></i>
                                    </button>
                                    <button class="btn btn-default btn-sm pull-right"
                                        ng-click="showReport(row.data[0].rid)"><i class="fa fa-eye"></i></button>
                                </td>
                                <td ng-repeat="x in getInMax(resultAll) track by $index">
                                    {{row.data[$index].val | number:2}}
                                </td>
                                <td>{{getAvg(row.data) | number:2}}</td>
                            </tr>
                        </table>
                    </div>

                    <div ng-show="design.type == 'semantic_differential'" class="margin-top-8">
                        <strong>{{ 'indAggAns' | lang }}</strong>
                        <span class="pull-right mt-1medio margin-right-8"><span style="color: red;">*</span> {{ 'commentReq' | lang }}</span>
                        <table class="table table-bordered" ts-wrapper>
                            <tr>
                                <th ts-criteria="uid" ts-order-by="sortByAutorName">{{ 'author' | lang }}</th>
                                <th ng-if="shared.stagesMap[iterationIndicator].type == 'team'" ts-criteria="tmid"
                                    ts-default>{{ 'group' | lang }}</th>
                                <th ng-repeat="df in dfsStage">
                                    {{'question' | lang}} {{ df.orden }} (1-{{ df.num }})
                                    <span style="color: red;" ng-if="df.justify">*</span>
                                </th>
                            </tr>
                            <tr ng-repeat="udata in shared.difTable track by $index" ts-repeat
                                ng-class="{'bg-gray': udata.group}">
                                <td>
                                    <span ng-show="!udata.group">{{ users[udata.uid].name }}</span>
                                    <strong ng-show="udata.group">{{ 'group' | lang }} {{
                                        shared.groupByTmid[udata.tmid].index }}</strong>
                                </td>
                                <td ng-if="shared.stagesMap[iterationIndicator].type == 'team'">
                                    <span ng-show="udata.group">{{ shared.groupByTmid[udata.tmid].index }}</span>
                                    <span ng-show="!udata.group">{{ shared.groupByUid[udata.uid].index }}</span>
                                </td>
                                <td ng-repeat="aid in udata.arr track by $index"
                                    ng-click="openDF2Details(udata.tmid, aid.did, udata.uid)">
                                    <span class="mini-inline">
                                        <span ng-show="udata.group">{{ 'avgs' | lang }}: </span>
                                        <span ng-if="udata.group">{{ aid.sel | number:1 }}</span>
                                        <span ng-if="!udata.group">{{ aid.sel }}</span>
                                        <i class="fa fa-check" ng-if="aid.comment"></i>
                                    </span>
                                    <span class="badge bg-red"
                                        ng-show="shared.stagesMap[iterationIndicator].chat && !udata.group">
                                        <i class="fa fa-comments"></i> {{ shared.chatByUid[aid.did][udata.uid] || 0 }}
                                    </span>
                                    <span class="badge bg-darkgreen simple-margin-left" ng-show="aid.sd != null"
                                        ng-class="{'bg-red': aid.sd >= 1, 'bg-yellow': aid.sd < 1 && aid.sd > 0.5}">
                                        {{ 'cvs' | lang }}:
                                        {{ aid.sd | number:2 }}
                                    </span>
                                    <span class="badge bg-red simple-margin-left"
                                        ng-show="shared.stagesMap[iterationIndicator].chat && udata.group">
                                        <i class="fa fa-comments"></i> {{ shared.chatByTeam[aid.did][udata.tmid] || 0 }}
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <div class="simple-padding-bottom">
                            <span>{{ 'students' | lang }}: {{shared.difTableUsers}}</span>
                            <strong class="simple-margin-left">{{ 'avgs' | lang }}: </strong> {{ 'average' | lang }}.
                            <strong class="simple-margin-left">{{ 'cvs' | lang }}: </strong> {{ 'cvdesc' | lang }}.
                            <span class="badge bg-red simple-margin-left"><i class="fa fa-comments"></i> N</span> N {{
                            'chatMessages' | lang }}.
                        </div>
                    </div>
                    <div ng-show="design.type == 'ranking'" class="margin-top-8">
                        <span>{{ shared.stagesMap[iterationIndicator].question }}</span>
                        <table class="table table-bordered">
                            <tr>
                                <th>{{'order' | lang}}</th>
                                <th ng-repeat="actor in rawActors" class="text-center">{{ actor.name }}</th>
                            </tr>
                            <tr ng-repeat="(p, aa) in rawActors track by p">
                                <td class="text-center">{{ p + 1 }}</td>
                                <td ng-repeat="(i, actor) in rawActors track by i" ng-style="getFreqColor(actor.id, p+1)"
                                    class="text-center text-black">
                                    <strong>{{ posFreqTable[actor.id][p + 1] || 0 }}</strong>
                                </td>
                            </tr>
                        </table>
        
                        <br>
                        <strong>{{ 'indAggAns' | lang }}</strong>
                        <span class="pull-right"><span style="color: red;">*</span> {{ 'commentReq' | lang }}</span>
                        <table class="table table-bordered" ts-wrapper>
                            <tr>
                                <th ts-criteria="ceqlnum | parseFloat" ts-default="descending">{{ 'numEqual' | lang }}</th>
                                <th ts-criteria="uid" ts-order-by="sortByAutorName">{{ 'author' | lang }}</th>
                                <th ts-criteria="jigsawId">{{ 'role' | lang }}</th>
                                <th ng-if="shared.stagesMap[iterationIndicator].type == 'team'" ts-criteria="uid2"
                                    ts-order-by="sortByAutorGroup">{{ 'group' | lang }}</th>
                                <th ng-repeat="(p, aa) in rawActors track by p">Pos {{ p + 1 }}</th>
                            </tr>
                            <tr ng-repeat="udata in indvTableSorted track by udata.uid" ts-repeat
                                ng-click="openActorDetails(udata.uid, iterationIndicator)">
                                <td>{{ udata.ceq }}</td>
                                <td>
                                    {{ users[udata.uid].name }}
                                    <span class="badge bg-red" ng-show="shared.stagesMap[iterationIndicator].chat">
                                        <i class="fa fa-comments"></i> {{ shared.chatByUid[udata.uid] }}
                                    </span>
                                </td>
                                <td>{{ users[udata.uid].jigsaw.name }}</td>
                                <td ng-if="shared.stagesMap[iterationIndicator].type == 'team'">
                                    {{ shared.groupByUid[udata.uid].index }}
                                    <span class="badge bg-red">
                                        <i class="fa fa-comments"></i> {{ shared.chatByTeam[shared.groupByUid[udata.uid].tmid] }}
                                    </span>
                                </td>
                                <td ng-repeat="aid in udata.arr track by $index">
                                    <span style="color: red;" ng-if="udata.just[$index]">*</span>
                                    {{ actorMap[aid].name }}
                                    <i class="fa fa-check" ng-if="udata.com[$index] && udata.just[$index]"></i>
                                </td>
                            </tr>
                        </table>
                        <div class="simple-padding-bottom">
                            <span>{{ 'students' | lang }}: {{indvTableSorted.length}}</span>
                            <span class="badge bg-red simple-margin-left"><i class="fa fa-comments"></i> N</span> N {{ 'chatMessages' | lang }}.
                            <i class="fa fa-check simple-margin-left"></i> {{ 'commented' | lang }}.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>