<br>
<br>
<a ng-click="selectView('')" >{{'back'|lang}}</a>
<br>
<h2>{{'actDesigns'|lang}}</h2>
<div ng-controller ="BrowseDesignsController">
    <div class="tab_cs" ng-init="dsgnMode= tab">
        <button class="tab_cs" ng-click= "dsgnMode=0;getDesigns()" ng-class="{'btn_selected': dsgnMode == 0}">
        {{'yours'|lang}}
        </button>
        <button class="tab_cs" ng-click = "dsgnMode=1;getPublicDesigns()" ng-class="{'btn_selected': dsgnMode == 1}">
        {{'byOthers'|lang}}
        </button>
        <div style="float: left;display: flex;justify-content: left;align-items: center;"> 
            <input class="form-control text-center" type="text" placeholder="{{'search'|lang}}" ng-model="userSearch" style="height: 2em;">
        </div>
        
    </div>
    <div class="container" style="overflow: scroll; max-height: 40em; min-height: 10em; border: #bbb 1px solid;" 
     ng-if="selectedView=='designs'">
        <div class="activities_container" style="margin-top: 2em;">
            <div class="list-group pad-content">
                <!--OWN-->
                <div class="list-group-item" ng-repeat="ses in designs | filter:userSearch" ng-if="dsgnMode==0"> <!--UPDATE IT CORRECTLY-->
                    <h4 class="list-group-item-heading" ng-bind="ses.metainfo.title"></h4>
                    <p class="list-group-item-text">{{'created' | lang}} {{ses.metainfo.creation_date | date}}</p>
                    <div class="text-right">
                        <strong ng-show="ses.locked">LOCKED</strong>
                        <button class="btn btn-primary " ng-click="launchDesign(ses.id, ses.metainfo.title, ses.type)">{{'launchActivity' | lang}}</button>
                        <label class="switch">
                            <input type="checkbox" ng-checked="ses.public" ng-click="designPublic(ses.id)">
                            <span class="slider round"></span>
                            
                        </label>{{'share'|lang}}                    
                        <button class="btn btn-primary " ng-click="goToDesign(ses.id, 'E')" ng-hide = "ses.locked">{{'edit' | lang}}</button>
                        <button class="btn btn-primary " ng-click="goToDesign(ses.id, 'V')">{{'view' | lang}}</button>
                        <button class="btn btn-danger " ng-click="deleteDesign(ses.id)" ng-hide="ses.locked">{{'delete' | lang}}</button>
                    </div>
                </div>
                <!--PUBLIC-->
                <div class="list-group-item" ng-repeat="ses in public | filter:userSearch" ng-if="dsgnMode==1"> <!--UPDATE IT CORRECTLY-->
                    <h4 class="list-group-item-heading" ng-bind="ses.metainfo.title"></h4>
                    <p class="list-group-item-text">{{'created' | lang}} {{ses.metainfo.creation_date | date}}</p>
                    <div class="text-right">
                        <button class="btn btn-primary " ng-click="goToDesign(ses.id, 'V')">{{'view' | lang}}</button>
                    </div>
                </div>
            </div>
        
        </div>

    </div>
</div>