<br>
<br>
<a ng-click="selectView('')" >{{'back'|lang}}</a> <!--MERGE VIEW WITH EXT VERSION-->
<br>
<h2>{{'designMsg'|lang}}</h2>
<div>
    <div class="modal-header">
        <h4>{{'designMsgInfo'|lang}}</h4>
    </div>
    <form class="modal-body form-new-design" name="formDesign" ng-controller="StagesEditController" ng-if="selectedView == 'newDesign'">
        <div class="" style="display: flex;">
            <label class="line_labels title-new-design">{{'title'|lang}}:</label>
            <input type="text" class="form-control line_input" name="name" ng-model="title" ng-required="true">
            <div class="ml-2">
                <select ng-model="selectedOption" class="form-control col-3">
                    <option value="semantic_differential">{{'semantic_differential'|lang}}</option>
                    <option value="ranking">{{'ranking_activity'|lang}}</option>
                </select>
            </div>
        </div>
        <br>
        <hr class="mt-1medio">
        <br>
        <div class="new-design-bottom">
            <button class="btn btn-primary" ng-click="formDesign.$valid && uploadDesign(title,'template', selectedOption)"
                type="submit">{{'next'|lang}}</button>
        </div>
        
    </form>
</div>