<div ng-controller="instituciones" ng-if="selectedView == 'profile'">

    <div class="profile">
        <img src="assets/images/assorted/blanco.jpg" alt="No Carga" class="profile-pic">
        <div class="profile-info">
            <strong class="username">{{ username }}</strong>
            <h3 ng-if="role == 'A'" class="role">{{ 'student' | lang }}</h3>
            <h3 ng-if="role == 'P'" class="role">{{ 'teacher' | lang }}</h3>
            <h3 ng-if="role == 'I'" class="role">{{ 'institution' | lang }}</h3>
        </div>
    </div>


    <div>
        <form action="changepassword" method="post">
            <input name="mail" type="hidden" value="{{mail}}" class="form-control profile-input">
            <label class="left">{{'change_passwors' | lang}}:</label>
            <input type="text" class="form-control profile-input" name="pass" required autofocus><br>
            <label>{{'confirm_password' | lang}}:</label>
            <input type="text" class="form-control profile-input" name="pass-conf"><br>
            <button type="submit" class="btn btn-primary" style="width: 200px;">
                {{'change_passwors' | lang}}
            </button>

        </form>
    </div>
    <br>
    <div>
        <form action="deleteacc" method="post">
            {{'terminate_account' | lang}}<br>
            <input name="mail" type="hidden" value="{{mail}}" class="form-control profile-input">
            <button type="submit" class="btn btn-primary" style="width: 200px;">
                {{'unsubscribe_account' | lang}}
            </button>
        </form>
    </div>
</div>