<div class="panel panel-default case-card-panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8">
                <p><i class="fa-solid fa-book" aria-hidden="true"></i> {{ 'title_colon' | translate }} <a ng-href="#!/cases/{{$ctrl.caseItem.id}}">{{$ctrl.caseItem.title}}</a></p>
                <p><i class="fa-solid fa-user" aria-hidden="true"></i> {{ 'author' | translate }}: {{$ctrl.formatAuthor()}}</p>
                <p ng-if="$ctrl.caseItem.authorEmail"><i class="fa-solid fa-envelope" aria-hidden="true"></i> {{ 'email' | translate }} <a ng-href="mailto:{{$ctrl.caseItem.authorEmail}}">{{$ctrl.caseItem.authorEmail}}</a></p>
                <p><i class="fa-solid fa-language" aria-hidden="true"></i> {{ 'language' | translate }}: {{$ctrl.getLanguageLabel()}}</p>
                <p><i class="fa-solid fa-eye" aria-hidden="true"></i> {{ 'visibility' | translate }}: {{ $ctrl.getVisibilityLabelKey() | translate }}</p>
                <p><i class="fa-solid fa-scale-balanced" aria-hidden="true"></i> {{ 'rights_status' | translate }}: {{ $ctrl.getRightsStatusLabelKey() | translate }}</p>
                <p><i class="fa-solid fa-certificate" aria-hidden="true"></i> {{ 'license' | translate }}: {{$ctrl.caseItem.licenseCode}}</p>
                <p ng-if="$ctrl.caseItem.attributionText"><i class="fa-solid fa-quote-left" aria-hidden="true"></i> {{ 'attribution_text' | translate }}: {{$ctrl.caseItem.attributionText}}</p>
                <p ng-if="$ctrl.isFunction($ctrl.onTogglePublic) && !$ctrl.caseItem.canBeSharedPublicly">
                    <i class="text-warning fa-solid fa-triangle-exclamation" aria-hidden="true"></i> {{ 'case_not_publicly_shareable' | translate }}
                </p>
                <p ng-if="$ctrl.caseItem.hasLaunchedDesignActivity">
                    <i class="text-warning fa-solid fa-triangle-exclamation" aria-hidden="true"></i> {{ 'case_cannot_delete_used_by_activity' | translate }}
                </p>
                <p ng-if="$ctrl.getContentUrl()"><i class="fa-solid fa-file-pdf" aria-hidden="true"></i> {{ 'ethical_cases_file' | translate }}: <a ng-href="{{$ctrl.getContentUrl()}}" target="_blank" rel="noopener noreferrer">{{ 'ethical_cases_open_file' | translate }}</a></p>
                <p ng-if="$ctrl.getDocumentProcessing()">
                    <i class="fa-solid fa-gears" aria-hidden="true"></i>
                    {{ 'ethical_cases_document_processing' | translate }}:
                    <span ng-class="$ctrl.getDocumentProcessingLabelClass()">
                        {{ $ctrl.getDocumentProcessingLabelKey() | translate }}
                    </span>
                    <span ng-if="$ctrl.getDocumentProcessing().status === 'completed' && $ctrl.getDocumentProcessing().pageCount">
                        {{ 'ethical_cases_document_processing_pages' | translate:{ count: $ctrl.getDocumentProcessing().pageCount } }}
                    </span>
                    <span class="text-danger" ng-if="$ctrl.getDocumentProcessing().status === 'failed' && $ctrl.getDocumentProcessing().errorMessage">
                        {{$ctrl.getDocumentProcessing().errorMessage}}
                    </span>
                </p>
            </div>
            <div class="col-sm-4">
                <div class="case-card-actions" ng-if="$ctrl.showActions">
                    <img class="locked-svg"
                         src="/assets/images/iconsets/gray-lineart/design-lock-active.svg"
                         alt="locked"
                         ng-show="$ctrl.caseItem.hasLaunchedDesignActivity">
                    <button ng-show="$ctrl.isFunction($ctrl.onView)" class="btn btn-default btn-sm" ng-click="$ctrl.onView($ctrl.caseItem)">
                        <i class="fa fa-eye"></i> {{ 'view' | translate }}
                    </button>
                    <button ng-show="$ctrl.isFunction($ctrl.onEdit)" class="btn btn-default btn-sm" ng-click="$ctrl.onEdit($ctrl.caseItem)">
                        <i class="fa fa-pencil"></i> {{ 'edit' | translate }}
                    </button>
                    <button ng-show="$ctrl.canDelete()" class="btn btn-danger btn-sm" ng-click="$ctrl.onDelete($ctrl.caseItem)">
                        <i class="fa fa-trash"></i> {{ 'delete' | translate }}
                    </button>
                    <button ng-show="$ctrl.canImport()" class="btn btn-default btn-sm" ng-click="$ctrl.onImport($ctrl.caseItem)">
                        <i class="fa fa-download"></i> {{ 'import_case_button_text' | translate }}
                    </button>
                    <div ng-show="$ctrl.canToggleVisibility()" style="margin-top: 1em" class="text-center">
                        <div toggle-switch ng-model="$ctrl.caseItem.public"
                             ng-click="$ctrl.onTogglePublic($ctrl.caseItem)"
                             class="ats-switch switch-primary d-inline-block">
                        </div>
                        <div class="small text-muted">{{ 'share_case' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
