<div class="panel panel-default" style="margin-top:1em">
    <div class="panel-body">
        <div class="form-group">
            <label for="questionText">{{ 'questionText' | translate }}</label>
            <input id="questionText" type="text" 
                   class="form-control" 
                   ng-class="{'input-warning': !$ctrl.question.q_text}" 
                   placeholder="{{ 'title' | translate }}" 
                   ng-model="$ctrl.question.q_text"
                   ng-change="$ctrl.validateItem()">
        </div>

        <div class="row">
            <div class="col-xs-3 text-right">
                <input type="text" 
                       class="form-control" 
                       ng-class="{'input-warning': !$ctrl.question.ans_format.l_pole}" 
                       placeholder="{{ 'left' | translate }}" 
                       ng-model="$ctrl.question.ans_format.l_pole" 
                       ng-blur="$ctrl.validateItem()">
            </div>
            <div class="col-xs-6 text-center">
                <button class="btn btn-default btn-sm" ng-click="$ctrl.removeScaleTick()">
                    <i class="fa-solid fa-minus"></i>
                </button>
                <i style="margin-left:1em" class="fa-regular fa-circle" ng-repeat="option in $ctrl.buildOptions($ctrl.question.ans_format.values)"></i>
                <button style="margin-left:1em" class="btn btn-default btn-sm" ng-click="$ctrl.addScaleTick()">
                    <i class="fa-solid fa-plus"></i>
                </button>
                <br>
                <small>{{ 'scale_values_text' | translate }}: 1-{{$ctrl.question.ans_format.values}}</small>
            </div>
            <div class="col-xs-3 text-left">
                <input type="text" 
                       class="form-control" 
                       ng-class="{'input-warning': !$ctrl.question.ans_format.r_pole}" 
                       placeholder="{{ 'right' | translate }}" 
                       ng-model="$ctrl.question.ans_format.r_pole"
                       ng-change="$ctrl.validateItem()">
            </div>
        </div>

        <div class="row" style="margin-top: 1em;">
            <div class="col-xs-12">
                <div class="checkbox">
                    <label>
                        <input
                            type="checkbox"
                            ng-model="$ctrl.question.ans_format.just_required"
                            ng-change="$ctrl.onJustificationRequiredChange()">
                        {{ 'justification_required_label' | translate }}
                    </label>
                </div>
            </div>
        </div>

        <div class="row" ng-if="$ctrl.question.ans_format.just_required">
            <div class="col-xs-12">
                <div class="checkbox">
                    <label>
                        <input
                            type="checkbox"
                            ng-model="$ctrl.question.ans_format.justification_minimum_length_required"
                            ng-change="$ctrl.onMinimumLengthRequiredChange()">
                        {{ 'ranking_justification_minlength_text' | translate }}
                    </label>
                </div>
                <div ng-if="$ctrl.question.ans_format.justification_minimum_length_required" style="margin-left: 1.5em; max-width: 220px;">
                    <label>{{ 'min_words_label' | translate }}</label>
                    <input
                        type="number"
                        class="form-control"
                        min="5"
                        ng-model="$ctrl.question.ans_format.min_just_length"
                        ng-model-options="{ debounce: { 'default': 250, 'blur': 0 } }"
                        ng-class="{'input-warning': $ctrl.question.ans_format.min_just_length < 5}"
                        ng-change="$ctrl.validateItem()">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <ng-transclude></ng-transclude>
    </div>      
</div>
