**/node_modules/
**/package-lock.json
!frontend/package-lock.json

**/Dockerfile
**/Dockerfile.production
**/Dockerfile.image-renewal

**/.gitignore
**/.gitkeep
**/.dockerignore

backend/config/config.js
backend/sessions/

#frontend/assets/js/**/*.min.js
#frontend/assets/minjs/**/*.min.js
frontend/assets/uploads/

!frontend/assets/js/dist/
!frontend/assets/css/dist/

#!frontend/assets/js/modules/teacher/bundled-teacher-admin.min.js
