backend/config/keys-n-secrets.js

frontend/assets/js/**/*.min.js
frontend/assets/minjs/**/*.min.js

node_modules/
frontend/assets/uploads/
sessions/
package-lock.json

Dockerfile
production.Dockerfile
image-renewal.Dockerfile

.gitignore
.gitkeep
.dockerignore
