backend/config/keys-n-secrets.js

frontend/assets/js/**/*.min.js
frontend/assets/minjs/**/*.min.js

node_modules/
frontend/assets/uploads/
sessions/

package-lock.json

# Generated frontend asset bundles
frontend/assets/css/assets-bundle.css
frontend/assets/css/assets-bundle.css.map
frontend/assets/js/assets-bundle.js

# testing logs
coverage/*