<!DOCTYPE html>
<html ng-app="Admin">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>EthicApp</title>
  <link rel="stylesheet" href="//cdn.quilljs.com/1.2.0/quill.snow.css" />
  <link rel="stylesheet" href="<%= asset('/assets/css/assets-bundle.css') %>">
  <script src="assets/libs/angular.min.js"></script>
  <script src="assets/libs/angular-nvd3.min.js"></script>
  <script type="text/javascript" src="assets/libs/ng-quill.min.js"></script>
  <script src="assets/js/StagesController.js"></script>
  <script src="assets/js/admin-ctrl.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="assets/libs/ngDialog.min.js"></script>
  <script src="<%= asset('/assets/js/assets-bundle.js') %>"></script>



</head>

<body ng-controller="AdminController">
  <!--TOP BAR-->
  <div class="top-bar-mini cflex" ng-hide="false">
    <div class="cf1">
      <a href="seslist" class="simple-margin-left">
        <h3 class="logo-bar app-title">EthicApp</h3>
      </a>
    </div>
    <div class="cf1 text-right margin-right-8 simple-padding-top" id="topbtnlist">
      <button class="btn btn-default btn-sm " ng-click="changeLang()">{{'langOther' | lang}}</button>
      <img src="assets/images/assorted/blanco.jpg" alt="No Carga"
        class="circle_profile cf1 text-right margin-right-8 simple-padding-top" ng-click="selectView('profile')">
      <strong class="margin-right-8"><a ng-click="selectView('profile')" style="color: white;"> {{'profile' | lang}}
        </a></strong>
      <a href="logout" class="text-white">
        <i class="fa fa-sign-out fa-2x"></i>
      </a>
    </div>
  </div>
  </div>
  <div>
    <div class="sidenav"> <!--Left side NAV BAR-->
      <div style="margin-top: 5em;">
        <a ng-click="selectView('')">{{'home' | lang}}</a>
        <a ng-click="selectView('launchActivity')">{{'launchActivity' | lang}}</a>
        <a ng-click="selectView('activities')">{{'activities' | lang}}</a>
        <a ng-click="selectView('designs')">{{'designs' | lang}}</a>
        <a ng-click="selectView('users')" ng-if="institution">{{'users' | lang}}</a>
        <a ng-click="selectView('institution')" ng-if="institution"> {{'institution'|lang}}</a>
        <a ng-click="selectView('institution_admin')" ng-if="super"> {{'institution'|lang}}</a>
        <a ng-click="selectView('user_admin')" ng-if="super">{{'users' | lang}}</a>
        <a href="super" ng-if="super"> {{'Administración'|lang}}</a>
      </div>
    </div>
    <div class="main_body vl"> <!--Right side-->
      <div class="container" style="margin-top: 3em;">

        <div ng-view="" ng-controller="TabsController"></div> <!--Ng view templates-->
      </div>
    </div>
  </div>
</body>

</html>