<div class="form-signin panel panel-default">
  <div class="panel-body">
    <%- include("partials/logo") %>
    <% if (welc) { %>
    <div class="row mb-1em" ng-show="welcomeMessage" id="welcome-message" data-welc="<%= welc %>">
      <p class="welcome-message">{{ welcomeMessage | translate }}</p>
    </div>
    <% } %>
    <div class="row">
      <form ng-submit="login()" class="form-horizontal" method="POST" name="formLogin" novalidate>
        <div class="form-group">
          <label for="email" class="col-sm-3 control-label">{{ "email" | translate }}</label>
          <div class="col-sm-8">
            <input class="form-control" ng-focus="clearBackendErrors()" type="email" ng-model="user.email" name="email" id="email" ng-required="true" autofocus />
            <div class="error-message" ng-show="formLogin.email.$error.required && formLogin.email.$touched" style="color: red;">
              {{ "email_required" | translate }}
            </div>
            <div class="error-message" ng-show="formLogin.email.$error.email && formLogin.email.$touched" style="color: red;">
              {{ "invalid_email" | translate }}
            </div>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-3 control-label">{{ "password" | translate }}</label>
          <div class="col-sm-8">
            <input class="form-control" ng-focus="clearBackendErrors()" type="password" ng-model="user.password" name="password" id="password" autocomplete="new-password" ng-required="true" ng-minlength="8" />
            <div class="error-message" ng-show="formLogin.password.$error.required && formLogin.password.$touched" style="color: red;">
              {{ "password_required" | translate }}
            </div>
            <div class="error-message" ng-show="formLogin.password.$error.minlength && formLogin.password.$touched" style="color: red;">
              {{ "min_length_password" | translate }}
            </div>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="form-group">
          <div class="error-message text-center" ng-show="backendError" style="color: red;">
            {{ backendErrorMessage | translate }}
          </div>
        </div>
        <div class="form-group text-center mb-1em">
          <button type="submit" ng-disabled="formLogin.$invalid" class="btn btn-primary" style="width:200px" id="register-btn">
            {{ "login" | translate }}
          </button>
        </div>
      </form>
      <div class="row text-center">
        <a href="/register">{{ "register" | translate }} </a> |
        <a href="/forgot">{{ "forgot_pass" | translate }}</a>
        <br />
        <a href="/google" role="button" class="btn btn-default" style="margin-top:1em;">
          <img style="width: 20px; margin-bottom: 3px; margin-right: 5px" alt="Google sign-in"
            src="assets/images/logos/google.png" />
          {{ "glogin" | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
<% if (ETHICAPP_BUILD_HASH) { %>
<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <p class="build-hash small text-muted mt-3">EthicApp Build: <%= ETHICAPP_BUILD_HASH %></p>
    </div>
  </div>
</div>
<% } %>
