<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>EthicApp</title>
        <script src="assets/libs/angular.min.js" defer></script>
        <script src="assets/libs/angular-sanitize.min.js" defer></script>
        <script src="assets/libs/angular-translate-2.18.4.min.js" defer></script>
        <script src="assets/libs/angular-translate-loader-static-files-2.18.4.min.js" defer></script>
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="<%= asset('/js/assets-bundle.js') %>" defer></script>
        <%- include('partials/favicon.ejs') %>
        <link rel="stylesheet" href="<%= asset('/css/assets-bundle.css') %>">
        <script src="assets/js/ngmodules/common/user_common.mjs" type="module" defer></script>
      </head>
<body>

<div class="middle-box large-box">
    <div class="logo">
        <img src="assets/images/logos/logo.png" alt="logo">
    </div>

    <h2 class="app-title">
        EthicApp
    </h2>
    <hr/>
    <br/>
    <form action="changepassword" method="post">
        <label class="line_labels">Ingrese su mail:
        <input  name="mail" type="text" class="grid-item line_input form-controll" required></label><br>
        <label class="line_labels">Cambiar Contraseña:
        <input type="text" class="grid-item line_input form-controll" name="pass" required autofocus></label><br>
        <label class="line_labels">Confirmar contraseña:
        <input type="text" class="grid-item line_input form-controll" name="pass-conf"></label><br><br>
        <button type="submit" class="btn btn-primary" style="width: 200px;">
            Cambiar Contraseña
        </button>
    </form>
    <br>
</div>
</body>
</html>