<!DOCTYPE html>
<html lang="es" ng-app="UserCommon">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>EthicApp</title>
  <link rel="stylesheet" href="//cdn.quilljs.com/1.2.0/quill.snow.css" />
  <script src="assets/libs/angular.min.js"></script>
  <script src="assets/libs/angular-sanitize.min.js" defer></script>
  <script src="assets/libs/angular-translate-2.18.4.min.js" defer></script>
  <script src="assets/libs/angular-translate-loader-static-files-2.18.4.min.js" defer></script>
  <script src="assets/libs/angular-nvd3.min.js"></script>
  <script src="assets/libs/ngDialog.min.js"></script>
  <script type="text/javascript" src="assets/libs/ng-quill.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
  <script src="<%= asset('/js/assets-bundle.js') %>"></script>
  <link rel="stylesheet" href="<%= asset('/css/assets-bundle.css') %>">
  <%- include('partials/favicon.ejs') %>
    <script src="assets/js/ngmodules/teacher/user_common.js" type="module" defer></script>
</head>

<body ng-controller="RegisterController">
  <div class="form-register panel panel-default">
    <div class="row logo" style="margin-top:-.5em">
      <img src="assets/images/logos/ethicapp-logo.png" alt="Logo">
    </div>
    <div class="row" style="margin-top:-2em">
      <form action="#" class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-12 text-center">
            <p>{{ "accounttype" | translate }}</p>
          </div>
          <div class="col-sm-12 text-center">
            <input type="radio" id="rad1" onchange="hideB(this)" name="rad" value="Personal" checked />
            <label for="rad1 control-label">
              {{ "personal" | translate }}
            </label>
            &nbsp;&nbsp;
            <input type="radio" id="rad2" onchange="hideA(this)" name="rad" value="Profesor" />
            <label for="rad2 control-label">{{ "Profesor" | translate }}</label>
          </div>
        </div>
        <% if(rc==1) {%>
          <div class="alert alert-info">
            {{ "domains_message" | translate }}
          </div>
          <% } %>
      </form>
    </div>
    <div class="row" style="padding:16px">
      <form ng-submit="registerUser()" method="post" id="form_user" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2">{{ "name" | translate }}:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" ng-model="name" autofocus />
            <div class="error-message" ng-show="nameError" style="color: red;">{{ nameError | translate }}</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2">{{ "lastname" | translate }}:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="lastname" ng-model="lastname" />
            <div class="error-message" ng-show="lastnameError" style="color: red;">{{ lastnameError }}</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2">RUT/DNI:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="rut" ng-model="rut"
              placeholder="{{ 'optional_parent' | translate }}" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
            <label>{{ "email" | translate }}</label>
          </div>
          <div class="col-sm-10">
            <input type="email" class="form-control" name="mail" ng-model="email" />
            <div class="error-message" ng-show="emailError" style="color: red;">{{ emailError }}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
            <label>{{ "gender" | translate }}:</label>
          </div>
          <div class="col-sm-10">
            <select name="sex" class="form-control" ng-model="sex" required>
              <option selected disabled>{{ "selectGender" | translate }}</option>
              <option value="F">{{ "female" | translate }}</option>
              <option value="M">{{ "male" | translate }}</option>
              <option value="O">{{ "other" | translate }}</option>
            </select>
            <div class="error-message" ng-show="genderError" style="color: red;">{{ genderError }}</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3">{{ "password" | translate }}</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="pass" ng-model="pass" />
            <div class="error-message" ng-show="passwordError" style="color: red;">{{ passwordError }}</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3">{{ "cpassword" | translate }}:</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="confPass" ng-model="confPass" />
            <div class="error-message" ng-show="confirmPasswordError" style="color: red;">{{ confirmPasswordError }}
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <div class="g-recaptcha" id="captcha" data-sitekey="{{ reCaptchaSiteKey }}" data-type="image">
          </div>
          <div class="error-message" ng-show="recaptchaError" style="color: red;">{{ recaptchaError }}</div>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary form-control" style="width:200px" id="register-btn">
            {{ "register" | translate }}
          </button>
        </div>
      </form>
    </div>

    <div id="form_teacher" class="row" style="display:none">
      <form action="teacher_account_request" style="margin-top:-2em" method="post" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2">{{ "institution" | translate }}:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="inst_name" required autofocus />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2">{{ "name" | translate }}:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2">{{ "lastname" | translate }}:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="lastname" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2">RUT/DNI:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="rut" placeholder="{{ 'optional_parent' | translate }}" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
            <label>{{ "ints_mail" | translate }}</label>
          </div>
          <div class="col-sm-10">
            <input type="email" class="form-control" name="mail" required />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
            <label>{{ "gender" | translate }}:</label>
          </div>
          <div class="col-sm-10">
            <select name="sex" class="form-control">
              <option value="F">{{ "female" | translate }}</option>
              <option value="M">{{ "male" | translate }}</option>
              <option value="O">{{ "other" | translate }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3">{{ "password" | translate }}</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="pass" id="password" />
            <span id="password-error" style="color: red;"></span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3">{{ "cpassword" | translate }}:</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="conf-pass" id="confirm-password" />
          </div>
        </div>

        <div class="form-group text-center">
          <div class="g-recaptcha" id="captcha2" data-sitekey="{{ reCaptchaSiteKey }}" data-type="image"></div>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary form-control" style="width:200px">
            {{ "sol_acc" | translate }}
          </button>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <p>{{ "alredy_acc" | translate }}</p>
      </div>
      <div class="col-sm-12 text-center">
        <a href="login" style="margin-top: 8px">{{
          "login_w_account" | translate
          }}</a>
      </div>
      <div class="col-sm-12 text-center" style="margin-top:1em" id="google_login">
        <a class="btn btn-default" href="/google" role="button" style="text-transform: none">
          <img style="width: 20px" style="margin-bottom: 3px; margin-right: 5px" alt="Google sign-in"
            src="assets/images/logos/google.png" />
          {{ "glogin" | translate }}
        </a>
      </div>
    </div>
  </div>
</body>

</html>

<script>
  function hideA(x) {
    if (x.checked) {
      document.getElementById("form_user").style.display = "none";
      document.getElementById("form_teacher").style.display = "initial";
      document.getElementById("google_login").style.display = "none";
    }
  }

  function hideB(x) {
    if (x.checked) {
      document.getElementById("form_teacher").style.display = "none";
      document.getElementById("form_user").style.display = "initial";
      document.getElementById("google_login").style.display = "initial";
    }
  }
  window.onload = function () {
    document.getElementById("rad1").checked = true;
    document.getElementById("rad2").checked = false;
  };
</script>

<script type="text/javascript">
  var onloadCallback = function () {
    var apiParams = angular.injector(['api-params']).get('apiParams');

    grecaptcha.render("captcha", {
      sitekey: apiParams.reCaptchaSiteKey,
    });
    grecaptcha.render("captcha2", {
      sitekey: apiParams.reCaptchaSiteKey,
    });
  };
</script>