<!DOCTYPE html>
<html lang="es" ng-app="UserCommon">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>EthicApp</title>
  <link rel="stylesheet" href="//cdn.quilljs.com/1.2.0/quill.snow.css" />
  <script src="assets/libs/angular.min.js"></script>
  <script src="assets/libs/angular-sanitize.min.js" defer></script>
  <script src="assets/libs/angular-translate-2.18.4.min.js" defer></script>
  <script src="assets/libs/angular-translate-loader-static-files-2.18.4.min.js" defer></script>
  <script src="assets/libs/angular-nvd3.min.js"></script>
  <script src="assets/libs/ngDialog.min.js"></script>
  <script type="text/javascript" src="assets/libs/ng-quill.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
  <script src="<%= asset('/js/assets-bundle.js') %>"></script>
  <link rel="stylesheet" href="<%= asset('/css/assets-bundle.css') %>">
  <%- include('partials/favicon.ejs') %>
  <script src="assets/js/ngmodules/teacher/user_common.mjs" type="module" defer></script>
</head>

<body ng-controller="RegisterController">
  <div class="form-register panel panel-default">
    <div class="row logo" style="margin-top:-.5em">
      <img src="assets/images/logos/ethicapp-logo.png" alt="Logo">
    </div>
    
    <!-- Selección de tipo de cuenta -->
    <div class="row" style="padding:16px" ng-init="user.accountType='Student'">
      <div class="form-group text-center">
        <p>{{ "accounttype" | translate }}</p>
        <input type="radio" id="rad_student" name="user.accountType" value="Student" ng-model="user.accountType" ng-checked="true"/>
        <label for="rad_student">{{ "student" | translate }}</label>
        <input type="radio" id="rad_teacher" name="user.accountType" value="Teacher" ng-model="user.accountType" />
        <label for="rad_teacher">{{ "teachers" | translate }}</label>
      </div>
    </div>

    <!-- Formulario Unificado -->
    <div class="row" style="padding:16px">
      <form ng-submit="registerUser()" method="post" name="formUser" class="form-horizontal" novalidate>
        
        <!-- Campos Específicos de Profesor -->
        <div class="form-group" ng-if="user.accountType === 'Teacher'">
          <label class="col-sm-2">{{ "institution" | translate }}:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="institution" ng-model="user.institution" ng-required="true" institution-required account-type="user.accountType" autofocus ng-minlength="3" />
            <div class="error-message" ng-show="formUser.institution.$error.institutionRequired && formUser.institution.$touched" style="color: red;">
              {{ "requiredInstiution" | translate }}
            </div>
            <div class="error-message" ng-show="formUser.institution.$error.minlength" style="color: red;">
              {{ "minLengthInstiution" | translate }}
            </div>
          </div>
        </div>

        <!-- Campos Comunes -->
        <div class="form-group">
          <label class="col-sm-2">{{ "name" | translate }}:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="firstname" ng-model="user.firstname" ng-required="true" ng-minlength="3" />
            <div class="error-message" ng-show="formUser.firstname.$error.required && formUser.firstname.$touched" style="color: red;">
              {{ "requiredName" | translate }}
            </div>
            <div class="error-message" ng-show="formUser.firstname.$error.minlength" style="color: red;">
              {{ "minLengthName" | translate }}
            </div>            
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2">{{ "lastname" | translate }}:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="lastname" ng-model="user.lastname" ng-required="true" />
            <div class="error-message" ng-show="formUser.lastname.$error.required && formUser.lastname.$touched" style="color: red;">
              {{ "requiredLastName" | translate }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2">
            <label>{{ "email" | translate }}</label>
          </div>
          <div class="col-sm-10">
            <input type="email" class="form-control" name="email" ng-model="user.email" ng-required="true"  ng-change="emailAlreadyExists = false"/>
            <div class="error-message" ng-show="formUser.email.$error.required && formUser.email.$touched" style="color: red;">
              {{ "requiredEmail" | translate }}
            </div>
            <div class="error-message" ng-show="emailAlreadyExists" style="color: red;">
              {{ "alreadyRegistredEmail" | translate }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2">
            <label>{{ "gender" | translate }}:</label>
          </div>
          <div class="col-sm-10">
            <select name="gender" class="form-control" ng-model="user.gender" ng-required="true">
              <option selected disabled>{{ "selectGender" | translate }}</option>
              <option value="F">{{ "female" | translate }}</option>
              <option value="M">{{ "male" | translate }}</option>
              <option value="O">{{ "other" | translate }}</option>
            </select>
            <div class="error-message" ng-show="formUser.gender.$error.required && formUser.gender.$invalid && (formUser.gender.$touched || formUser.gender.$dirty)" style="color: red;">
              {{ "requiredGender" | translate }}
            </div>
          </div>
        </div>        

        <!-- Campos de Contraseña -->
        <div class="form-group">
          <label class="col-sm-3">{{ "password" | translate }}</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="password" ng-minlength="8" ng-model="user.password" ng-required="true" />
            <div class="error-message" ng-show="formUser.password.$error.required && formUser.password.$invalid && (formUser.password.$touched || formUser.password.$dirty)" style="color: red;">
              {{ "requiredPassword" | translate }}
            </div>
            <div class="error-message" ng-show="formUser.password.$error.minlength && formUser.password.$invalid && (formUser.password.$touched || formUser.password.$dirty)" style="color: red;">
              {{ "minLengthPassword" | translate }}
            </div>            
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-3">{{ "cpassword" | translate }}:</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="confirm_password" ng-minlength="8" ng-model="user.confirm_password" match-field="user.password" ng-required="true" />
            <div class="error-message" ng-show="formUser.confirm_password.$error.required && formUser.confirm_password.$invalid && (formUser.confirm_password.$touched || formUser.confirm_password.$dirty)" style="color: red;">
              {{ "requiredConfirmPassword" | translate }}
            </div>
            <div class="error-message" ng-show="formUser.confirm_password.$error.matchField && formUser.confirm_password.$invalid && (formUser.confirm_password.$touched || formUser.confirm_password.$dirty)" style="color: red;">
              {{ "passwordsDontMatch" | translate }}
            </div>
          </div>
        </div>

        <div class="form-group text-center">
          <div class="g-recaptcha" id="captcha" data-sitekey="{{ reCaptchaSiteKey }}" data-type="image"></div>
          <div class="error-message" ng-show="recaptchaError" style="color: red;">
            {{ recaptchaError }}
          </div>
        </div>

        <div class="form-group text-center">
          <button type="submit" ng-disabled="formUser.$invalid" class="btn btn-primary form-control" style="width:200px" id="register-btn">
            {{ "register" | translate }}
          </button>
        </div>
      </form>
    </div>

    <!-- Login con Google -->
    <div class="row">
      <div class="col-sm-12 text-center">
        <p>{{ "alredy_acc" | translate }}</p>
      </div>
      <div class="col-sm-12 text-center">
        <a href="login" style="margin-top: 8px">{{ "login_w_account" | translate }}</a>
      </div>
      <div class="col-sm-12 text-center" style="margin-top:1em" id="google_login">
        <a class="btn btn-default" href="/google" role="button" style="text-transform: none">
          <img style="width: 20px; margin-bottom: 3px; margin-right: 5px" alt="Google sign-in"
            src="assets/images/logos/google.png" />
          {{ "glogin" | translate }}
        </a>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
  var onloadCallback = function () {
    var apiParams = angular.injector(['api-params']).get('apiParams');

    grecaptcha.render("captcha", {
      sitekey: apiParams.reCaptchaSiteKey,
    });
  };
</script>
</html>
