<!DOCTYPE html>
<html lang="es" ng-app="Role">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>EthicApp</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="assets/libs/angular.min.js"></script>
    <script src="assets/libs/angular-sanitize.min.js"></script>
    <script src="assets/libs/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="assets/libs/angular-ui-tree.min.js"></script>
    <script src="assets/libs/angular-timer.min.js"></script>
    <script src="assets/libs/socket.min.js"></script>
    <script src="assets/libs/angular-ui-notification.min.js"></script>
    <script src="assets/libs/angular-glue.min.js"></script>
    <script src="assets/libs/intro.min.js"></script>
    <script src="assets/libs/angular-intro.min.js"></script>
    <script src="assets/js/role-ctrl.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/minimal.css">
    <link rel="stylesheet" href="assets/css/angular-ui-tree.min.css">
    <link rel="stylesheet" href="assets/css/angular-ui-notification.min.css">
    <link rel="stylesheet" href="assets/css/introjs.css">
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>

    <div class="editor-container" ng-controller="RoleController">

        <div class="top-bar-mini cflex">
            <div class="cf1">
                <a href="seslist" class="simple-margin-left" id="seslistbtn">
                    <img src="assets/images/logos/logo.png" class="logo-bar">
                </a>
            </div>
            <div class="cf3 grow text-center simple-padding-top hscroll" ng-show="iteration > 0">
                <!--            <span ng-repeat="st in stages">-->
                <!--                <span class="label label-primary bg-black-alpha" ng-class="{'bg-yellow': st.id==currentStageId}">{{ 'stage' | lang}} {{ st.number }}</span>-->
                <!--                &lt;!&ndash; <span ng-hide="$last">→</span> &ndash;&gt;-->
                <!--            </span>-->
                <!--            <span class="label label-primary bg-black-alpha bg-yellow" ng-if="finished">{{ 'finished' | lang}}</span>-->
                <!--            <i class="fa fa-angle-right" ng-if="!finished"></i>-->
                <!-- <span class="pull-right margin-right-24" ng-show="sesSTime != null">
                <timer start-time="sesSTime">{{hours}}h {{minutes}}m {{seconds}}s</timer>
            </span> -->
            </div>
            <div class="cf1 text-right margin-right-8 simple-padding-top">
                <a href="#" class="text-white margin-right-8" ng-click="startTour()">
                    <i class="fa fa-info-circle fa-2x"></i>
                </a>
                <a href="logout" class="text-white">
                    <i class="fa fa-sign-out fa-2x"></i>
                </a>
            </div>
        </div>

        <div class="top-bar top-bar-tabs">
            <div class="qs-tabs" ng-show="iteration > 0 || myRole == 'P'">
                <div class="tab tab-text" ng-repeat="doc in documents"
                    ng-class="{active: selectedDocument == $index && showDoc}" ng-click="selectDocument($index)"
                    ng-attr-id="{{ 'tabd' + $index }}">
                    <i class="fa fa-book"></i> {{doc.title | limitTo:10}}
                </div>
                <div class="tab tab-text" ng-if="isJigsaw" ng-click="selectRoleDescr()" ng-class="{active: showRole}">
                    <i class="fa fa-user"></i> {{ 'role' | lang }}
                </div>
                <div class="tab tab-text" ng-repeat="st in stages"
                    ng-class="{active: (selectedStage == $index && (!showDoc || documents.length==0))||(st.id==currentStageId && selectedStage==null) , 'green': st.id != currentStageId, 'yellow': st.id == currentStageId}"
                    ng-click="selectStage($index)" ng-attr-id="{{ 'tabq' + $index }}">
                    <i class="fa fa-question-circle"></i> {{ 'stage' | lang }} {{st.number}} <span class="badge bg-red"
                        ng-show="st.c != null && st.c > st.cr">{{st.c - st.cr}}</span>
                </div>
            </div>
        </div>

        <div class="scrollable-container blue">
            <div class="mid-container qs-content simple-pad">
                <div class="boxed" ng-show="iteration > 0 && showDoc">
                    <div>
                        <h3>{{documents[selectedDocument].title}}</h3>
                        <div>
                            <div class="flex-justify-center mt-n2 mb-medio">
                                <button class="btn btn-sm text-white bg-ethicapp"
                                    ng-click="openPDFInNewTab(documents[selectedDocument].path)">{{'openInNewTab'|lang}}</button>
                            </div>
                            <iframe ng-src="{{getDocURL()}}" class="pdf-embed">
                            </iframe>
                        </div>
                    </div>
                </div>
                <div ng-show="showRole">
                    <h4>{{ 'roleAssigned' | lang }}: {{ jigsawMap[myJigsaw].name }}</h4>
                    <div class="bordered role-box">
                        {{ jigsawMap[myJigsaw].description }}
                    </div>
                    <strong>{{ 'roles' | lang }}: </strong>
                    <span ng-repeat="j in jroles">{{ j.name }} - </span>
                </div>
                <div ng-show="iteration > 0 && (!showDoc || documents.length==0) && !showRole">
                    <div class="differential margin-top-n12">
                        <h5 class="flex-justify-center mb-2">
                            <strong>{{'question'|lang}}: </strong><span class="ml-1">{{stages[selectedStage].question}}</span>
                        </h5>
                        <div class="row" ng-if="stages[selectedStage].id == currentStageId">
                            <div
                                class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                                <div ui-tree data-max-depth="1">
                                    <div class="container-div" ui-tree-nodes="" ng-model="actors">
                                        <div class="rounded-div border-gray mb-2" ng-repeat="actor in actors"
                                            ui-tree-node>
                                            <div class="row">
                                                <div class="col-xs-2 col-sm-1" ng-if="selectedActor != null">
                                                </div>
                                                <div class="col-xs-6 col-sm-8 col-md-8 mh30 ml-1" ui-tree-handle
                                                    style="cursor: grab;">
                                                    <i class="fa fa-bars"></i>
                                                    <strong class="ml-1">{{ $index + 1 }}. {{ actor.name }}</strong>
                                                </div>
                                                <div class="text-right mr-1">
                                                    <button class="btn btn-md bg-ethicapp text-white"
                                                        ng-mousedown="$event.preventDefault(); selectActor($index)"
                                                        ng-class="{'bg-green': actor.sent }"
                                                        ng-if="actor.justified || actor.jorder">
                                                        <i
                                                            ng-class="{'fa fa-edit': !selectedActor, 'fa fa-chevron-up fa-ml-1': selectedActor === $index, 'fa fa-chevron-down fa-ml-1': selectedActor !== $index}"></i>
                                                    </button>
                                                </div>
                                                <div
                                                    ng-if="selectedActor == $index && stages[selectedStage].id == currentStageId">
                                                    <div class="row flex-justify-start">
                                                        <div class="text-white word-count-df word-count-df-bg ml-3"
                                                            ng-class="{'bg-red': wordCount(actors[selectedActor].comment) < actors[selectedActor].word_count, 'border-word-count-red': wordCount(actors[selectedActor].comment) < actors[selectedActor].word_count, 'border-word-count-blue': wordCount(actors[selectedActor].comment) >= actors[selectedActor].word_count }">
                                                            <span>{{ wordCount(actors[selectedActor].comment)
                                                                }}</span>
                                                            <span ng-if="actors[selectedActor].word_count"
                                                                style="font-size: 80%; margin-left: 0.5rem; margin-right: 0.5rem;">de</span>
                                                            <span ng-if="actors[selectedActor].word_count">{{
                                                                actors[selectedActor].word_count }}</span>
                                                        </div>


                                                    </div>
                                                    <div class="col-xs-12">
                                                        <textarea type="text" class="form-control text-comment-input"
                                                            placeholder="{{getPlaceholder()}}"
                                                            ng-model="actors[selectedActor].comment"
                                                            ng-change="actors[selectedActor].dirty = true"
                                                            ng-disabled="selectedActor == null">
                                                                                                                </textarea>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <span class="input-group-addon hoverable"
                                                            ng-disabled="finished || !actors[selectedActor].dirty || selectedActor == null"
                                                            ng-click="sendActorSel()">
                                                            <div ng-if="actor.sent">
                                                                <i class="fa fa-check"></i>
                                                                <span>Enviado</span>
                                                            </div>
                                                            <div ng-if="!actor.sent">
                                                                <i class="fa fa-save"></i>
                                                                <span>Guardar</span>
                                                            </div>
                                                        </span>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="stages[selectedStage].id != currentStageId">
                            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                                <div>
                                    <div class="list-group" ng-model="actors">
                                        <div class="list-group-item drag-item justify-left"
                                            ng-repeat="actor in actorsPrev"
                                            ng-class="{'deep-blue': selectedActorPrev == $index}">
                                            <div class="row min-w-16">
                                                <div class="col-xs-2 col-sm-1 h30 text-center">
                                                    {{$index + 1}}.
                                                </div>
                                                <div class="col-xs-6 col-sm-7 mh30">
                                                    <strong>{{ actor.name }}</strong>
                                                </div>
                                                <div class="col-xs-4 text-right">
                                                    <button class="btn btn-default btn-sm"
                                                        ng-click="actor.expanded = !actor.expanded"
                                                        ng-if="actor.justified && actor.comment != ''">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div ng-show="!actor.expanded">
                                                <div class="col-xs-12 ml-2 mt-medio">
                                                    {{ actor.comment }}
                                                </div>
                                            </div>
                                        </div>
                                        <!--                            <span class="text-gray center-block text-center" ng-show="selections.length > 0">Menos importante</span>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-24" ng-if="stages[selectedStage].id == currentStageId">
                            <div class="col-xs-12 text-center">
                                <button class="btn btn-default" ng-click="sendActorSel(true)">
                                    <i class="fa fa-check" ng-show="verified"></i>
                                    <i class="fa fa-send" ng-show="!verified"></i>
                                    <span ng-show="!verified">Por Enviar</span>
                                    <span ng-show="verified">Enviado</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div ng-if="stages[selectedStage].id == currentStageId && prevRes != null">
                        <div ng-repeat="res in prevRes">
                            <hr>
                            <h3>{{ 'stage' | lang }} {{ stagesMap[prevStages[$index]].number }}</h3>
                            <div ng-repeat="(uid, arr) in res">
                                <h4 class="anon-badge">{{ teamMap[uid] }}</h4>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                                        <div>
                                            <div class="list-group">
                                                <div class="list-group-item drag-item" ng-repeat="actor in arr">
                                                    <div class="row">
                                                        <div class="col-xs-2 col-sm-1 h30 text-center">
                                                            {{$index + 1}}.
                                                        </div>
                                                        <div class="col-xs-6 col-sm-7 mh30">
                                                            <strong>{{ actor.name }}</strong>
                                                        </div>
                                                        <div class="col-xs-4 text-right">
                                                            <button class="btn btn-default btn-sm"
                                                                ng-click="actor.expanded = !actor.expanded"
                                                                ng-if="actor.description">
                                                                <i class="fa fa-eye"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row" ng-show="actor.expanded">
                                                        <div class="col-xs-12">
                                                            {{ actor.description }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        ng-if="stages[selectedStage].id != currentStageId && stages[selectedStage].type == 'team' && prevResPrev != null">
                        <div ng-repeat="res in prevResPrev">
                            <hr>
                            <h3>{{ 'stage' | lang }} {{ stagesMap[prevStagesPrev[$index]].number }}</h3>
                            <div ng-repeat="(uid, arr) in res">
                                <h4 class="anon-badge">{{ teamMapPrev[uid] }}</h4>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                                        <div>
                                            <div class="list-group">
                                                <div class="list-group-item drag-item" ng-repeat="actor in arr">
                                                    <div class="row">
                                                        <div class="col-xs-2 col-sm-1 h30 text-center">
                                                            {{$index + 1}}.
                                                        </div>
                                                        <div class="col-xs-6 col-sm-7 mh30">
                                                            <strong>{{ actor.name }}</strong>
                                                        </div>
                                                        <div class="col-xs-4 text-right">
                                                            <button class="btn btn-default btn-sm"
                                                                ng-click="actor.expanded = !actor.expanded"
                                                                ng-if="actor.description">
                                                                <i class="fa fa-eye"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row" ng-show="actor.expanded">
                                                        <div class="col-xs-12">
                                                            {{ actor.description }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div ng-show="stages[selectedStage].chat">
                        <div class="chat-inv"></div>
                        <div class="chat-container">
                            <div class="chat chat-border">
                                <div class="text-center chat-label-background">Chat</div>
                                <div class="chat-area" scroll-glue ng-show="chatExp"
                                    ng-if="stages[selectedStage].id == currentStageId">
                                    <strong ng-show="chatMsgs[currentStageId].length == 0">Chat</strong>
                                    <div class="chat-msg" ng-repeat="msg in chatMsgs[currentStageId]"
                                        ng-class="{'bg-gray': chatmsgreply == msg.id}">
                                        <div class="font-mini parent-msg" ng-show="msg.parent != null">
                                            <div class="anon-badge margin-left-n8">{{ teamMap[msg.parent.uid] }}</div>
                                            <span class="content"
                                                ng-bind-html="msg.parent.content | limitTo:100 | linkfy"></span>
                                        </div>
                                        <i class="fa fa-reply" ng-show="msg.parent != null"></i>
                                        <div class="anon-badge"
                                            ng-class="{'margin-left-n8': msg.parent == null, 'simple-margin-left': msg.parent != null}">
                                            {{ teamMap[msg.uid] }}</div>
                                        <span class="pull-right font-mini text-right">
                                            <span class="text-muted">{{msg.stime | date:'HH:mm dd-MM-yy'}}</span>
                                            <br>
                                            <a ng-click="setReply(msg)">{{'reply' | lang}}</a>
                                        </span>
                                        <span class="content" ng-bind-html="msg.content | linkfy"></span>
                                    </div>
                                </div>
                                <div class="chat-area" scroll-glue ng-show="chatExp"
                                    ng-if="stages[selectedStage].id != currentStageId">
                                    <strong ng-show="chatMsgsPrev[currentStageId].length == 0">Chat</strong>
                                    <div class="chat-msg" ng-repeat="msg in chatMsgsPrev[stages[selectedStage].id]">
                                        <div class="font-mini parent-msg" ng-show="msg.parent != null">
                                            <div class="anon-badge margin-left-n8">{{ teamMapPrev[msg.parent.uid] }}
                                            </div>
                                            <span class="content"
                                                ng-bind-html="msg.parent.content | limitTo:100 | linkfy"></span>
                                        </div>
                                        <i class="fa fa-reply" ng-show="msg.parent != null"></i>
                                        <div class="anon-badge"
                                            ng-class="{'margin-left-n8': msg.parent == null, 'simple-margin-left': msg.parent != null}">
                                            {{ teamMapPrev[msg.uid] }}</div>
                                        <span class="pull-right font-mini text-right">
                                            <span class="text-muted">{{msg.stime | date:'HH:mm dd-MM-yy'}}</span>
                                        </span>
                                        <span class="content" ng-bind-html="msg.content | linkfy"></span>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="chatExp = !chatExp">
                                            <i class="fa fa-arrow-up" ng-show="!chatExp"></i>
                                            <i class="fa fa-arrow-down" ng-show="chatExp"></i>
                                        </button>
                                        <button class="btn btn-primary" ng-show="chatmsgreply != null"
                                            ng-disabled="finished || stages[selectedStage].id != currentStageId"
                                            ng-click="setReply(null)">
                                            <i class="fa fa-reply"></i>
                                        </button>
                                    </span>
                                    <input type="text" class="form-control" ng-model="chatmsg"
                                        ng-disabled="finished || stages[selectedStage].id != currentStageId"
                                        id="chat-input" ng-keydown="$event.keyCode === 13 && sendChatMsg()"
                                        placeholder="Enviar mensaje...">
                                    <!--  <ng-quill-editor ng-model="newText.content" class="large" ng-class="{'quill-disabled': selectedSes.status!=1}"></ng-quill-editor>-->
                                    <span class="input-group-btn">
                                        <button class="btn btn-default"
                                            ng-disabled="finished || stages[selectedStage].id != currentStageId"
                                            ng-click="sendChatMsg()">
                                            <i class="fa fa-send"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
            </div>
            <br>
        </div>

        <div class="splash" ng-if="iteration <= 0">
            <div class="splash-box">
                <h3><i class="fa fa-clock-o"></i> Sesión en espera</h3>
                <h5>Espere a que el profesor indique el inicio de la actividad.</h5>
                <h5>Esta página se recargará automáticamente cuando comience.</h5>
            </div>
        </div>

    </div>

</body>