<!DOCTYPE html>
<html lang="es" ng-app="Rubrica">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>EthicApp</title>
    <script src="assets/libs/angular.min.js"></script>
    <script src="assets/libs/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="assets/libs/angular-timer.min.js"></script>
    <script src="assets/libs/socket.min.js"></script>
    <script src="assets/js/rubrica-ctrl.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="<%= asset('/css/assets-bundle.css') %>">
</head>
<body class="bg-white">

<div ng-controller="RubricaController">

    <div class="top-bar-mini cflex">
        <div class="cf1">
            <a href="seslist" class="simple-margin-left">
                <img src="assets/images/logos/logo.png" class="logo-bar">
            </a>
        </div>
        <div class="cf3 grow text-center simple-padding-top hscroll" ng-show="iteration > 0">
            <span ng-repeat="st in sesStatusses">
                <span class="label label-primary bg-black-alpha" ng-class="{'bg-yellow': $index==iteration - 3*miters}">{{st}}</span>
                <!-- <span ng-hide="$last">→</span> -->
            </span>
            <i class="fa fa-angle-right"></i>
            <!-- <span class="pull-right margin-right-24" ng-show="sesSTime != null">
                <timer start-time="sesSTime">{{hours}}h {{minutes}}m {{seconds}}s</timer>
            </span> -->
        </div>
        <div class="cf1 text-right margin-right-8 simple-padding-top">
            <a href="logout" class="text-white">
                <i class="fa fa-sign-out fa-2x"></i>
            </a>
        </div>
    </div>

    <div class="top-bar top-bar-tabs">
        <div class="qs-tabs" ng-show="iteration > 0 || myRole == 'P'">
            <div class="tab tab-text" ng-repeat="report in reports"  ng-class="{active: $index==selectedIndex, green: report.status == 'SENT'}"
                 ng-click="selectReport($index)">
                Reporte {{$index + 1}}
            </div>
            <div class="btab"></div>
            <div class="rtab">
                <a class="btn btn-sm btn-default pull-right margin-right-8" href="semantic" ng-if="iteration >= 7"><i class="fa fa-external-link"></i></a>
                <button class="btn btn-sm btn-default pull-right margin-right-8" ng-if="iteration < 7" ng-click="finishState()" ng-class="{'btn-success': hasFinished || finished}" ng-hide="myRole == 'P' && iteration > 0">
                    <i class="fa fa-check"></i></button>
            </div>
            <!-- <button disabled class="btn btn-sm btn-default flat pull-right margin-right-8" ng-show="iteration == 3 && !followLeader"><i class="fa fa-star"></i></button>
            <button class="btn btn-sm btn-default flat pull-right margin-right-8" ng-show="iteration == 3 && followLeader" ng-click="takeControl()"><i class="fa fa-level-down"></i></button>
            <a class="btn btn-sm btn-default flat pull-right" ng-show="iteration > 6" href="rubrica"><i class="fa fa-list-alt"></i></a> -->
        </div>
    </div>

    <!-- <div class="row top-bar-mini">
        <div class="text-center">
            <span ng-repeat="st in sesStatusses">
                <span class="label label-primary" ng-class="{'bg-black-alpha': $index==iteration - 3*miters}" ng-bind="st"></span>
                <span ng-hide="$last">→</span>
            </span>
            <span class="pull-right margin-right-24" ng-show="sesSTime != null">
                <timer start-time="sesSTime">{{hours}}h {{minutes}}m {{seconds}}s</timer>
            </span>
        </div>
    </div>

    <div class="top-bar-mini">
        <strong class="simple-margin-left">Factor detonante: </strong>
        <span ng-bind="sesDescr"></span>
    </div>

    <div class="row top-bar top-bar-student">
        <div class="col-sm-6 full-height">
            <span class="simple-margin-left" ng-show="iteration == 6">Reportes: </span>
            <span ng-repeat="report in reports" class="side-top-btn" ng-class="{'active': $index==selectedIndex}"
                  ng-click="selectReport($index)" ng-show="iteration == 6">
                Reporte {{$index + 1}}
            </span>
            <!--<strong class="pull-right margin-top-8" ng-bind="iterationNames[iteration]"></strong>--
        </div>
        <div class="col-sm-6">
            <a onclick="window.history.back()" class="btn btn-sm btn-default pull-right">Atrás</a>
        </div>
    </div> -->

    <div class="scrollable-container blue">
    <div class="mid-container qs-content simple-pad">
    <div class="row"  ng-if="report != null">
        <div class="col-sm-4">
            <div class="report">
                <h3 ng-show="iteration < 7">Reporte</h3>
                <h3 ng-show="iteration == 7">Mi Reporte</h3>
                <p class="text-justify" ng-bind="report.content"></p>
            </div>
            <br>
            <hr>
        </div>
        <div class="col-sm-8">
            <!--<h3>Instrucciones:</h3>
            <div ng-bind="instructions[iteration]"></div>
            <hr>-->
            <div class="rubrica" ng-show="iteration < 7">
                <h3>Rúbrica</h3>
                <table class="table table-bordered">
                    <tr>
                        <th>Criterio</th>
                        <th>1p</th>
                        <th>2p</th>
                        <th>3p</th>
                        <th>4p</th>
                    </tr>
                    <tr ng-repeat="criterio in criterios">
                        <td>{{criterio.name}}
                            <a href="#"><i class="fa fa-pencil-square-o" ng-click="openCriterio(criterio)"></i></a>
                        </td>
                        <td ng-class="{active: report.select[criterio.id] == 1, clickable: canAnswer && !finished}">
                            <i class="fa fa-check" ng-show="report.truev[criterio.id] == 1"></i> <span>{{criterio.inicio | limitTo:3}}</span>
                        </td>
                        <td ng-class="{active: report.select[criterio.id] == 2, clickable: canAnswer && !finished}">
                            <i class="fa fa-check" ng-show="report.truev[criterio.id] == 2"></i> <span>{{criterio.proceso | limitTo:3}}</span>
                        </td>
                        <td ng-class="{active: report.select[criterio.id] == 3, clickable: canAnswer && !finished}">
                            <i class="fa fa-check" ng-show="report.truev[criterio.id] == 3"></i> <span>{{criterio.competente | limitTo:3}}</span>
                        </td>
                        <td ng-class="{active: report.select[criterio.id] == 4, clickable: canAnswer && !finished}">
                            <i class="fa fa-check" ng-show="report.truev[criterio.id] == 4"></i> <span>{{criterio.avanzado | limitTo:3}}</span>
                        </td>
                    </tr>
                </table>
                <h4>Comentario:</h4>
                <textarea class="form-control" ng-model="report.comment" ng-disabled="!canAnswer || finished" rows="4" ng-change="report.dirty = true"></textarea>
                <span class="red" ng-show="commentError">Debe agregar un comentario de la evaluación</span>
                <button class="pull-right btn btn-default" ng-click="sendSelection(report)" ng-disabled="!checkCriteria(report) || !canAnswer || !report.dirty || finished">
                    <i class="fa fa-send" ng-show="report.dirty"></i>
                    <i class="fa fa-check" ng-show="!report.dirty"></i>
                    Enviar
                </button>
                <div class="row"></div>
            </div>
            <div ng-show="iteration == 7">
                <h3>Respuestas:</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="ans in answers">
                        <strong>Respuesta {{$index + 1}}. Puntaje: {{ans.val | number:2}} / 4</strong>
                        <p ng-bind="ans.com"></p>

                        <table class="table table-bordered font-mini">
                            <tr>
                                <th>Criterio</th>
                                <th>1p</th>
                                <th>2p</th>
                                <th>3p</th>
                                <th>4p</th>
                            </tr>
                            <tr ng-repeat="criterio in criterios">
                                <td>{{criterio.name}}
                                    <a href="#"><i class="fa fa-eye" ng-click="openCriterio(criterio, answersRubrica[ans.uid][criterio.id])"></i></a>
                                </td>
                                <td ng-class="{active: answersRubrica[ans.uid][criterio.id] == 1}">{{criterio.inicio | limitTo:3 }}</td>
                                <td ng-class="{active: answersRubrica[ans.uid][criterio.id] == 2}">{{criterio.proceso | limitTo:3 }}</td>
                                <td ng-class="{active: answersRubrica[ans.uid][criterio.id] == 3}">{{criterio.competente | limitTo:3}}</td>
                                <td ng-class="{active: answersRubrica[ans.uid][criterio.id] == 4}">{{criterio.avanzado | limitTo:3}}</td>
                            </tr>
                        </table>

                    </li>
                </ul>
                <strong>Promedio: {{getAvg() | number:2}} / 4</strong>
                <br>
                <br>
            </div>
            <br>
            <br>
        </div>
    </div>
    </div>
    </div>

</div>



</body>
</html>