<!DOCTYPE html>
<html lang="es" ng-app="SesList">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>EthicApp</title>
    <script src="assets/libs/angular.min.js"></script>
    <script src="assets/libs/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <!-- <script src="assets/js/ses-ctrl.js"></script> -->
    <script src="assets/libs/socket.min.js"></script>
    <script src="assets/libs/intro.min.js"></script>
    <script src="assets/libs/angular-intro.min.js"></script>
    <script src="assets/libs/ua-parser.min.js"></script>
    <script src="assets/js/ses-ctrl.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/introjs.css">
    <link rel="stylesheet" href="assets/css/main.css"/>
</head>
<body>

<div ng-controller="SesListController">


    <div class="top-bar-mini cflex">
        <div class="cf1">
            <a href="seslist" class="simple-margin-left">
                <img src="assets/images/logos/logo.png" class="logo-bar">
            </a>
        </div>

        <div class="cf1 text-right margin-right-8 simple-padding-top" id="topbtnlist">
            <a href="#" class="text-white margin-right-8" ng-click="startTour()">
                <i class="fa fa-info-circle fa-2x"></i>
            </a>
            <a href="logout" class="text-white">
                <i class="fa fa-sign-out fa-2x"></i>
            </a>
        </div>
    </div>
    <!--
        TABS & Lang  {{'Enter'|mylang}}
    -->
    <div class="top-bar top-bar-tabs">
        <div class="qs-tabs">
            <div class="tab tab-text tab-text-lg" id="seslistdiv" ng-click= "changeTab(true)" ng-class="{'active': !currTab}">
                {{'enter_code'|mylang}}
            </div>
            <div class="tab tab-text tab-text-lg" id="seslistdiv" ng-click = "changeTab(false)" ng-class="{'active': currTab}">
                {{'myActivities'|mylang}}
            </div>
            <div class="pull-right text-white">
                <strong class="margin-right-8"><a href="profile" style="color: white;">{{ username }}</a></strong>
                <button class="btn btn-sm btn-default flat" ng-click="changeLang()" id="changelang">
                    {{'langOther' | mylang}}
                </button>
            </div>
        </div>
    </div>
 
    <!--
        TAB Join Code
    -->
    <div ng-show = "!currTab" style= "display: flex;justify-content: center; align-items: center;" > 
        <div class="container" style ="border-style: ridge; ">
            <div class="row">
                <div class="col text-center">
                    <br>
                    <p>{{'enterCodeAct'|mylang}}</p>
                    <br>
                    <input type = "text" ng-model="invCode" id="codebox"
                    ng-keydown="$event.keyCode === 13 && enterCode()" placeholder="{{'enter_code'|mylang}}" style="height:85px; width:240px; font-size: 27px; text-align: center;">
                    <span>
                        <br>
                        <br>

                        <button class="btn btn-primary" ng-disabled="invCode == ''" ng-click="enterCode()" style="width:17em"
                            id="codeboxbtn">
                            {{'enter'|mylang}}
                        </button>
                        <br>
                        <br>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--
        TAB My activities
    -->
    <div class="scrollable-container white" style="border-style: ridge;" ng-show="currTab">
        <div class="qs-tabs">
            <div class="tab tab-text tab-text-lg" id="seslistdiv" ng-click= "changeTypeTab(true)" ng-class="{'active': !sesTypeTab}">
                {{'current'|mylang}}
            </div>
            <div class="tab tab-text tab-text-lg" id="seslistdiv" ng-click = "changeTypeTab(false)" ng-class="{'active': sesTypeTab}">
                {{'completed'|mylang}}
            </div>
        </div>
        <div class="list-group pad-content">
            <div class="list-group-item" ng-repeat="ses in currentSessions()">
                <h4 class="list-group-item-heading" ng-bind="ses.name"></h4>
                <p class="list-group-item-text" ng-bind="ses.descr"></p>
                <p class="list-group-item-text">{{'launched'|mylang}} {{ses.time | date}}</p>
                <p class="list-group-item-text">{{'code'|mylang}} {{ses.code}}</p>
                <div class="text-right">
                    <a href="{{routes[ses.type]}}?sesid={{ses.id}}"><button class="btn btn-primary ">{{'gotoActivity'|mylang}}</button></a>
                </div>
            </div>
            
        </div>
    </div>



</div>

</body>
</html>
