.ethicapp-logo-topbar-img {
  height: 48px;
  max-width: 180px;
  object-fit: contain;
}

.nested-card:hover {
  transform: translateY(-2px);
  transition: all 0.15s ease;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  cursor: pointer;
}