<!DOCTYPE html>
<html ng-app="Admin">
<head>
    <meta charset="UTF-8">
    <title>EthicApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="assets/css/nv.d3.min.css">
    <link rel="stylesheet" href="assets/css/angular-ui-notification.min.css">
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.0/quill.snow.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.css">
    <link rel="stylesheet" href="assets/css/tablesort.min.css">
    <link rel="stylesheet" href="assets/css/main.css"/>
    <script src="assets/libs/angular.min.js"></script>
    <script src="assets/libs/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="assets/libs/katex.min.js"></script>
    <script src="assets/libs/angular-bootstrap-multiselect.js"></script>
    <script src="assets/libs/d3.min.js"></script>
    <script src="assets/libs/nv.d3.min.js"></script>
    <script src="assets/libs/angular-nvd3.min.js"></script>
    <script src="assets/libs/ng-map.min.js"></script>
    <script type="text/javascript" src="assets/libs/quill.min.js"></script>
    <script type="text/javascript" src="assets/libs/ng-quill.min.js"></script>
    <script src="assets/libs/socket.min.js"></script>
    <script src="assets/libs/angular-timer.min.js"></script>
    <script src="assets/libs/angular-ui-notification.min.js"></script>
    <script src="assets/libs/save-csv.min.js"></script>
    <script src="assets/libs/angular-tablesort.min.js"></script>
    <script src="assets/js/StagesController.js"></script>
    <script src="assets/js/admin-ctrl.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/libs/angular-route.js"></script>
    
</head>
<body ng-controller="instituciones">

    <div style="max-width: 640px;display: block;padding: 4px 24px 20px 24px;border-color: gray;border-width: 10px;border-width: 5px;border-style: solid;margin: 20px auto;"> <div style="text-align: center;margin-bottom: 2em;margin-top: 2em;"><img src="assets/img/ethicapp-logo.svg" alt="Ethicapp"> </div>Hi<br><br>Have you lost your password? You can restore it in the following link:<br><br> <div style="text-align: center;"> <a href="http://localhost:8501/passreset"> <button style="background-color: #2649EC;border-color: #102AA0;color: white;"> Restore Password</button> </a></div> <br><br>greetings<br><br>Creators of EthicApp</div>

    <div style="max-width: 640px;display: block;padding: 4px 24px 20px 24px;border-color: gray;border-width: 10px;border-width: 5px;border-style: solid;margin: 20px auto;"> <div style="text-align: center;margin-bottom: 2em;margin-top: 2em;"><img src="assets/img/ethicapp-logo.svg" alt="Ethicapp"> </div>En un plazo de 24 a 48 horas hábiles quedará habilitada tu cuenta.<br>Te enviaremos un correo con los pasos a seguir.</div>

    <div style="max-width: 640px;display: block;padding: 4px 24px 20px 24px;border-color: gray;border-width: 10px;border-width: 5px;border-style: solid;margin: 20px auto;"><div style="text-align: center;margin-bottom: 2em;margin-top: 2em;"><img src="assets/img/ethicapp-logo.svg" alt="Ethicapp"> </div>Hola '+name  +'<br>Bienvenido a EthicApp. Has sido invitado a incorporarte a EthicApp por [nombre usuario institucional]'+ 
        'de [institución]. Para aceptar la invitación, pincha el siguiente botón:<br><br><div style="text-align: center;"><a href="http://localhost:8501/login?rc=5&&tok='+token+'">'+ 
        '<button style="background-color: #2649EC;border-color: #102AA0;color: white;"> Activar tu Cuenta</button> </a></div> <br><br>'+
        'Te recordamos que en EthicApp usamos los datos generados por los usuarios con fines de investigación. <br><br>'+
        'Garantizamos la absoluta confidencialidad de los datos, y que los datos no los entregamos a terceras partes. En nuestras investigaciones reportamos los datos siempre a nivel agregado y nunca a nivel individual, ni revelando la identidad de los participantes. Las actividades basadas en EthicApp no presentan ningún riesgo físico o psicológico a docentes o a estudiantes. <br><br>'+
        'EthicApp se reserva el derecho de suspender o terminar cuentas de usuario en caso que se detecte uso indebido del servicio. <br><br>'+
        '<strong>Activando tu cuenta a través del botón de arriba manifiestas tu aceptación de las condiciones antes descritas.</strong> <br><br>'+
        'Te deseamos el mayor éxito en tus actividades con EthicApp.<br><br>Creadores de EthicApp <br><br>'+
        'ESTE SOFTWARE SE SUMINISTRA POR LA UNIVERSIDAD DE CHILE, CHILE Y LA UNIVERSIDAD DE LOS ANDES, CHILE. EN NINGÚN CASO LAS INSTITUCIONES MENCIONADAS SERÁN RESPONSABLES POR NINGÚN DAÑO DIRECTO, INDIRECTO, INCIDENTAL, ESPECIAL, EJEMPLAR O CONSECUENTE (INCLUYENDO,PERO NO LIMITADO A, LA ADQUISICIÓN DE BIENES O SERVICIOS; LA PÉRDIDA DE USO, DE DATOS O DE BENEFICIOS; O INTERRUPCIÓN DE LA ACTIVIDAD EMPRESARIAL) O POR CUALQUIER TEORÍA DE RESPONSABILIDAD, YA SEA POR CONTRATO, RESPONSABILIDAD ESTRICTA O AGRAVIO (INCLUYENDO NEGLIGENCIA O CUALQUIER OTRA CAUSA) QUE SURJA DE CUALQUIER MANERA DEL USO DE ESTE SOFTWARE, INCLUSO SI SE HA ADVERTIDO DE LA POSIBILIDAD DE TALES DAÑOS.'+
        '</div>

        <div style="max-width: 640px;display: block;padding: 4px 24px 20px 24px;border-color: gray;border-width: 10px;border-width: 5px;border-style: solid;margin: 20px auto;"><div style="text-align: center;margin-bottom: 2em;margin-top: 2em;"><img src="assets/img/ethicapp-logo.svg" alt="Ethicapp"> </div>Hola '+ fullname+'!<br><br> Bienvenido a EthicApp. Tu cuenta institucional está aprobada. Puedes ingresar a EthicApp y comenzar invitando a profesores a utilizarla, e incluso creando tu primera actividad. <br><br>'+
            +'<div style="text-align: center;"><a href="http://localhost:8501/login"><button style="background-color: #2649EC;border-color: #102AA0;color: white;">¡Comenzar!</button></a></div><br>'+
            'Te recordamos que en EthicApp usamos los datos generados por los usuarios con fines de investigación. Garantizamos la absoluta confidencialidad de los datos, y que los datos no los entregamos a terceras partes. En nuestras investigaciones reportamos los datos siempre a nivel agregado y nunca a nivel individual, ni revelando la identidad de los participantes.<br><br>'+
            'Las actividades basadas en EthicApp no presentan ningún riesgo a docentes ni estudiantes. EthicApp se entrega como servicio a los usuarios “tal cual”. Los desarrolladores de EthicApp quedan exentos de cualquier responsabilidad… [tenemos que ver si lo expresamos en forma similar a las licencias permisivas tipo BSD, MIT o Apache].<br><br>'+
            'EthicApp se reserva el derecho de suspender o terminar cuentas de usuario en caso que se detecte uso indebido del servicio.<br><br>'+
            'Deseamos a ti y a tus colegas el mayor éxito utilizando EthicApp en la enseñanza.<br><br>'+
            'Creadores de EthicApp'+
            '</div>

            <div style="max-width: 640px;display: block;padding: 4px 24px 20px 24px;border-color: gray;border-width: 10px;border-width: 5px;border-style: solid;margin: 20px auto;"><div style="text-align: center;margin-bottom: 2em;margin-top: 2em;"><img src="assets/img/ethicapp-logo.svg" alt="Ethicapp"> </div>Hola '+ fullname+'!<br><br> Lamentamos que tu solicitud de creación de cuenta institucional fue rechazada. Esto pudo deberse a que tu institución ya se encuentra registrada en EthicApp, o a información faltante en el proceso de registro.<br><br>'+
                'Puedes contactarnos a estudios-icc (at) miuandes.cl para buscar solución al problema.<br><br>'+
                'Un cordial saludo,<br><br>'+
                'Creadores de EthicApp'+
                '</div>
</body>
</html>
