<!DOCTYPE html>
<html lang="es" ng-app="Semantic">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>EthicApp</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="assets/libs/pdf.min.js"></script>
    <script src="assets/libs/rangy-core.min.js"></script>
    <script src="assets/libs/rangy-classapplier.min.js"></script>
    <script src="assets/libs/rangy-serializer.min.js"></script>
    <script src="assets/libs/textlayerbuilder.js"></script>
    <script src="assets/libs/angular.min.js"></script>
    <script src="assets/libs/angular-ui-tree.min.js"></script>
    <script src="assets/libs/angular-timer.min.js"></script>
    <script src="assets/libs/socket.min.js"></script>
    <script src="assets/libs/angular-ui-notification.min.js"></script>
    <script src="assets/js/semantic-ctrl.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/minimal.css">
    <link rel="stylesheet" href="assets/css/angular-ui-tree.min.css">
    <link rel="stylesheet" href="assets/css/angular-ui-notification.min.css">
    <link rel="stylesheet" href="assets/css/main.css"/>
</head>
<body>

<div class="editor-container" ng-controller="SemanticController">

    <div class="top-bar-mini cflex">
        <div class="cf1">
            <a href="seslist" class="simple-margin-left">
                <img src="assets/img/logo.png" class="logo-bar">
            </a>
        </div>
        <div class="cf3 grow text-center simple-padding-top hscroll" ng-show="iteration > 0">
            <span ng-repeat="st in sesStatusses">
                <span class="label label-primary bg-black-alpha" ng-class="{'bg-yellow': st.i==iteration}">{{st.name}}</span>
                <!-- <span ng-hide="$last">→</span> -->
            </span>
            <i class="fa fa-angle-right"></i>
            <!-- <span class="pull-right margin-right-24" ng-show="sesSTime != null">
                <timer start-time="sesSTime">{{hours}}h {{minutes}}m {{seconds}}s</timer>
            </span> -->
        </div>
        <div class="cf1 text-right margin-right-8 simple-padding-top">
            <a href="logout" class="text-white">
                <i class="fa fa-sign-out fa-2x"></i>
            </a>
        </div>
    </div>

    <div class="top-bar-mini">
        <span class="boxed" ng-bind="teamstr"></span>
    </div>

    <!-- <div class="top-bar-mini">
        <div class="text-center">
            <span ng-repeat="st in sesStatusses">
                <span class="label label-primary bg-black-alpha" ng-class="{'bg-yellow': st.i == iteration}" ng-bind="st.name"></span>
                <span ng-hide="$last">→</span>
            </span>
            <span class="pull-right margin-right-24" ng-show="sesSTime != null">
                <timer start-time="sesSTime">{{hours}}h {{minutes}}m {{seconds}}s</timer>
            </span>
        </div>
    </div> -->

    <!--<div class="top-bar-mini simple-padding-bottom">
        <strong>Factor detonante: </strong>
        <span style="color: yellow; font-size: 105%;" ng-bind="sesDescr"></span>
    </div>-->

    <div class="top-bar top-bar-tabs">
        <div class="qs-tabs" ng-show="iteration > 0 || myRole == 'P'">
            <div class="tab tab-text" ng-repeat="doc in documents" ng-class="{active: selectedDocument == $index, yellow: documents[selectedDocument].id ==doc.id}"
                 ng-click="selectDocument($index)">
                {{doc.title | limitTo:10}}
            </div>
            <div class="btab"></div>
            <div class="rtab">
                <a class="btn btn-sm btn-default" ng-show="iteration > 6" href="rubrica"><i class="fa fa-list-alt"></i></a>
                <button class="btn btn-sm btn-default margin-right-8" ng-show="iteration == 3 && followLeader" ng-click="takeControl()"><i class="fa fa-level-down"></i></button>
                <button disabled class="btn btn-sm btn-default margin-right-8" ng-show="iteration == 3 && !followLeader"><i class="fa fa-star"></i></button>
                <button class="btn btn-sm margin-right-8 btn-default" ng-if="iteration > 0 && iteration < 7" ng-click="finishState()" ng-class="{'btn-success': hasFinished || finished, 'border-white': hasFinished || finished}" ng-hide="myRole == 'P' && iteration > 0">
                    <i class="fa fa-check"></i></button>
            </div>
        </div>
    </div>

    <!--<div class="top-bar top-bar-student">
        <div class="col-sm-6 full-height">
            <span class="simple-margin-left" style="vertical-align: top;">Documentos: </span>
            <span ng-repeat="doc in documents" class="side-top-btn" ng-class="{'active': $index==selectedDocument, 'border-orange': hgDocs[$index]}" ng-click="selectDocument($index)">
                {{doc.title | limitTo:16}}
            </span>
            <!--<strong class="pull-right margin-top-8" ng-bind="iterationNames[iteration]"></strong>--
        </div>
        <div class="col-sm-6">
            <a onclick="window.history.back()" class="btn btn-sm btn-default pull-right">Atrás</a>
            <button disabled class="btn btn-sm btn-default pull-right" ng-show="iteration == 3 && !followLeader"><i class="fa fa-star"></i> Representante </button>
            <button class="btn btn-sm btn-default pull-right" ng-show="iteration == 3 && followLeader" ng-click="takeControl()">Tomar Control</button>
            <a class="btn btn-sm btn-default pull-right" ng-show="iteration > 6" href="rubrica">Ir a evaluación</a>
            <button class="btn btn-sm btn-default pull-right" ng-if="iteration > 0" ng-click="finishState()" ng-class="{'btn-success': hasFinished || finished}" ng-hide="myRole == 'P' && iteration > 0">
                <i class="fa fa-check"></i> Terminé</button>
            <span class="pull-right boxed" ng-bind="teamstr"></span>
        </div>
    </div>-->

    <div class="scrollable-container doble blue">
    <div class="mid-container qs-content simple-pad">
    <div class="vh50 boxed" ng-show="iteration > 0 || myRole == 'P'">
        <div>
            <h3>{{documents[selectedDocument].title}}</h3>
            <p class="text-justify"><span ng-repeat="sent in sentences track by $index" ng-class="{'bg-lightorange': highlight[selectedDocument][$index] && !views[$index], 'bg-lightgreen': views[$index]}"> 
                <input type="checkbox" ng-model="highlight[selectedDocument][$index]" ng-disabled="disabledSents[selectedDocument][$index]">{{sent}}</span></p>
        </div>
    </div>

    <div ng-show="iteration > 0 || myRole == 'P'">
        <div>
            <button class="btn btn-default pull-right" ng-click="addEmptyUnit()" ng-show="iteration < 4" ng-hide="myRole == 'P' && iteration > 0"
                    ng-disabled="finished || countHighlight() == 0 || editing != -1 || (iteration > 0 && units.length >= 3) || followLeader">
                <i class="fa fa-plus"></i> Agregar unidad semántica
            </button>
            <h4>Unidades Semánticas:</h4>
            <div class="margin-hor">
                <div class="row" ng-repeat="unit in units">
                    <div class="col-xs-2 col-md-1">
                        <button class="btn btn-default" ng-class="{'active': unit.edit, 'btn-warning': unit.edit}" ng-click="toggleEdit($index,unit)" ng-show="!finished && !followLeader">
                            {{unit.sentences.length}} <i class="fa fa-check-square"></i>
                        </button>
                        <button class="btn btn-default" ng-class="{'active': unit.viewing}" ng-click="startView(unit)" ng-show="finished || followLeader">
                            {{unit.sentences.length}} <i class="fa fa-check-square"></i>
                        </button>
                    </div>
                    <div class="col-xs-10 col-md-11">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="unit.comment" ng-change="unit.dirty = true" ng-disabled="finished || followLeader || (myRole == 'P' && iteration > 0)">
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-disabled="finished || !unit.dirty || followLeader || (myRole == 'P' && iteration > 0)" ng-click="addSemUnit(unit)">
                                    <i class="fa fa-check" ng-show="!unit.dirty"></i>
                                    <span ng-show="!unit.dirty">Enviado</span>
                                    <i class="fa fa-send" ng-show="unit.dirty"></i>
                                    <span ng-show="unit.dirty">Por Enviar</span>
                                </button>
                                <button class="btn btn-default" ng-disabled="finished || followLeader || (myRole == 'P' && iteration > 0)" ng-click="deleteUnit($index,unit)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="margin-hor">
            <div>
                <div class="row bordered" ng-repeat="unit in unitsIter3">
                    <div class="col-xs-2 col-md-1">
                        <button class="btn btn-default" ng-class="{'active': unit.viewing}" ng-click="startView(unit)">
                            {{unit.sentences.length}} <i class="fa fa-check-square"></i>
                        </button>
                    </div>
                    <div class="col-xs-10 col-md-11 simple-padding-top">
                        <strong>Grupal</strong>: <span ng-bind="unit.comment"></span>
                    </div>
                    <hr>
                </div>
                <div class="row bordered" ng-repeat="unit in unitsIter1">
                    <div class="col-xs-2 col-md-1">
                        <button class="btn btn-default" ng-class="{'active': unit.viewing}" ng-click="startView(unit)">
                            {{unit.sentences.length}} <i class="fa fa-check-square"></i>
                        </button>
                    </div>
                    <div class="col-xs-10 col-md-11 simple-padding-top">
                        <strong ng-bind="teamNames[unit.uid]"></strong>: <span ng-bind="unit.comment"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <div class="report-window" ng-if="writingReport" ng-controller="ReportController">
        <div class="bar">
            <span>Reporte</span>
            <div class="pull-right">
                <span ng-show="lastSent != null && isFull">Enviado {{lastSent | date:'HH:mm'}}</span>
                <button class="btn btn-sm btn-primary" ng-click="sendReport()" ng-show="isFull && !finished"
                        ng-disabled="!misc.reportDirty">
                        <i class="fa fa-check " ng-show="!misc.reportDirty && lastSent != null"></i>
                        <span ng-show="!misc.reportDirty && lastSent != null">Enviado</span>
                        <i class="fa fa-send" ng-show="misc.reportDirty || (!misc.reportDirty && lastSent == null) "></i>
                        <span ng-show="(!misc.reportDirty && lastSent == null) || misc.reportDirty ">Por Enviar</span>
                </button>
                <button class="btn btn-sm btn-primary" ng-click="toggleFull()">
                    <i class="fa fa-caret-down" ng-show="isFull"></i>
                    <i class="fa fa-caret-up" ng-show="!isFull"></i>
                </button>
            </div>
        </div>
        <div class="content" ng-show="isFull">
            <textarea class="form-control" ng-model="content" ng-disabled="finished" ng-change="misc.reportDirty = true"></textarea>
        </div>
    </div>

    <div class="splash" ng-if="iteration == -1 && myRole != 'P'">
        <div class="splash-box">
            <h3><i class="fa fa-clock-o"></i> Sesión en espera</h3>
            <h5>Espere a que el profesor indique el inicio de la actividad.</h5>
            <h5>Esta página se recargará automáticamente cuando comience.</h5>
        </div>
    </div>

</div>

</body>
</html>