<h2>{{'activities' | translate}}</h2>
<button class="btn btn-primary" ng-click="selectView('launchActivity')"
    style="margin-bottom: 2rem; margin-top: 1rem;">{{'launchActivity' | translate}}</button>
<div ng-controller="ActivityController">
    <div class="tab_cs" ng-init="dsgnMode=0">
        <button class="tab_cs" ng-click="dsgnMode=0" ng-class="{'btn_selected': dsgnMode == 0}">
            {{'currentTab' | translate}}
        </button>
        <button class="tab_cs" ng-click="dsgnMode=1" ng-class="{'btn_selected': dsgnMode == 1}">
            {{'finishedTab' | translate}}
        </button>
        <button class="tab_cs" ng-click="dsgnMode=2" ng-class="{'btn_selected': dsgnMode == 2}">
            {{'archived' | translate}}
        </button>
        <div style="float: left;display: flex;justify-content: left;align-items: center;">
            <input class="form-control text-left search-input fontAwesome" 
                type="text" placeholder="{{'search'|translate}} &#xF002;" 
                ng-model="userSearch">
        </div>
    </div>
    <div class="container" 
        style="overflow: scroll; max-height: 40em; min-height: 10em; border: #bbb 1px solid;"
        ng-controller="DialogCtrl">
        <div class="activities_container" style="margin-top: 2em;">
            <!-- Activities in "active" state -->
            <div class="list-group-item"
                ng-repeat="act in getOngoingActivities() | filter:{title:userSearch} | orderBy : '-time'"
                ng-if="dsgnMode==0">
                <div>
                    <h4 class="list-group-item-heading" ng-bind="act.name"></h4>
                    <p class="list-group-item-text" ng-if="act.type == 'R'">
                        {{'ranking_activity'|translate}}
                    </p>
                    <p class="list-group-item-text" ng-if="act.type != 'R'">
                        {{'semantic_differential'|translate}}
                    </p>
                    <p class="list-group-item-text" ng-bind="act.descr"></p>
                    <p class="list-group-item-text">
                        {{'launched' | translate}} {{act.time | date}}
                    </p>
                    <p class="list-group-item-text">
                        <b>{{'code' | translate}}: {{act.code}}</b>
                    </p>
                </div>
                <div class="text-right vertical-align">
                    <button class="btn btn-primary ml-1"
                        ng-click="openActivity(act.id)">
                        {{'gotoActivity' | translate}}
                    </button>
                </div>
            </div>
            <!-- Activities in "finished" state -->
            <div class="list-group-item"
                ng-repeat="act in getFinishedActivities() | filter:{title:userSearch} | orderBy : '-time'"
                ng-if="dsgnMode==1">
                <div>
                    <h4 class="list-group-item-heading" ng-bind="act.name"></h4>
                    <p class="list-group-item-text" ng-if="act.type == 'R'">
                        {{'ranking_activity'|translate}}
                    </p>
                    <p class="list-group-item-text" ng-if="act.type != 'R'">
                        {{'semantic_differential'|translate}}
                    </p>
                    <p class="list-group-item-text" ng-bind="act.descr"></p>
                    <p class="list-group-item-text">
                        {{'launched' | translate}} {{act.time | date}}
                    </p>
                    <p class="list-group-item-text">
                        {{'code' | translate}}: {{act.code}}
                    </p>
                </div>

                <div class="text-right vertical-align">
                    <button class="btn btn-primary " title="{{'file'|translate}}" 
                            ng-click="archiveActivity(act, $event)"><i
                            class="fa fa-inbox"></i></button>
                    <button class="btn btn-primary ml-1"
                        ng-click="openActivity(act.id)">
                        {{'gotoActivity' | translate}}
                    </button>
                </div>
            </div>
            <!-- Activities in "archived" state -->
            <div class="list-group-item"
                ng-repeat="act in getArchivedActivities() | filter:{title:userSearch}  | orderBy : '-time'"
                ng-if="dsgnMode==2">
                <div>
                    <h4 class="list-group-item-heading" ng-bind="act.name"></h4>
                    <p class="list-group-item-text" ng-if="act.type == 'R'">
                        {{'ranking_activity'|translate}}
                    </p>
                    <p class="list-group-item-text" ng-if="act.type != 'R'">
                        {{'semantic_differential'|translate}}
                    </p>
                    <p class="list-group-item-text" ng-bind="act.descr">
                    </p>
                    <p class="list-group-item-text">
                        {{'launched' | translate}} {{act.time | date}}
                    </p>
                    <p class="list-group-item-text">
                        {{'code' | translate}}: {{act.code}}
                    </p>
                </div>
                <div class="text-right vertical-align">
                    <button class="btn btn-primary " 
                        title="{{'restore'|translate}}" ng-click="restoreActivity(act, $event)">
                        <i class="fa fa-undo"></i></button>
                    <button class="btn btn-primary ml-1"
                        ng-click="openActivity(act.id)">
                        {{'gotoActivity' | translate}
                    }</button>
                </div>
            </div>
        </div>
    </div>
</div>