<h2>{{'actDesigns'|translate}}</h2>
<button class="btn btn-primary createDesignBtn" ng-click="selectView('newDesign')">{{'createDesign' | translate}}</button>
<p class="designContext">{{'designContext' | translate}}</p>
<div ng-controller="BrowseDesignsController">
    <div class="tab_cs" ng-init="dsgnMode= tab">
        <button class="tab_cs" ng-click="dsgnMode=0" ng-class="{'btn_selected': dsgnMode == 0}">
            {{'yours'|translate}}
        </button>
        <button class="tab_cs" ng-click="dsgnMode=1" ng-class="{'btn_selected': dsgnMode == 1}">
            {{'byOthers'|translate}}
        </button>
        <div style="float: left;display: flex;justify-content: left;align-items: center;">
            <input class="form-control text-left search-input fontAwesome" type="text" placeholder="{{'search'|translate}}  &#xF002;" ng-model="userSearch">
        </div>
    </div>
    <div class="wrapper">
        <div class="container" style="overflow: scroll; max-height: 40em; min-height: 10em; border: #bbb 1px solid;"
            ng-if="selectedView=='designs'">
            <div class="activities_container" style="margin-top: 2em;">
                <div class="list-group pad-content">
                    <div class="list-group-item" ng-repeat="des in userDesigns | filter:userSearch" ng-if="dsgnMode==0">
                        <div>
                            <h4 class="list-group-item-heading" ng-bind="des.metainfo.title"></h4>
                            <p class="list-group-item-text" ng-if="des.type == 'ranking'">{{'ranking_activity'|translate}}</p>
                            <p class="list-group-item-text" ng-if="des.type != 'ranking'">{{'semantic_differential'|translate}}</p>
                            <p class="list-group-item-text"></p>
                            <p class="list-group-item-text">{{'created' | translate}} {{des.metainfo.creation_date | date}}
                            </p>
                        </div>
                        <div class="text-right vertical-align">
                            <img class="locked-svg" ng-show="des.locked"
                                src="../../assets/images/iconsets/gray-lineart/design-lock-active.svg" alt="SVGLocked">
                            <button class="btn btn-primary btn-smaller ml-1"
                                ng-click="launchActivityWithDesign(des.id)">{{'launchActivity' |
                                translate}}</button>
                            <button class="btn btn-primary btn-smaller ml-1" ng-click="openDesignForEditing(des.id)"
                                ng-hide="des.locked">{{'edit' |
                                translate}}</button>
                            <button class="btn btn-primary btn-smaller ml-1" ng-click="openDesignForViewing(des.id)">{{'view' |
                                translate}}</button>
                            <button class="btn btn-danger btn-smaller ml-1" ng-click="deleteDesign(des.id)"
                                ng-hide="des.locked">{{'delete' |
                                translate}}</button>
                            <div class="ml-1">
                                <label class="switch">
                                    <input type="checkbox" ng-checked="des.public" ng-click="togglePublic(des.id)">
                                    <span class="slider round"></span>
                                </label>
                                <p class="share-paragraph">{{'share'|translate}}</p>
                            </div>
                        </div>
                    </div>
                    <!--PUBLIC-->
                    <div class="list-group-item" ng-repeat="des in publicDesigns | filter:userSearch" ng-if="dsgnMode==1">
                        <div>
                            <h4 class="list-group-item-heading" ng-bind="des.metainfo.title"></h4>
                            <p class="list-group-item-text" ng-if="des.type == 'ranking'">
                                {{'ranking_activity'|translate}}</p>
                            <p class="list-group-item-text" ng-if="des.type != 'ranking'">{{'semantic_differential'|translate}}</p>
                            <p class="list-group-item-text">
                                {{'created' | translate}} {{des.metainfo.creation_date | date}}
                            </p>
                        </div>

                        <div class="text-right vertical-align">
                            <button class="btn btn-primary btn-smaller" ng-click="openDesignForViewing(des.id)">{{'view' |
                                translate}}</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="help_panel">
            <img src="../../assets/images/iconsets/exclamation-mark.png" alt="!"
                class="exclamation-mark-image">
            <div class="help-container">
                <p class="help-paragraph">
                    {{'designsPanel1' | translate}}
                </p>
                <p class="help-paragraph">
                    {{'designsPanel2' | translate}}
                </p>
            </div>
        </div>
    </div>
</div>