<div class="" ng-controller="StagesEditController" ng-if="selectedView == 'editDesign'">
    <div class="container">
        <h2>{{'designMsg'|translate}}</h2>
        <div class="" ng-controller="DesignsDocController"> <!--ng-controller="DocumentsController"-->
            <div class="row margin-top-8">
                <div class="col-xs-6 text-right">
                    <input type="text" class="form-control input-lg mb-3" ng-model="design.metainfo.title"
                        ng-class="{'error': isEmpty(design.metainfo.title, '')}">
                </div>
            </div>
            <h4>{{'documents' | translate}}</h4>
            <div class="list-group mt-1medio" style="margin-bottom: 0">
                <div class="list-group-item inline-docs" ng-repeat="doc in documents">
                    <i class="fa fa-file-text-o"></i> <strong ng-bind="getPathname(doc.path)"></strong>
                    <button class="btn btn-xs btn-default" ng-disabled="false" ng-click="openPDFInNewTab(doc.path)">
                        {{ 'viewOriginalDoc'| translate }}
                    </button>
                    <button class="btn btn-xs btn-default" ng-disabled="false"
                        ng-click="deleteDesignDocument(doc.id)">{{'delete' | translate}}</button>
                </div>
            </div>
            <br>
            <div ng-hide="documents.length>0">
                <label>{{'add' | translate}} {{'document' | translate}}:</label>
                <form id="doc-form" class="row" ng-submit="uploadDesignDocument($event)" enctype="multipart/form-data">
                    <div class="col-sm-4">
                        <input type="file" class="form-control" name="pdf" ng-disabled="busy" required>
                        <input type="text" ng-value="getDesignId()" name="dsgnid" hidden> <!--DESIGN ID-->
                    </div>
                    <div class="col-sm-2">
                        <button class="form-control btn btn-default" ng-disabled="busy">{{'add'|translate}}<i
                                ng-show="busy" class="fa fa-spinner fa-pulse"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <hr>
    </div>

    <div class="wrapper">
        <div class="container ml-n3">
            <div class="container phase_container">
                <div class="row">
                    <div class="col-xs-1 phase_element" ng-repeat="item in getStages()" ng-init="current"
                        ng-class="{phase_selected:currentStage==$index, error: checkPhase($index)}"
                        ng-click="selectStage($index)">
                        {{'stage' | translate}} {{$index+ 1}}
                        {{'mode' | translate}}: {{item.mode|translate}}
                    </div>
                </div>
            </div>
            <div class="container margin_container">
                <div class="row">
                    <button class="btn btn-primary" ng-click="addStage()">+ {{'add'|translate}}
                        {{'stage'|translate}}</button>
                    <button class="btn btn-danger" ng-click="deleteStage()"
                        ng-show="design.phases.length > 1 && currentStage != null && currentStage != 0">{{'delete'|translate}}
                        {{'stage'|translate}}</button>
                </div>
            </div>



            <div class="container stage_container" ng-show="currentStage != null">
ç                <div class="row">
                    <h4 class="col-lg-2"><strong>{{'stage' | translate}} #{{currentStage+1}}</strong></h4>
                    <h4 class="col-lg-4" ng-show="currentStage == 0"><strong>{{'modeType' | translate}}:</strong>
                        {{design.phases[currentStage].mode|translate}} </h4>
                </div>

                <!--STAGE 2 AND FOWARD-->
                <div ng-if="currentStage>0">
                    <div class="row margin-top-8 mb-2">
                        <label class="col-lg-2">{{'modeType' | translate}}:</label>
                        <div class="col-lg-3">
                            <select class="form-control form-inline-med"
                                ng-options="x.key as (x.name | translate) for x in groupType"
                                ng-model="design.phases[currentStage].mode"></select>
                        </div>
                    </div>
                    <div ng-if="design.phases[currentStage].mode == 'team'">
                        <div class="row margin-top-8">
                            <label class="col-lg-2">{{'groupingMethod' | translate}}:</label>
                            <div class="col-lg-3">
                                <select class="form-control form-inline-med"
                                    ng-init="design.phases[currentStage].grouping_algorithm"
                                    ng-options="x.key as (x.name | translate) for x in methods"
                                    ng-model="design.phases[currentStage].grouping_algorithm"></select>
                                <!--EDIT LATER-->
                            </div>
                        </div>
                        <div class="row margin-top-8">
                            <label class="col-lg-2">{{'studentsPerGroup' | translate}}:</label>
                            <div class="col-lg-2">
                                <input type="number" id="points" name="length" step="1" min="2" class="form-control"
                                    ng-model="design.phases[currentStage].stdntAmount"
                                    style="width: 6em; text-align: center; height: 2em;"> <!--EDIT LATER-->
                            </div>
                        </div>
                    </div>
                    <!--EXTRA OPTIONS-->
                    <div ng-if="design.phases[currentStage].mode == 'team'">
                        <a ng-click="toggleOpts(1)">{{'advOpts'|translate}}</a>
                        <div ng-show="extraOpts" class="question_container mt-1medio">
                            <div class="row margin-top-8">
                                <label class="col-lg-2">{{'studentAnon'|translate}}:</label>
                                <div class="col-lg-1">
                                    <input type="radio" name="anon" ng-value="true"
                                        ng-model="design.phases[currentStage].anonymous">
                                    <label>{{'yes'|translate}}</label>
                                </div>
                                <div class="col-lg-1">
                                    <input type="radio" name="anon" ng-value="false"
                                        ng-model="design.phases[currentStage].anonymous">
                                    <label>{{'no'|translate}}</label>
                                </div>
                                <div class="col-lg-3 ">
                                    <div ng-click="toggleOpts(2)" style="cursor: pointer;">
                                        {{'viewPastSes'|translate}}:
                                    </div>
                                    <div class="stack_top stage_container" ng-show="prevStages"
                                        style="z-index: 2; position:absolute; background:#fff; border: 2px #bbb solid; width:10em;">
                                        <div ng-repeat="n in buildArray(currentStage)">
                                            <input type="checkbox" name="prevStage" checklist-value="n-1"
                                                checklist-model="design.phases[currentStage].prevPhasesResponse[n-1]">
                                            <label for="S{{n}}">{{'stage'|translate}}: {{n}}</label>
                                            <!--FIX TOGGLE OPTION-->
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row margin-top-8">
                                <label class="col-lg-2">{{'activeChat'|translate}}:</label>
                                <div class="col-lg-1">
                                    <input type="radio" name="chat" ng-value="true"
                                        ng-model="design.phases[currentStage].chat">
                                    <label>{{'yes'|translate}}</label>
                                </div>
                                <div class="col-lg-1">
                                    <input type="radio" name="chat" ng-value="false"
                                        ng-model="design.phases[currentStage].chat">
                                    <label>{{'no'|translate}}</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div ng-show="stageType == 'semantic_differential'">
                    <!--TABS QUESTIONS-->
                    <div class="tab_cs">
                        <button ng-repeat="i in buildArray(design.phases[currentStage].questions.length)" class="tab_cs"
                            ng-click="selectQuestion($index)"
                            ng-class="{'btn_selected': currentQuestion == $index, 'error': checkQuestion($index)}">
                            {{'question'|translate}} {{i}}
                        </button>
                        <button class="tab_cs" ng-click="addQuestion()">
                            + {{'add'|translate}}
                        </button>
                    </div>
                </div>
                <div class="question_container">
                    <!--Semantic Differential-->
                    <div ng-show="stageType == 'semantic_differential'">
                        <div class="row">
                            <label class="col-lg-2">{{'questionText'|translate}}</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control text-center" ng-disabled="readonly"
                                    ng-class="{'error': isEmpty(design.phases[currentStage].questions[currentQuestion].q_text,'q')}"
                                    placeholder="{{'title'|translate}}"
                                    ng-model="design.phases[currentStage].questions[currentQuestion].q_text">
                            </div>
                        </div>
                        <label class="margin-top-8">{{'semanticDiffEscale'|translate}}</label>
                        <div class="row margin-top-8">
                            <div class="col-xs-3 text-right">
                                <div class="tlabel">
                                    <input type="text" class="form-control" ng-disabled="readonly"
                                        ng-class="{'error': isEmpty(design.phases[currentStage].questions[currentQuestion].ans_format.l_pole, 'l')}"
                                        placeholder="{{'left'|translate}}"
                                        ng-model="design.phases[currentStage].questions[currentQuestion].ans_format.l_pole">
                                </div>
                                <button class="btn btn-default" ng-click="amountOptions('-')"
                                    ng-disabled="num==2">-</button>
                            </div>
                            <div class="dopts col-xs-6">
                                <div class="option eq-space" ng-repeat="i in buildArray(num)">{{i}}</div>
                            </div>
                            <div class="col-xs-3">
                                <button class="btn btn-default" ng-click="amountOptions('+')"
                                    ng-disabled="num==10">+</button>
                                <div class="tlabel">
                                    <input type="text" class="form-control" ng-disabled="readonly"
                                        ng-class="{'error': isEmpty(design.phases[currentStage].questions[currentQuestion].ans_format.r_pole, 'r')}"
                                        placeholder="{{'right'|translate}}"
                                        ng-model="design.phases[currentStage].questions[currentQuestion].ans_format.r_pole">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-top-24">
                            <label class="col-lg-2">{{'mandatoryComment'|translate}}</label>
                            <div class="col-lg-1">
                                <input type="radio" name="comment" ng-value="true"
                                    ng-model="design.phases[currentStage].questions[currentQuestion].ans_format.just_required">
                                <label>{{'yes'|translate}}</label>
                            </div>
                            <div class="col-lg-1">
                                <input type="radio" name="comment" ng-value="false"
                                    ng-model="design.phases[currentStage].questions[currentQuestion].ans_format.just_required">
                                <label>{{'no'|translate}}</label>
                            </div>
                        </div>
                        <div class="row margin-top-24">
                            <label class="col-lg-2">{{'minComment'|translate}}</label>
                            <div class="col-lg-1">
                                <input type="number" id="points" name="length" step="1" min="5" class="form-control"
                                    ng-model="design.phases[currentStage].questions[currentQuestion].ans_format.min_just_length"
                                    style="width: 6em; text-align: center; height: 2em;">
                            </div>
                            <label class="col-lg-2 ml-1" for="length">{{'words'|translate}}</label>
                        </div>
                    </div>
                    <!--ANOTHER OPTION-->
                    <div ng-show="stageType == 'ranking'">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>{{ 'question' | translate }}</label>
                                <textarea rows="2" class="form-control" ng-model="design.phases[currentStage].q_text"
                                    ng-disabled="readonly"
                                    ng-class="{'error': IsTextEmpty($index, design.phases[currentStage].q_text)}"></textarea>
                            </div>
                            <div class="col-sm-5">
                                <h4>{{ 'listOf' | translate }} {{ 'roles' | translate }}/{{ 'actors' |
                                    translate }}</h4>
                            </div>
                            <div class="text-center mt-1medio pt-8">
                                <button class="btn btn-default" ng-click="setAllRolesType('role')"
                                    ng-disabled="readonly">
                                    {{ 'justifyAll' | translate }} {{ 'roles' | translate }}
                                </button>
                                <button class="btn btn-default" ng-click="setAllRolesType('order')"
                                    ng-disabled="readonly">
                                    {{ 'justifyAll' | translate }} {{ 'orders' | translate }}
                                </button>
                                <button class="btn btn-default" ng-click="addRole()" ng-disabled="readonly">
                                    <i class="fa fa-plus"></i> {{ 'add' | translate }} {{ 'role' | translate }}
                                </button>
                            </div>

                        </div>
                        <div class="row row-border" ng-repeat="role in design.phases[currentStage].roles">
                            <div class="col-sm-5">
                                <input class="form-control" ng-model="role.name" ng-disabled="readonly"
                                    ng-class="{'error': IsTextEmpty($index, role.name)}">
                            </div>
                            <div class="col-sm-2 text-center">
                                <button class="btn btn-default" ng-class="{'btn-primary': role.type == 'role'}"
                                    ng-click="setRoleType(role, 'role')" ng-disabled="readonly">
                                    {{ 'justify' | translate }} {{ 'role' | translate }}
                                </button>
                            </div>
                            <div class="col-sm-2 text-center">
                                <button class="btn btn-default" ng-class="{'btn-primary': role.type == 'order'}"
                                    ng-click="setRoleType(role, 'order')" ng-disabled="readonly">
                                    {{ 'justify' | translate }} {{ 'order' | translate }}
                                </button>
                            </div>
                            <div class="col-sm-2 text-right">
                                <p class="word-count-p">{{'words'|translate}}</p>
                                <input class="form-control word-count-roles" placeholder="Word Count" type="number"
                                    min="1" ng-model="role.wc" ng-disabled="readonly || role.type == null">
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-default">
                                    <i class="fa fa-trash" ng-click="removeRole($index)" ng-disabled="readonly"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <button class="btn btn-danger margin-top-24 mb-2" ng-click="deleteQuestion(currentQuestion)"
                    ng-show="design.phases[currentStage].questions.length > 1">{{'delete'|translate}}
                    {{'question'|translate}}</button>
            </div>
        </div>
        <div class="help_panel">
            <img src="../../assets/images/iconsets/exclamation-mark.png" alt="!"
                class="exclamation-mark-image">
            <div class="help-container">
                <p class="help-paragraph">{{'newDesignsPanel1' | translate}}
                </p>
                <p class="help-paragraph">{{'newDesignsPanel2' | translate}}
                </p>
            </div>

        </div>

    </div>
    <!--Phases selections-->

    <div ng-show="saved">
        <h4 style="color:rgb(33, 121, 15); text-align: center; "><strong>{{'savedSuccess'|translate}}</strong></h4>
    </div>
    <div ng-show="error">
        <h4 style="color:red; text-align: center; "><strong>{{'errorSave'|translate}}</strong></h4>
    </div>
    <div class="row flex-justify-left ml-1" style="margin-bottom: 5em;">
        <button class="btn btn-success w-17" ng-click="updateDesign()">{{'save'|translate}}</button>
        <button class="btn btn-primary w-17" ng-click="launchDesignFromEditor(ses.id, ses.metainfo.title, ses.type)"
            style="margin-left: 1em;">{{'launchActivity'|translate}}</button>
    </div>

</div>


<!--
    Si encuentra errores, marque las fases, preguntas en rojo junto con los textboxes
-->