<h2>{{'launchActivity' | translate}}</h2>
<br>
<p>{{'chooseDesignLaunch' | translate}}</p>
<br>
<div ng-controller="GroupController">
    <div class="launchActivity-wrapper">
        <div ng-controller="ActivityController" ng-if="selectedView=='launchActivity'" class="launchActivityDiv">
            <div ng-controller="BrowseDesignsController">
                <div ng-init="initValues()" ng-show="getSelectedDesignId() == null">
                    <div clas="col-lg-1">
                        <input class="form-control launchActivity-search fontAwesome"
                            type="text" placeholder="{{'search'|translate}}  &#xF002;"
                            ng-model="userSearch">
                    </div>
                    <div class="container launchActivityContainer">
                        <div class="list-group-item dsgn" ng-repeat="des in userDesigns | filter:userSearch "
                            ng-click="setSelectedDesign(des.id)"
                            ng-class="{'dsgn_sel': getSelectedDesignId() == des.id}">
                            <div>
                                <h4 class="list-group-item-heading" ng-bind="ses.metainfo.title"></h4>
                                <p class="list-group-item-text">{{'created' | translate}} {{ses.metainfo.creation_date |
                                    date}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="getSelectedDesignId() != null">
                    <div class="container launchActivityContainer">
                        <div class="list-group-item dsgn" ng-repeat="des in userDesigns | filter:getSelectedDesignId()"
                            ng-click="setSelectedDesign(des.id)"
                            ng-class="{'dsgn_sel': getSelectedDesignId() == des.id}">
                            <div>
                                <h4 class="list-group-item-heading" ng-bind="ses.metainfo.title"></h4>
                                <p class="list-group-item-text">{{'created' | translate}} {{ses.metainfo.creation_date |
                                    date}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                 <p>{{'giveDesignLaunch' | translate}}</p>
                 <!-- createSession(designTitle, descr, designType, designId) -->
                <form ng-submit="launchActivity(designId, instanceDescription)">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" class="form-control launchActivityInput" 
                                ng-model="instanceDescription" required>
                        </div>
                    </div>
                    <div ng-show="error">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4 style="color:red; text-align: center; "><strong>
                                    El diseño contiene valores no válidos, por
                                    favor editar antes de utilizarlo.</strong>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="btn btn-primary" ng-disabled="designId == null">
                                {{'launchActivity' | translate}}
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="loading-container" ng-show="showSpinner">
                            <i class="fa fa-spinner fa-spin"></i>
                            <p>{{ 'Preparando dashboard para la actividad...' | translate }}</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="help_panel">
            <img src="../../assets/images/iconsets/exclamation-mark.png" alt="!" class="exclamation-mark-image">
            <div class="help-container">
                <p class="help-paragraph">
                    {{'launchActivityPanel1' | translate}}
                </p>
                <p class="help-paragraph">
                    {{'launchActivityPanel2' | translate}}
                </p>
            </div>
        </div>
    </div>
</div>