<br>
<br>
<a ng-click="selectView('')">{{'back'|translate}}</a> <!--MERGE VIEW WITH EXT VERSION-->
<br>
<h2>{{'designMsg'|translate}}</h2>
<div>
    <div class="modal-header pl-0">
        <h4>{{'designMsgInfo'|translate}}</h4>
    </div>
    <form class="modal-body form-new-design" name="formDesign" ng-controller="StagesEditController"
        ng-if="selectedView == 'newDesign'">
        <div class="wrapper_nd">
            <div class="line-form-nd">
                <div class="line-row-nd">
                    <label>{{'activityType'|translate}}</label>
                    <select ng-model="selectedOption" class="form-control line_input w-22" ng-required="true">
                        <option value="" selected disabled>{{'selectActivityType'|translate}}</option>
                        <option value="semantic_differential">{{'semantic_differential'|translate}}</option>
                        <option value="ranking">{{'ranking_activity'|translate}}</option>
                    </select>
                </div>
                <div class="line-row-nd">
                    <label>{{'title'|translate}}:</label>
                    <input type="text" class="form-control line_input" name="name" ng-model="title" ng-required="true">
                </div>
            </div>
            <div class="vertical_help_panel">
                <img src="../../assets/images/iconsets/exclamation-mark.png" alt="!"
                    class="exclamation-mark-image">
                <div class="vertical-help-container">
                    <p ng-show="selectedOption === ''">{{'selectActivityType'|translate}}</p>
                    <p ng-show="selectedOption === 'semantic_differential'">{{'SemanticDescription'|translate}}</p>
                    <p ng-show="selectedOption === 'ranking'">{{'RankingDescription'|translate}}</p>
                </div>
            </div>
        </div>
        <br>
        <hr class="mt-1medio">
        <br>
        <div class="new-design-bottom">
            <button class="btn btn-primary"
                ng-click="formDesign.$valid && uploadDesign(title,'template', selectedOption)"
                type="submit">{{'next'|translate}}</button>
        </div>
    </form>
</div>